In [2]:
import pandas as pd
import nltk
import re

import glob
import io
import numpy as np

## Job Titles list

In [3]:
with open('CityofLA/Job Bulletins/311 DIRECTOR  9206 041814.txt', encoding = 'utf-8') as f:
    print(f.readlines())

['311 DIRECTOR\n', 'Class Code:       9206\n', 'Open Date:  04-18-14\n', 'ANNUAL SALARY \n', '\n', '$125,175 to $155,514 \n', '\n', 'DUTIES\n', '\n', "A 311 Director is responsible for the successful operation and expansion of the 311 Call Center in the Information Technology Agency (ITA) which answers call from constituents regarding Citywide services provided by City departments; works to ensure the efficient and effective resolution of any issues that may arise; plans, directs, hires, coaches, and coordinates a large staff of professional, technical and clerical employees engaged in the implementation, administration, and operations of the City's 311 Call Center; applies sound supervisor principles and techniques in building and maintaining and effective work force; fulfills equal opportunity responsibilities; and does related work.\n", '\n', 'REQUIREMENTS\n', '\n', '1. One year of full-time paid experience as a Senior Management Analyst with the City of Los Angeles or in a class which is at least at the level which provides professional experience in supervisory or managerial work relating to a call center with at least 50 call agents or a call center that receives at least one million calls annually; or\n', "2. A Bachelor's degree from a recognized college or university and four years of full-time paid experience in a call center environment with at least 50 call agents or a call center that receives at least one million calls annually, two years of which must be supervising staff working at such a call center; or\n", '3. Eight years of full-time paid experience in a call center environment with at least 50 call agents or call center that receives at least one million calls annually, two years of which must be supervising staff working at such a call center.\n', '\n', 'NOTES:\n', '\n', '1. In addition to the regular City application, all applicants must complete a 311 Director Qualifications Questionnaire at the time of filing.  The 311 Director Qualifications Questionnaire is located within the Qualifications Questions section of the City application.  Applicants who fail to complete the Qualifications Questionnaire will not be considered further in this examination, and their application will not be processed.\n', '2. Applicants who lack six months or less of the required experience may file for this examination. However, they cannot be appointed until the full experience requirement is met.\n', '3. Call center experience related to sales and telemarketing is excluded.\n', '4. Customer Relations Management (CRM) systems expertise, including implementation, integration, and knowledge base creation is highly desired. \n', '\n', 'WHERE TO APPLY\n', '\n', 'Applications will only be accepted online. When you are viewing the online job bulletin of your choice, simply scroll to the top of the page and select the "Apply" icon. Online job bulletins are also available at http://agency.governmentjobs.com/lacity/default.cfm for Open Competitive Examinations and at http://agency.governmentjobs.com/lacity/default.cfm?promotionaljobs=1 for Promotional Examinations. \n', '\n', 'NOTE:\n', '\n', "Should a large number of qualified candidates file for this examination, an expert review committee may be assembled to evaluate each candidate's qualifications for the position of 311 Director. In this evaluation, the expert review committee will assess each applicant's training and experience based upon the information in the applicant's City employment application and the Qualifications Questionnaire. Those candidates considered by the expert review committee as possessing the greatest likelihood of successfully performing the duties of a 311 Director, based solely on the information presented to the committee, will be invited to participate in the interview. \n", '\n', 'APPLICATION DEADLINE\n', '\n', 'Applications must be received by THURSDAY, MAY 1, 2014.\n', '\n', 'In accordance with Civil Service Rule 4.2, all applicants who apply may not be tested in this examination. To meet anticipated hiring needs, only a limited number of qualified applicants will be invited to participate in the interview in the following order: 1) Los Angeles City Promotional applicants who meet the minimum requirements. You must have received a regular appointment to a City position or be on a reserve list to apply for this examination as a promotional candidate; 2) Applicants currently employed by the City of Los Angeles on a part-time or exempt basis who meet the minimum requirements; 3) Remaining applicants who meet the minimum requirements in sufficient numbers to meet hiring needs in the order that applications were received. Applications submitted during the filing period will be kept on file for two years from April 18, 2014 in the event that additional applicants need to be tested to meet hiring needs. \n', '\n', 'SELECTION PROCESS\n', '\n', 'Examination Weight: Interview . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 100%\n', '\n', "The examination will consist entirely of an evaluation of qualifications by interview.  In the interview, emphasis may be placed on the candidate's experience and background as they provide the knowledge of: principles, practices, and techniques of managing a large scale call center; City budgetary, administrative, and legislative rules and regulations; safety principles and practices; telephony, voice recording, Interactive Voice Response (IVR), and Customer Relations Management (CRM) systems; mobile application, e-mail, and social media; call center optimization strategies such as process re-engineering, multi-channel strategy, call center consolidation, and technology solution investigation; training techniques, including curriculum development; principles and practices of supervision, including, directing, assigning, motivating, mentoring, training, counseling, disciplining, commending, and evaluating the work of subordinates; pertinent City and Personnel Department rules, policies, and procedures, including Equal Employment Opportunity; and ability to manage the daily operations and coordinate large scale, City-wide projects of a call center; hire, direct, evaluate, and coordinate the work of a large group of professional, technical, and clerical employees; prepare and present effective oral and written reports and recommendations; communicate effectively in public and to groups; deal tactfully and effectively with a variety of individuals; and other necessary skills, knowledge, and abilities.\n", '\n', 'Candidates will be notified later by mail of the date, time, and location of the interview, which will be held in Los Angeles. It is anticipated that the interviews will begin during the period of JULY 7, 2014 through JULY 18, 2014.\n', '\n', 'NOTES:\n', '\n', '1. As a covered entity under the Fair Employment and Housing Act and Title II of the Americans with Disabilities Act, the City of Los Angeles does not discriminate on the basis of disability and upon request, will provide reasonable accommodations to ensure equal access to its programs, services, and activities.  To request a disability accommodation, please complete the Disability Accommodation Form within 14 calendar days of the submittal of the City application.  The Disability Accommodation Form can be obtained at http://per.lacity.org/exams/verify_disability.pdf.\n', '2. Appointment to this position is subject to a one-year probationary period as provided by Section 1011 of the Los Angeles City Charter.\n', '3. Promotional candidates will accrue seniority credit at the rate of 0.10 of a point for each year of service for this position.  A maximum of one point will be added to the score of those candidates.  \n', '4. The promotional list will ordinarily be used ahead of the open competitive list.  However, if open competitive candidates receive a higher score, without military credits, than the highest available promotional candidate, after adding seniority credit as indicated above, the Civil Service Commission, upon request of the appointing authority, may approve certification of such open competitive candidates ahead of the promotional candidates.\n', '5. You must have received a regular appointment to a City position or be on a reserve list to file on a promotional basis.\n', '6. In conjunction with Civil Service Rules, applicants who have received a regular appointment to a City position or are on a reserve list will be considered Promotional candidates while all other applicants will be considered Open candidates. \n', '7. Applications are accepted subject to review to ensure that minimum qualifications are met.  Candidates may be disqualified at any time if it is determined that they do not possess the minimum qualifications stated on this bulletin.\n', '8. A final average score of 70% is required to be placed on the eligible list.\n', '9. The successful candidate may be required to complete a medical examination prior to appointment.\n', '\n', 'Notice:  \n', '\n', 'If you receive and accept an offer of employment to a regular position with the City of Los Angeles, your employee benefit coverage (including health and dental coverage as well as life insurance) will commence approximately six weeks after your original regular appointment. Not all positions in the City receive benefit coverage; you should inquire regarding the availability of employee benefits prior to accepting a position.\n', '\n', 'THIS EXAMINATION IS TO BE GIVEN ONLY ON \n', 'AN INTERDEPARTMENTAL PROMOTIONAL AND AN OPEN COMPETITIVE BASIS\n', '\n', 'The City of Los Angeles does not discriminate on the basis of race, religion, national origin, sex, age, marital status, sexual orientation, gender identity, gender expression, disability, creed, color, ancestry, medical condition (cancer), or Acquired Immune Deficiency Syndrome.\n', 'AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER \n', '\n', '\n', '\n', 'Class Code 9206 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .04-18-14\n', '\n']

In [4]:
with open('CityofLA/Additional data/kaggle_data_dictionary.csv', encoding = 'utf-8') as f:
    print(f.readlines())

['Field Name,Annotation Letter,Description,Data Type,Allowable Values,Accepts Null Values?,Additional Notes\n', 'FILE_NAME,,The file name of the job bulletin from which each record came,String,,No,\n', 'JOB_CLASS_TITLE,A,"The title of the particular class (e.g., Systems Analyst, Carpenter)",String,Any job title matching in in supplied job bulletins,No,\n', 'JOB_CLASS_NO,B,The 4-digit code that corresponds to the job class.,String,Any four character numeric string matching one in supplied job bulletins,No,"Some classes have three non-zero digits — e.g., 0162. These will take the form 0###"\n', 'REQUIREMENT_SET_ID,D1,"A main requirement that has to be filled. These are identified with numbers in the job bulletin. Relationships between requirement sets are specified by an ""AND|OR"" conjunction (data element E1 on the data annotation chart)",Integer,Any positive integer,No,\n', 'REQUIREMENT_SUBSET_ID,D2,"A secondary requirement that has to be filled, nested under a REQUIREMENT_SET_ID. These are identified with letters in the job bulletin. Relationships between requirement sub-sets are specified by an ""AND|OR"" conjunction (Data element E2 on the data annotation chart)",String,Any letter or combination of letters.,No,"A-Z represents 1-26. In the case of 27th, 28th, ... sub-requirement, use AA, BB, ..."\n', 'JOB_DUTIES,C,"A summary of what someone does in the particular job\n', '",String,,No,\n', 'EDUCATION_YEARS,F,Years required in a particular education program,Float,Any positive float representing years or a fraction of years,Yes,"Any job description that mentions months should be converted to years. For instance, 6 months should appear as .5 years"\n', 'SCHOOL_TYPE,G,"School Type: School type required (e.g. college or university, high school)",String,"COLLEGE OR UNIVERSITY, HIGH SCHOOL, APPRENTICESHIP",Yes,"Allowable value list is most likely incomplete and should be updated once you analyze the bulletins. For these purposes ""apprenticeship"" or certificates should be considered school type."\n', 'EDUCATION_MAJOR,H,Major or concentration required,String,,Yes,"A list of many sufficient majors should appear as a single string separated by a ""|""  For instance, ""ECONOMICS|STATISTICS"" would represent ""Economics"" or ""Statistics"". If the school type is an apprenticeship, this should include whatever the apprenticeship must be in (e.g. carpenter, cabinetmaker)"\n', 'EXPERIENCE_LENGTH,I,Years required in a particular job class or external role.,Float,,Yes,Some classes may specify months rather than years. These should be transformed to years (e.g. 6 months should be entered as .5)\n', 'FULL_TIME_PART_TIME,J,"Whether the required experience is full-time, part",String,"FULL_TIME, PART_TIME",Yes,Allowable value list is most likely incomplete and should be updated once you analyze the bulletins\n', 'EXP_JOB_CLASS_TITLE,K1,Job class title of Internal City job that one must hold to satisfy a requirement (e.g. Management Assistant),String,"Any City recognized job class, as determined by supplied job bulletins",Yes,\n', 'EXP_JOB_CLASS_ALT_RESP,K1b,"For job bulletins that allow an alternate class to K1, the duties/responsibilities of the alternate class",String,,Yes,"In some cases, a job bulletin will ask for a specific class but also allow you to be a different City class that performs a similar function. This field will capture that function."\n', 'EXP_JOB_CLASS_FUNCTION,K2,"Job experience of City or non-City specific jobs (e.g. the development, analysis, implementation or major modification of new or existing computer-based information systems or relational databases)",String,,Yes,\n', 'COURSE_COUNT,L,The number of courses in a specified field required,Integer,,Yes,\n', 'COURSE_LENGTH,M,The semester or quarter unit count needed. ,String,#Q|#S,Yes,"This will take the form of two elements: a number indicating the count of units and a letter indicating whether the count is Q (quarter) or S (semester units). As job classes will specify number for each, this field will contain both Quarter and Semester counts, separated by a ""I"""\n', 'COURSE_SUBJECT,N,The necessary subject(s) of required courses,String,,Yes,"A list of many sufficient majors should appear as a single string separated by a ""|""  For instance, ""ECONOMICS|STATISTICS"" would represent ""Economics"" or ""Statistics"""\n', 'MISC_COURSE_DETAILS,O,An unstructured string of miscellaneous course-specific requirements not captured in elements O–Q.,String,,Yes,"As an example, the class of Systems Analyst includes the following sub-requirement that must be satisfied to meeting the third requirement set:\n', '\n', '""At least three of the courses must be from the core courses required in the program, and one course may be from either the required core courses or the prescribed elective courses of the program.  A course in systems analysis and design is especially desired, but not required.""\n', '\n', 'You need not further structure sub-requirements that do not neatly align to other defined features in this data dictionary. They should appear in this feature as an unstructured string.\n', '\n', '"\n', 'DRIVERS_LICENSE_REQ,P1,"Whether a driver’s license is required, possibly required, or not required (note: the job class will most likely not explicitly say if a license is not required)",String,"P, R",Yes,"P (or possible) refers to any class that says ""Some positions may require a valid California driver\'s license"" or anything to that extent. R (or required) explicitly says a driver\'s license is required"\n', 'DRIV_LIC_TYPE,P2,The specific driver’s license type required,String,"B, C",Yes,Allowable value list is most likely incomplete and should be updated once you analyze the bulletins\n', "ADDTL_LIC,Q,Additional licenses specified in the job bulletin other than Driver's License (covered in Elementa P1 and P2),String,,Yes,\n", 'EXAM_TYPE,R,Classifications have different rules around whether one has to already have Civil Service status to apply or whether experience has to be in a particular department. ,String,"OPEN, INT_DEPT_PROM, DEPT_PROM, OPEN_INT_PROM",No,"Code explanation:\n', '\n', 'OPEN: Exam open to anyone (pending other requirements)\n', 'INT_DEPT_PROM: Interdepartmental Promotional\n', 'DEPT_PROM: Departmental Promotional\n', 'OPEN_INT_PROM: Open or Competitive Interdepartmental Promotional"\n', 'ENTRY_SALARY_GEN,S1,"The base overall salary range (e.g. $49,000-$72,000). Some classifications may have multiple ranges as there are sometimes several sub-titles of a job class. This should only include the first listed salary range.",String,"$#####-$#####, $##### (flat-rated)",No,This field may take the form of a range of two salaries or only include one amount for flat-rated classes.\n', 'ENTRY_SALARY_DWP,S2,"For job classes that are available in the City at large AND the DWP agency specifically, a second DWP salary range will be provided. This field will capture the first DWP-specific salary range.",String,"$#####-$#####, $##### (flat-rated)",Yes,This field may take the form of a range of two salaries or only include one amount for flat-rated classes.\n', 'OPEN_DATE,T,The date the job bulletin opened,Date,,,']

In [5]:
job_titles = pd.read_csv('CityofLA/Additional data/job_titles.csv')

## Data Dictionary

In [5]:
kaggle_data_dictionary = pd.read_csv('CityofLA/Additional data/kaggle_data_dictionary.csv')

In [6]:
kaggle_data_dictionary

,Field Name,Annotation Letter,Description,Data Type,Allowable Values,Accepts Null Values?,Additional Notes
0,FILE_NAME,NaN,The file name of the job bulletin from which e...,String,NaN,No,NaN
1,JOB_CLASS_TITLE,A,"The title of the particular class (e.g., Syste...",String,Any job title matching in in supplied job bull...,No,NaN
2,JOB_CLASS_NO,B,The 4-digit code that corresponds to the job c...,String,Any four character numeric string matching one...,No,Some classes have three non-zero digits — e.g....
3,REQUIREMENT_SET_ID,D1,A main requirement that has to be filled. Thes...,Integer,Any positive integer,No,NaN
4,REQUIREMENT_SUBSET_ID,D2,"A secondary requirement that has to be filled,...",String,Any letter or combination of letters.,No,"A-Z represents 1-26. In the case of 27th, 28th..."
5,JOB_DUTIES,C,A summary of what someone does in the particul...,String,NaN,No,NaN
6,EDUCATION_YEARS,F,Years required in a particular education program,Float,Any positive float representing years or a fra...,Yes,Any job description that mentions months shoul...
7,SCHOOL_TYPE,G,School Type: School type required (e.g. colleg...,String,"COLLEGE OR UNIVERSITY, HIGH SCHOOL, APPRENTICE...",Yes,Allowable value list is most likely incomplete...
8,EDUCATION_MAJOR,H,Major or concentration required,String,NaN,Yes,A list of many sufficient majors should appear...
9,EXPERIENCE_LENGTH,I,Years required in a particular job class or ex...,Float,NaN,Yes,Some classes may specify months rather than ye...
10,FULL_TIME_PART_TIME,J,"Whether the required experience is full-time, ...",String,"FULL_TIME, PART_TIME",Yes,Allowable value list is most likely incomplete...
11,EXP_JOB_CLASS_TITLE,K1,Job class title of Internal City job that one ...,String,"Any City recognized job class, as determined b...",Yes,NaN
12,EXP_JOB_CLASS_ALT_RESP,K1b,For job bulletins that allow an alternate clas...,String,NaN,Yes,"In some cases, a job bulletin will ask for a s..."
13,EXP_JOB_CLASS_FUNCTION,K2,Job experience of City or non-City specific jo...,String,NaN,Yes,NaN
14,COURSE_COUNT,L,The number of courses in a specified field req...,Integer,NaN,Yes,NaN
15,COURSE_LENGTH,M,The semester or quarter unit count needed.,String,#Q|#S,Yes,This will take the form of two elements: a num...
16,COURSE_SUBJECT,N,The necessary subject(s) of required courses,String,NaN,Yes,A list of many sufficient majors should appear...
17,MISC_COURSE_DETAILS,O,An unstructured string of miscellaneous course...,String,NaN,Yes,"As an example, the class of Systems Analyst in..."
18,DRIVERS_LICENSE_REQ,P1,"Whether a driver’s license is required, possib...",String,"P, R",Yes,P (or possible) refers to any class that says ...
19,DRIV_LIC_TYPE,P2,The specific driver’s license type required,String,"B, C",Yes,Allowable value list is most likely incomplete...
20,ADDTL_LIC,Q,Additional licenses specified in the job bulle...,String,NaN,Yes,NaN
21,EXAM_TYPE,R,Classifications have different rules around wh...,String,"OPEN, INT_DEPT_PROM, DEPT_PROM, OPEN_INT_PROM",No,Code explanation:\n\nOPEN: Exam open to anyone...
22,ENTRY_SALARY_GEN,S1,"The base overall salary range (e.g. $49,000-$7...",String,"$#####-$#####, $##### (flat-rated)",No,This field may take the form of a range of two...
23,ENTRY_SALARY_DWP,S2,For job classes that are available in the City...,String,"$#####-$#####, $##### (flat-rated)",Yes,This field may take the form of a range of two...
24,OPEN_DATE,T,The date the job bulletin opened,Date,NaN,NaN,NaN

In [7]:
kaggle_data_dictionary.iloc[3]['Description']

'A main requirement that has to be filled. These are identified with numbers in the job bulletin. Relationships between requirement sets are specified by an "AND|OR" conjunction (data element E1 on the data annotation chart)'

## Sample

In [9]:
sample = pd.read_csv('CityofLA/Additional data/sample job class export template.csv')

In [10]:
sample.head()

,FILE_NAME,JOB_CLASS_TITLE,JOB_CLASS_NO,REQUIREMENT_SET_ID,REQUIREMENT_SUBSET_ID,JOB_DUTIES,EDUCATION_YEARS,SCHOOL_TYPE,EDUCATION_MAJOR,EXPERIENCE_LENGTH,...,COURSE_LENGTH,COURSE_SUBJECT,MISC_COURSE_DETAILS,DRIVERS_LICENSE_REQ,DRIV_LIC_TYPE,ADDTL_LIC,EXAM_TYPE,ENTRY_SALARY_GEN,ENTRY_SALARY_DWP,OPEN_DATE
0,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,1,A,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,COMPUTER SCIENCE|INFORMATION SYSTEMS|GEOGRAPHI...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
1,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,A,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
2,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,B,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
3,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,C,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
4,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,3,A,"A Systems Analyst analyzes procedures, methods...",NaN,NaN,NaN,2.0,...,"3M, 4Q",INFORMATION SYSTEMS|SYSTEMS ANALYSIS|closely r...,At least three of the courses must be from the...,M,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17

In [31]:
text = ''
with open('CityofLA/Job Bulletins/311 DIRECTOR  9206 041814.txt', encoding = 'utf-8') as f:
    text = f.read()

In [12]:
job_title = text.splitlines()[0].strip()

In [55]:
code = r'Class Code:\s*(\d*)'
open_d = r'Open Date:\s*(\d\d-\d\d-\d\d)'
sal = r'(\$(\d+,\d+))((\s(to|and|-)\s)(\$\d+,\d+))?' # Taken from kaggle kernel
sal_dwp = r'Power\sis\s((\$(\d+,\d+))((\s(to|and|-)\s)(\$\d+,\d+))?)'
dut = r'DUTIES\W+(.*\n)'
req = r'REQUIREMENT(S)?(/MINIMUM\sQUALIFICATION)?\W+(.*\n)'
end_d = r'(MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY|SUNDAY)\W+(JANUARY|FEBRUARY|MARCH|APRIL|MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER)(.*\d)'
#open_d = r'Open Date: (.*)\n'

In [56]:
def doextraction(glob_text):
    col = ['FILE_NAME', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO', 'SALARY_START', 'SALARY_END',
                   'ENTRY_SALARY_DWP','DUTIES', 'REQUIREMENTS', 'APPLICATION_DEADLINE', 'OPEN_DATE']
    df = pd.DataFrame(columns = col) 
    """Get all the files from the given glob and pass them to the extractor."""
    for thefile in glob.glob(glob_text)[:200]:
        with io.open(thefile, 'r', encoding='utf-8') as fyl:
            text = fyl.read()
            df = get_features(text, thefile, df)
            
    return df

In [61]:
def get_features(text, filename, df):
    filename = filename.replace('CityofLA/Job Bulletins\\', '')
    headings = []
    for line in text.split('\n'):
        if line.isupper():
            headings.append(line.strip())
    job_title = text.strip().splitlines()[0].strip()
    class_code = re.findall(code, text)[0]
    try:
        open_date = re.findall(open_d, text)[0]
    except:
        open_date = np.NaN
    salary_range = re.search(sal, text)
    
    try:
        salary_start = salary_range.group(1)
    except:
        salary_start = np.NaN
        
    try:
        salary_end = salary_range.group(6)
    except:
        salary_end = np.NaN
    salary_dwp = re.search(sal_dwp, text).group(1) if re.search(sal_dwp, text) is not None else np.NaN
    x = headings.index([elm for elm in headings if elm.startswith('REQUIREMENT')][0])
    m = re.search(headings[x], text).end()
    n = re.search(headings[x+1], text).start()
    requirement = text[m:n].strip()
    try:
        x = headings.index([elm for elm in headings if elm.startswith('DUT')][0])
        m = re.search(headings[x], text).end()
        n = re.search(headings[x+1], text).start()
        duties = text[m:n].strip()
    except:
        duties = np.NaN
    try:
        x = re.findall(end_d, text)[0]
        deadline = ''.join(x).strip()
    except:
        deadline = np.NaN
        
    df = df.append({'FILE_NAME': filename, 'JOB_CLASS_TITLE': job_title, 'JOB_CLASS_NO': class_code, 'SALARY_START': salary_start,\
                    'SALARY_END': salary_end, 'ENTRY_SALARY_DWP': salary_dwp,'DUTIES': duties, 'REQUIREMENTS': requirement, 'APPLICATION_DEADLINE': deadline,\
                    'OPEN_DATE': open_date}, ignore_index = True)
    
    return df

In [62]:
data_df = doextraction('CityofLA/Job Bulletins/*.txt')

In [63]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
data_df

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_START SALARY_END      ENTRY_SALARY_DWP                                             DUTIES                                       REQUIREMENTS                               APPLICATION_DEADLINE OPEN_DATE
0                        311 DIRECTOR  9206 041814.txt                                      311 DIRECTOR         9206     $125,175   $155,514                   NaN  A 311 Director is responsible for the successf...  1. One year of full-time paid experience as a ...                                THURSDAYMAY 1, 2014  04-18-14
1                           ACCOUNTANT 1513 062218.txt                                        ACCOUNTANT         1513      $49,903    $72,996                   NaN  An Accountant does professional accounting wor...  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018  06-22-18
2                     ACCOUNTING CLERK 1223 071318.txt                                  ACCOUNTING CLERK         1223      $49,005    $71,618                   NaN  An Accounting Clerk performs difficult and res...  Two years of full-time paid office clerical ex...                                                NaN  07-13-18
3        ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt                     ACCOUNTING RECORDS SUPERVISOR         1119      $55,332    $80,930                   NaN  An Accounting Records Supervisor assigns, revi...  Two years of full-time paid experience as an A...                             THURSDAYAUGUST 9, 2018  07-27-18
4               ADMINISTRATIVE ANALYST 1590 060118.txt                            ADMINISTRATIVE ANALYST         1590      $60,489    $88,468                   NaN  An Administrative Analyst performs professiona...  1. One year of full-time paid professional exp...                              THURSDAYJUNE 14, 2018  06-01-18
5             ADMINISTRATIVE CLERK 1358 033018 (2).txt                              ADMINISTRATIVE CLERK         1358      $37,584    $54,935               $43,785  An Administrative Clerk performs general offic...  Six months of full-time paid experience in cle...                             THURSDAYAPRIL 12, 2018  03-30-18
6      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt                   ADMINISTRATIVE HEARING EXAMINER         9135      $54,726    $80,012                   NaN  An Administrative Hearing Examiner conducts qu...  1. Two years of full-time paid experience with...                           THURSDAYOCTOBER 22, 2015  10-09-15
7    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...       ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE         2325      $78,487    $97,530                   NaN  An Advance Practice Provider Correctional Care...  1. Must be licensed as a: \na. Registered Nurs...                                                NaN  02-08-08
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774      $90,118       None               $99,054  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017  04-14-17
9    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...              AIR CONDITIONING MECHANIC SUPERVISOR         3781     $103,841   $108,482  $127,388 to $134,488  An Air Conditioning Mechanic Supervisor assign...  Four years of full-time paid experience as an ...                          THURSDAYNOVEMBER 29, 2018  11-16-18
10                        AIRPORT AIDE 1540 081018.txt                                      AIRPORT AIDE         1540      $43,242    $63,203                   NaN  An Airport Aide provides services and transpor...  One year of full-time paid experience as an Ai...                            THURSDAYAUGUST 23, 2018  08-10-18
11   AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...        AIRPORT CHIEF INFORMATION SECURITY OFFICER         1404     $125,551   $183,576                   NaN  Airport Chief Information Security Officer man...  1. A bachelor's degree from an accredited four...                          THURSDAYDECEMBER 17, 2015  12-04-15
12                    AIRPORT ENGINEER 7256 070618.txt                                  AIRPORT ENGINEER         7256     $105,005   $153,509                   NaN  An Airport Engineer performs professional engi...  1. Two years of full-time paid professional ex...                              THURSDAYJULY 19, 2018  07-06-18
13                       AIRPORT GUIDE 0845 042018.txt                                     AIRPORT GUIDE         0845      $31,946    $44,265                   NaN  An Airport Guide directs arriving passengers t...  1,040 hours of paid or volunteer experience in...                                THURSDAYMAY 3, 2018       NaN
14      AIRPORT INFORMATION SPECIALIST 1783 121115.txt                    AIRPORT INFORMATION SPECIALIST         1783      $42,991    $62,869                   NaN  An Airport Information Specialist provides and...                                                                             THURSDAYDECEMBER 24, 2015  12-11-15
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210      $93,918   $137,327                   NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...                          THURSDAYFEBRUARY 14, 2019  02-01-19
16                     AIRPORT MANAGER 7260 120216.txt                                   AIRPORT MANAGER         7260      $99,326   $141,378                   NaN  An Airport Manager manages, through subordinat...  1. Two years of full-time paid experience with...                          THURSDAYDECEMBER 15, 2016  12-02-16
17              AIRPORT POLICE CAPTAIN 3228 021618.txt                            AIRPORT POLICE CAPTAIN         3228     $142,568   $187,001                   NaN  An Airport Police Captain plans, supervises, d...  One year of full-time paid experience as an Ai...                              THURSDAYMARCH 1, 2018  02-16-18
18           AIRPORT POLICE LIEUTENANT 3227 091616.txt                         AIRPORT POLICE LIEUTENANT         3227     $102,186   $134,028                   NaN  An Airport Police Lieutenant plans, supervises...  Two years of full-time paid experience as an A...                         THURSDAYSEPTEMBER 29, 2016  09-16-16
19   AIRPORT POLICE OFFICER 3225 110906 Rev 060115.txt                            AIRPORT POLICE OFFICER         3225      $51,448    $83,019                   NaN  An Airport Police Officer is a sworn peace off...  1. 21 years of age at the time of hire.  Howev...                                                NaN  11-09-06
20       AIRPORT POLICE SPECIALIST 3236 063017 (2).txt                         AIRPORT POLICE SPECIALIST         3236          NaN        NaN                   NaN  As a sworn member of the Los Angeles World Air...  1. Possess a current California Basic P.O.S.T....                                                NaN  06-30-17
21   AIRPORT SUPERINTENDENT OF OPERATIONS 7268 1218...              AIRPORT SUPERINTENDENT OF OPERATIONS         7268      $53,682    $78,467                   NaN  An Airport Superintendent of Operations inspec...                                                                             THURSDAYDECEMBER 31, 2015  12-18-15
22   AIRPORTS MAINTENANCE SUPERINTENDENT 3331 02151...               AIRPORTS MAINTENANCE SUPERINTENDENT         3331      $90,369   $132,108                   NaN  An Airports Maintenance Superintendent plans, ...  1. Two years of full-time paid experience as a...                              THURSDAYMARCH 1, 2018  02-16-18
23     AIRPORTS MAINTENANCE SUPERVISOR 3336 111618.txt                   AIRPORTS MAINTENANCE SUPERVISOR         3336      $66,523    $97,321                   NaN  An Airports Maintenance Supervisor plans, orga...  1. Four years of full-time paid experience as ...                          THURSDAYNOVEMBER 29, 2018  11-16-18
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788      $86,777   $123,463                   NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...                          THURSDAYDECEMBER 21, 2017  12-08-17
25               ANIMAL CARE ASSISTANT 4323 020119.txt                             ANIMAL CARE ASSISTANT         4323      $39,337    $57,545                   NaN  Animal Care Assistants perform work in the rec...  1. Current employment with the City of Los Ang...                                                NaN  02-01-19
26   ANIMAL CARE TECHNICIAN 4310 040116 REV 041416.txt                            ANIMAL CARE TECHNICIAN         4310      $38,565    $56,396                   NaN  An Animal Care Technician receives and cares f...                                                                                THURSDAYAPRIL 21, 2016  04-01-16
27   ANIMAL CARE TECHNICIAN SUPERVISOR 4313 122118.txt                          WATER TREATMENT OPERATOR         5885      $65,646    $81,536                   NaN  A Water Treatment Operator does skilled work i...  A valid T2 (or higher) Water Treatment Operato...                           THURSDAYJANUARY 10, 2019  12-21-18
28             ANIMAL CONTROL OFFICER  4311 061518.txt                            ANIMAL CONTROL OFFICER         4311      $46,374    $67,818                   NaN  An Animal Control Officer enforces State and C...  1. One year of full-time paid experience perfo...                                                NaN  06-15-18
29                       ANIMAL KEEPER 4304 083118.txt                                     ANIMAL KEEPER         4304      $45,810    $66,983                   NaN  An Animal Keeper cares for exotic mammals, bir...  1. One year of full-time paid experience in th...                         THURSDAYSEPTEMBER 13, 2018  08-31-18
..                                                 ...                                               ...          ...          ...        ...                   ...                                                ...                                                ...                                                ...       ...
170                    DELIVERY DRIVER 1121 032318.txt                                   DELIVERY DRIVER         1121      $36,519    $53,390    $36,769 to $45,685  A Delivery Driver operates a City automobile, ...  1. Current paid employment with the City of Lo...                              THURSDAYAPRIL 5, 2018  03-23-18
171  DEPARTMENTAL CHIEF ACCOUNTANT 1593 111717 revi...                     DEPARTMENTAL CHIEF ACCOUNTANT         1593      $91,913   $130,771                   NaN  A Departmental Chief Accountant plans and dire...  Two years of full-time paid professional accou...                          THURSDAYNOVEMBER 30, 2017  11-17-17
172                  DETENTION OFFICER 3211 113018.txt                                 DETENTION OFFICER         3211      $46,625    $70,052                   NaN  A Detention Officer is an unarmed civilian emp...  1. Graduation from a high school or the equiva...                                                NaN  11-30-18
173      DIRECTOR OF AIRPORT MARKETING 1768 042718.txt                     DIRECTOR OF AIRPORT MARKETING         1768     $123,066   $179,943                   NaN  The Director of Airport Marketing directs prof...  1. A Bachelor's Degree from an accredited coll...                               THURSDAYMAY 10, 2018  04-27-18
174  DIRECTOR OF AIRPORT OPERATIONS 9304 062317 (3)...                    DIRECTOR OF AIRPORT OPERATIONS         9304     $141,858   $201,867                   NaN  A Director of Airport Operations plans, coordi...  1. Current employment with the City of Los Ang...                               THURSDAYJULY 6, 2017  06-23-17
175  DIRECTOR OF AIRPORTS ADMINISTRATION 9302 01271...      DIRECTOR OF AIRPORTS ADMINISTRATION\tREVISED         9302     $141,859   $201,868                   NaN  Plans, directs, and coordinates the administra...  1. Two years of full-time paid experience with...                           THURSDAYFEBRUARY 9, 2017  01-27-17
176  DIRECTOR OF COMMUNICATIONS SERVICES 7625 04271...               DIRECTOR OF COMMUNICATIONS SERVICES         7625     $123,066   $179,943                   NaN  The Director of Communications Services direct...  1. Four years of full-time paid experience at ...                               THURSDAYMAY 10, 2018  04-27-18
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266     $123,066   $179,943                   NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...                           THURSDAYFEBRUARY 8, 2018  01-26-18
178       DIRECTOR OF FIELD OPERATIONS 4321 040618.txt                      DIRECTOR OF FIELD OPERATIONS         4321     $101,831   $148,853                   NaN  The Director of Field Operations plans, direct...  1. Three years of full-time paid experience wi...                             THURSDAYAPRIL 19, 2018  04-06-18
179                DIRECTOR OF HOUSING 1568 062317.txt                               DIRECTOR OF HOUSING         1568     $120,644   $171,654                   NaN  A Director of Housing plans, directs and coord...  Two years of full-time paid professional exper...                               THURSDAYJULY 6, 2017  06-23-17
180   DIRECTOR OF MAINTENANCE AIRPORTS 7270 041516.txt                  DIRECTOR OF MAINTENANCE AIRPORTS         7270     $108,576   $154,512                   NaN  A Director of Maintenance Airports directs, or...                                                                                THURSDAYAPRIL 28, 2016  04-15-16
181  DIRECTOR OF POLICE TRANSPORTATION 3722 061915.txt                 DIRECTOR OF POLICE TRANSPORTATION         3722     $100,370   $124,695                   NaN  A Director of Police Transportation plans, org...                                                                                  THURSDAYJULY 2, 2015  06-19-15
182  DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE ...     DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE         3123     $108,576   $154,512                   NaN  A Director of Port Construction and Maintenanc...                                                                                THURSDAYMARCH 17, 2016  03-04-16
183  DIRECTOR OF PRINTING SERVICES 1488 101218 REV ...                     DIRECTOR OF PRINTING SERVICES         1488     $117,596   $171,946                   NaN  The Director of Printing Services manages the ...  1. Three years of full-time paid experience at...                           THURSDAYNOVEMBER 1, 2018  10-12-18
184      DIRECTOR OF SECURITY SERVICES 3208 040717.txt                     DIRECTOR OF SECURITY SERVICES         3208     $101,643   $126,282                   NaN  A Director of Security Services plans, organiz...  1. Four years of full-time paid experience in ...                             THURSDAYAPRIL 20, 2017  04-07-17
185                DIRECTOR OF SYSTEMS 9375 042117.txt                               DIRECTOR OF SYSTEMS         9375     $120,644   $171,654                   NaN  A Director of Systems reviews and coordinates ...  1. Two years of full-time paid experience in a...                                THURSDAYMAY 4, 2017  04-21-17
186  DISTRICT SUPERVISOR ANIMAL SERVICES 4320 02231...               DISTRICT SUPERVISOR ANIMAL SERVICES         4320      $76,128   $111,332                   NaN  A District Supervisor Animal Services (Distric...  1. Two years of full-time paid experience with...                              THURSDAYMARCH 8, 2018  02-23-18
187      DIVISION LIBRARIAN 6157 012717 REV 022217.txt                                DIVISION LIBRARIAN         6157     $120,645   $171,654                   NaN  A Division Librarian plans, organizes, and dir...  1. Two years of full-time paid professional ex...                              THURSDAYMARCH 9, 2017  01-27-17
188                 DRILL RIG OPERATOR 3521 033018.txt                                DRILL RIG OPERATOR         3521      $61,554    $89,993                   NaN  A Drill Rig Operator operates hydraulic, mecha...  1. Two years of full-time paid experience in t...                             THURSDAYAPRIL 12, 2018  03-30-18
189       DUPLICATING MACHINE OPERATOR 1493 121418.txt                      DUPLICATING MACHINE OPERATOR         1493      $37,416    $54,705    $52,847 to $65,646  A Duplicating Machine Operator operates offset...  1. Completion of one course in operating an of...                          THURSDAYDECEMBER 27, 2018  12-14-18
190     ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                    ELECTRIC DISTRIBUTION MECHANIC         3879      $74,666    $96,006                   NaN  An entry-level Electric Distribution Mechanic ...  1 Completion of an apprenticeship program sanc...                                                NaN  04-07-17
191  ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR 3873...         ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR         3873     $126,783   $133,861                   NaN  An Electric Distribution Mechanic Supervisor a...  Four years of full-time paid experience with t...                          THURSDAYNOVEMBER 10, 2016  10-28-16
192              ELECTRIC METER SETTER 3822 012017.txt                             ELECTRIC METER SETTER         3822      $70,386    $74,311                   NaN  An entry-level Electric Meter Setter works as ...  1. One year of full-time paid experience as a ...                           THURSDAYFEBRUARY 2, 2017  01-20-17
193         ELECTRIC SERVICE REPRESENTATIVE 020317.txt                   ELECTRIC SERVICE REPRESENTATIVE         7520      $70,804    $87,988                   NaN  An Electric Service Representative provides in...  Four years of full-time paid experience instal...                          THURSDAYFEBRUARY 16, 2017  02-03-17
194     ELECTRIC STATION OPERATOR  5224 070717 (3).txt                         ELECTRIC STATION OPERATOR         5224      $55,415    $68,841                   NaN                                                     1. Completion of at least eight months in the ...                              THURSDAYJULY 20, 2017  07-07-17
195    ELECTRIC TROUBLE DISPATCHER 3828 063017 (1).txt                       ELECTRIC TROUBLE DISPATCHER         3828      $64,352    $79,949                   NaN                                                     Four years of full-time paid experience in the...                              THURSDAYJULY 13, 2017  06-30-17
196            ELECTRICAL CRAFT HELPER 3799 092818.txt                           ELECTRICAL CRAFT HELPER         3799      $63,686       None    $58,839 to $73,100  An Electrical Craft Helper assists a skilled j...  1. Six months of full-time paid experience as ...                           SATURDAYDECEMBER 8, 2018  09-28-18
197  ELECTRICAL ENGINEERING ASSOCIATE 7525 093016 R...                  ELECTRICAL ENGINEERING ASSOCIATE         7525      $66,231    $94,252    $77,360 to $96,110  An Electrical Engineering Associate performs p...  1. A Bachelor's or Master's degree in engineer...  TUESDAYOCTOBER 11, 2016; WEDNESDAY, OCTOBER 12...  09-30-16
198  ELECTRICAL ENGINEERING DRAFTING TECHNICIAN 753...        ELECTRICAL ENGINEERING DRAFTING TECHNICIAN         7532      $51,907    $75,898    $71,660 to $89,011  An Electrical Engineering Drafting Technician ...  1. Completion of 12 semester units or 18 quart...  TUESDAYJANUARY 22, 2019 and TUESDAY, JANUARY 2...  11-30-18

In [37]:
exp_len = r'(one|two|three|four|five|six|seven|eight|nine)\s(?=(year|years|month|months)\sof\s(?=(full-time|part-time)))'
data_df['EXPERIENCE_LENGTH'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x, re.IGNORECASE).group(1)+ ' ' + re.search(exp_len,x, re.IGNORECASE).group(2) \
                                                          if re.search(exp_len,x, re.IGNORECASE) is not None else np.NaN)
data_df['Full-time/part-time'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x,re.I).group(3) if re.search(exp_len,x,re.I) is not None else np.NaN)

In [65]:
data_df

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_START SALARY_END      ENTRY_SALARY_DWP                                             DUTIES                                       REQUIREMENTS                               APPLICATION_DEADLINE OPEN_DATE  SCHOOL_TYPE EDUCATION_YEARS    EDUCATION_MAJOR
0                        311 DIRECTOR  9206 041814.txt                                      311 DIRECTOR         9206     $125,175   $155,514                   NaN  A 311 Director is responsible for the successf...  1. One year of full-time paid experience as a ...                                THURSDAYMAY 1, 2014  04-18-14      college             NaN             a call
1                           ACCOUNTANT 1513 062218.txt                                        ACCOUNTANT         1513      $49,903    $72,996                   NaN  An Accountant does professional accounting wor...  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018  06-22-18      college       four-year                NaN
2                     ACCOUNTING CLERK 1223 071318.txt                                  ACCOUNTING CLERK         1223      $49,005    $71,618                   NaN  An Accounting Clerk performs difficult and res...  Two years of full-time paid office clerical ex...                                                NaN  07-13-18      college             NaN                NaN
3        ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt                     ACCOUNTING RECORDS SUPERVISOR         1119      $55,332    $80,930                   NaN  An Accounting Records Supervisor assigns, revi...  Two years of full-time paid experience as an A...                             THURSDAYAUGUST 9, 2018  07-27-18          NaN             NaN                NaN
4               ADMINISTRATIVE ANALYST 1590 060118.txt                            ADMINISTRATIVE ANALYST         1590      $60,489    $88,468                   NaN  An Administrative Analyst performs professiona...  1. One year of full-time paid professional exp...                              THURSDAYJUNE 14, 2018  06-01-18      college       four-year    Management Aide
5             ADMINISTRATIVE CLERK 1358 033018 (2).txt                              ADMINISTRATIVE CLERK         1358      $37,584    $54,935               $43,785  An Administrative Clerk performs general offic...  Six months of full-time paid experience in cle...                             THURSDAYAPRIL 12, 2018  03-30-18          NaN             NaN                NaN
6      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt                   ADMINISTRATIVE HEARING EXAMINER         9135      $54,726    $80,012                   NaN  An Administrative Hearing Examiner conducts qu...  1. Two years of full-time paid experience with...                           THURSDAYOCTOBER 22, 2015  10-09-15          NaN             NaN                NaN
7    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...       ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE         2325      $78,487    $97,530                   NaN  An Advance Practice Provider Correctional Care...  1. Must be licensed as a: \na. Registered Nurs...                                                NaN  02-08-08          NaN             NaN                NaN
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774      $90,118       None               $99,054  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017  04-14-17   apprentice             NaN  refrigeration and
9    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...              AIR CONDITIONING MECHANIC SUPERVISOR         3781     $103,841   $108,482  $127,388 to $134,488  An Air Conditioning Mechanic Supervisor assign...  Four years of full-time paid experience as an ...                          THURSDAYNOVEMBER 29, 2018  11-16-18          NaN             NaN                NaN
10                        AIRPORT AIDE 1540 081018.txt                                      AIRPORT AIDE         1540      $43,242    $63,203                   NaN  An Airport Aide provides services and transpor...  One year of full-time paid experience as an Ai...                            THURSDAYAUGUST 23, 2018  08-10-18          NaN             NaN                NaN
11   AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...        AIRPORT CHIEF INFORMATION SECURITY OFFICER         1404     $125,551   $183,576                   NaN  Airport Chief Information Security Officer man...  1. A bachelor's degree from an accredited four...                          THURSDAYDECEMBER 17, 2015  12-04-15      college       four-year                NaN
12                    AIRPORT ENGINEER 7256 070618.txt                                  AIRPORT ENGINEER         7256     $105,005   $153,509                   NaN  An Airport Engineer performs professional engi...  1. Two years of full-time paid professional ex...                              THURSDAYJULY 19, 2018  07-06-18          NaN             NaN                NaN
13                       AIRPORT GUIDE 0845 042018.txt                                     AIRPORT GUIDE         0845      $31,946    $44,265                   NaN  An Airport Guide directs arriving passengers t...  1,040 hours of paid or volunteer experience in...                                THURSDAYMAY 3, 2018       NaN  high school             NaN                NaN
14      AIRPORT INFORMATION SPECIALIST 1783 121115.txt                    AIRPORT INFORMATION SPECIALIST         1783      $42,991    $62,869                   NaN  An Airport Information Specialist provides and...                                                                             THURSDAYDECEMBER 24, 2015  12-11-15          NaN             NaN                NaN
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210      $93,918   $137,327                   NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...                          THURSDAYFEBRUARY 14, 2019  02-01-19      college             NaN        private and
16                     AIRPORT MANAGER 7260 120216.txt                                   AIRPORT MANAGER         7260      $99,326   $141,378                   NaN  An Airport Manager manages, through subordinat...  1. Two years of full-time paid experience with...                          THURSDAYDECEMBER 15, 2016  12-02-16          NaN             NaN                NaN
17              AIRPORT POLICE CAPTAIN 3228 021618.txt                            AIRPORT POLICE CAPTAIN         3228     $142,568   $187,001                   NaN  An Airport Police Captain plans, supervises, d...  One year of full-time paid experience as an Ai...                              THURSDAYMARCH 1, 2018  02-16-18          NaN             NaN                NaN
18           AIRPORT POLICE LIEUTENANT 3227 091616.txt                         AIRPORT POLICE LIEUTENANT         3227     $102,186   $134,028                   NaN  An Airport Police Lieutenant plans, supervises...  Two years of full-time paid experience as an A...                         THURSDAYSEPTEMBER 29, 2016  09-16-16          NaN             NaN                NaN
19   AIRPORT POLICE OFFICER 3225 110906 Rev 060115.txt                            AIRPORT POLICE OFFICER         3225      $51,448    $83,019                   NaN  An Airport Police Officer is a sworn peace off...  1. 21 years of age at the time of hire.  Howev...                                                NaN  11-09-06  high school             NaN                NaN
20       AIRPORT POLICE SPECIALIST 3236 063017 (2).txt                         AIRPORT POLICE SPECIALIST         3236          NaN        NaN                   NaN  As a sworn member of the Los Angeles World Air...  1. Possess a current California Basic P.O.S.T....                                                NaN  06-30-17          NaN             NaN                NaN
21   AIRPORT SUPERINTENDENT OF OPERATIONS 7268 1218...              AIRPORT SUPERINTENDENT OF OPERATIONS         7268      $53,682    $78,467                   NaN  An Airport Superintendent of Operations inspec...                                                                             THURSDAYDECEMBER 31, 2015  12-18-15          NaN             NaN                NaN
22   AIRPORTS MAINTENANCE SUPERINTENDENT 3331 02151...               AIRPORTS MAINTENANCE SUPERINTENDENT         3331      $90,369   $132,108                   NaN  An Airports Maintenance Superintendent plans, ...  1. Two years of full-time paid experience as a...                              THURSDAYMARCH 1, 2018  02-16-18          NaN             NaN                NaN
23     AIRPORTS MAINTENANCE SUPERVISOR 3336 111618.txt                   AIRPORTS MAINTENANCE SUPERVISOR         3336      $66,523    $97,321                   NaN  An Airports Maintenance Supervisor plans, orga...  1. Four years of full-time paid experience as ...                          THURSDAYNOVEMBER 29, 2018  11-16-18          NaN             NaN                NaN
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788      $86,777   $123,463                   NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...                          THURSDAYDECEMBER 21, 2017  12-08-17      college       four-year      supervising a
25               ANIMAL CARE ASSISTANT 4323 020119.txt                             ANIMAL CARE ASSISTANT         4323      $39,337    $57,545                   NaN  Animal Care Assistants perform work in the rec...  1. Current employment with the City of Los Ang...                                                NaN  02-01-19          NaN             NaN                NaN
26   ANIMAL CARE TECHNICIAN 4310 040116 REV 041416.txt                            ANIMAL CARE TECHNICIAN         4310      $38,565    $56,396                   NaN  An Animal Care Technician receives and cares f...                                                                                THURSDAYAPRIL 21, 2016  04-01-16          NaN             NaN                NaN
27   ANIMAL CARE TECHNICIAN SUPERVISOR 4313 122118.txt                          WATER TREATMENT OPERATOR         5885      $65,646    $81,536                   NaN  A Water Treatment Operator does skilled work i...  A valid T2 (or higher) Water Treatment Operato...                           THURSDAYJANUARY 10, 2019  12-21-18          NaN             NaN                NaN
28             ANIMAL CONTROL OFFICER  4311 061518.txt                            ANIMAL CONTROL OFFICER         4311      $46,374    $67,818                   NaN  An Animal Control Officer enforces State and C...  1. One year of full-time paid experience perfo...                                                NaN  06-15-18      college             NaN     Animal Science
29                       ANIMAL KEEPER 4304 083118.txt                                     ANIMAL KEEPER         4304      $45,810    $66,983                   NaN  An Animal Keeper cares for exotic mammals, bir...  1. One year of full-time paid experience in th...                         THURSDAYSEPTEMBER 13, 2018  08-31-18      college             NaN                NaN
..                                                 ...                                               ...          ...          ...        ...                   ...                                                ...                                                ...                                                ...       ...          ...             ...                ...
170                    DELIVERY DRIVER 1121 032318.txt                                   DELIVERY DRIVER         1121      $36,519    $53,390    $36,769 to $45,685  A Delivery Driver operates a City automobile, ...  1. Current paid employment with the City of Lo...                              THURSDAYAPRIL 5, 2018  03-23-18          NaN             NaN                NaN
171  DEPARTMENTAL CHIEF ACCOUNTANT 1593 111717 revi...                     DEPARTMENTAL CHIEF ACCOUNTANT         1593      $91,913   $130,771                   NaN  A Departmental Chief Accountant plans and dire...  Two years of full-time paid professional accou...                          THURSDAYNOVEMBER 30, 2017  11-17-17          NaN             NaN                NaN
172                  DETENTION OFFICER 3211 113018.txt                                 DETENTION OFFICER         3211      $46,625    $70,052                   NaN  A Detention Officer is an unarmed civilian emp...  1. Graduation from a high school or the equiva...                                                NaN  11-30-18  high school             NaN                NaN
173      DIRECTOR OF AIRPORT MARKETING 1768 042718.txt                     DIRECTOR OF AIRPORT MARKETING         1768     $123,066   $179,943                   NaN  The Director of Airport Marketing directs prof...  1. A Bachelor's Degree from an accredited coll...                               THURSDAYMAY 10, 2018  04-27-18      college             NaN                NaN
174  DIRECTOR OF AIRPORT OPERATIONS 9304 062317 (3)...                    DIRECTOR OF AIRPORT OPERATIONS         9304     $141,858   $201,867                   NaN  A Director of Airport Operations plans, coordi...  1. Current employment with the City of Los Ang...                               THURSDAYJULY 6, 2017  06-23-17          NaN             NaN                NaN
175  DIRECTOR OF AIRPORTS ADMINISTRATION 9302 01271...      DIRECTOR OF AIRPORTS ADMINISTRATION\tREVISED         9302     $141,859   $201,868                   NaN  Plans, directs, and coordinates the administra...  1. Two years of full-time paid experience with...                           THURSDAYFEBRUARY 9, 2017  01-27-17          NaN             NaN                NaN
176  DIRECTOR OF COMMUNICATIONS SERVICES 7625 04271...               DIRECTOR OF COMMUNICATIONS SERVICES         7625     $123,066   $179,943                   NaN  The Director of Communications Services direct...  1. Four years of full-time paid experience at ...                               THURSDAYMAY 10, 2018  04-27-18          NaN             NaN                NaN
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266     $123,066   $179,943                   NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...                           THURSDAYFEBRUARY 8, 2018  01-26-18      college       four-year             any of
178       DIRECTOR OF FIELD OPERATIONS 4321 040618.txt                      DIRECTOR OF FIELD OPERATIONS         4321     $101,831   $148,853                   NaN  The Director of Field Operations plans, direct...  1. Three years of full-time paid experience wi...                             THURSDAYAPRIL 19, 2018  04-06-18          NaN             NaN                NaN
179                DIRECTOR OF HOUSING 1568 062317.txt                               DIRECTOR OF HOUSING         1568     $120,644   $171,654                   NaN  A Director of Housing plans, directs and coord...  Two years of full-time paid professional exper...                               THURSDAYJULY 6, 2017  06-23-17          NaN             NaN                NaN
180   DIRECTOR OF MAINTENANCE AIRPORTS 7270 041516.txt                  DIRECTOR OF MAINTENANCE AIRPORTS         7270     $108,576   $154,512                   NaN  A Director of Maintenance Airports directs, or...                                                                                THURSDAYAPRIL 28, 2016  04-15-16          NaN             NaN                NaN
181  DIRECTOR OF POLICE TRANSPORTATION 3722 061915.txt                 DIRECTOR OF POLICE TRANSPORTATION         3722     $100,370   $124,695                   NaN  A Director of Police Transportation plans, org...                                                                                  THURSDAYJULY 2, 2015  06-19-15          NaN             NaN                NaN
182  DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE ...     DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE         3123     $108,576   $154,512                   NaN  A Director of Port Construction and Maintenanc...                                                                                THURSDAYMARCH 17, 2016  03-04-16          NaN             NaN                NaN
183  DIRECTOR OF PRINTING SERVICES 1488 101218 REV ...                     DIRECTOR OF PRINTING SERVICES         1488     $117,596   $171,946                   NaN  The Director of Printing Services manages the ...  1. Three years of full-time paid experience at...                           THURSDAYNOVEMBER 1, 2018  10-12-18          NaN             NaN                NaN
184      DIRECTOR OF SECURITY SERVICES 3208 040717.txt                     DIRECTOR OF SECURITY SERVICES         3208     $101,643   $126,282                   NaN  A Director of Security Services plans, organiz...  1. Four years of full-time paid experience in ...                             THURSDAYAPRIL 20, 2017  04-07-17          NaN             NaN                NaN
185                DIRECTOR OF SYSTEMS 9375 042117.txt                               DIRECTOR OF SYSTEMS         9375     $120,644   $171,654                   NaN  A Director of Systems reviews and coordinates ...  1. Two years of full-time paid experience in a...                                THURSDAYMAY 4, 2017  04-21-17          NaN             NaN                NaN
186  DISTRICT SUPERVISOR ANIMAL SERVICES 4320 02231...               DISTRICT SUPERVISOR ANIMAL SERVICES         4320      $76,128   $111,332                   NaN  A District Supervisor Animal Services (Distric...  1. Two years of full-time paid experience with...                              THURSDAYMARCH 8, 2018  02-23-18          NaN             NaN                NaN
187      DIVISION LIBRARIAN 6157 012717 REV 022217.txt                                DIVISION LIBRARIAN         6157     $120,645   $171,654                   NaN  A Division Librarian plans, organizes, and dir...  1. Two years of full-time paid professional ex...                              THURSDAYMARCH 9, 2017  01-27-17          NaN             NaN                NaN
188                 DRILL RIG OPERATOR 3521 033018.txt                                DRILL RIG OPERATOR         3521      $61,554    $89,993                   NaN  A Drill Rig Operator operates hydraulic, mecha...  1. Two years of full-time paid experience in t...                             THURSDAYAPRIL 12, 2018  03-30-18          NaN             NaN                NaN
189       DUPLICATING MACHINE OPERATOR 1493 121418.txt                      DUPLICATING MACHINE OPERATOR         1493      $37,416    $54,705    $52,847 to $65,646  A Duplicating Machine Operator operates offset...  1. Completion of one course in operating an of...                          THURSDAYDECEMBER 27, 2018  12-14-18          NaN             NaN                NaN
190     ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                    ELECTRIC DISTRIBUTION MECHANIC         3879      $74,666    $96,006                   NaN  An entry-level Electric Distribution Mechanic ...  1 Completion of an apprenticeship program sanc...                                                NaN  04-07-17   apprentice             NaN   conjunction with

In [44]:
data_df.EDUCATION_MAJOR.isnull().sum()

195

In [68]:
data_df[data_df.EDUCATION_MAJOR.notnull()]

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_START SALARY_END      ENTRY_SALARY_DWP                                             DUTIES                                       REQUIREMENTS        APPLICATION_DEADLINE OPEN_DATE SCHOOL_TYPE EDUCATION_YEARS                                    EDUCATION_MAJOR
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774      $90,118       None               $99,054  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...      THURSDAYAPRIL 27, 2017  04-14-17  apprentice             NaN          refrigeration and air conditioning fitter
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210      $93,918   $137,327                   NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...   THURSDAYFEBRUARY 14, 2019  02-01-19     college             NaN  private and public sector negotiating and admi...
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788      $86,777   $123,463                   NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...   THURSDAYDECEMBER 21, 2017  12-08-17     college       four-year  supervising a public relations staff responsib...
34                            AQUARIST 2400 050214.txt                                          AQUARIST         2400      $55,624    $69,133                   NaN  An Aquarist procures and maintains a variety o...  1. Graduation from a recognized four-year coll...        THURSDAYMAY 15, 2014  05-02-14     college       four-year                               a biological science
45              ART CURATOR 2448 071516 REV 072816.txt                                       ART CURATOR         2448      $50,342    $73,581                   NaN  An Art Curator performs professional curatoria...  1. A master's degree from an accredited four-y...      THURSDAYAUGUST 4, 2016  07-15-16     college       four-year  visual arts such as Art, Art History, Museum S...
47           ARTS ASSOCIATE 2454 072117 REV 072817.txt                                    ARTS ASSOCIATE         2454      $48,797    $71,326                   NaN  An Arts Associate performs a broad range of en...  1. A bachelor's degree from an accredited four...      THURSDAYAUGUST 3, 2017  07-21-17     college       four-year  Arts (design, literary, media/communication, p...
48                        ARTS MANAGER 2455 092818.txt                                      ARTS MANAGER         2455      $59,842    $87,508                   NaN  An Arts Manager assigns, reviews and evaluates...  1. Three years of full-time paid experience as...    THURSDAYOCTOBER 11, 2018  09-28-18     college       four-year  Art History, Art Administration, Architecture,...
78               BLACKSMITH 3733 082517 REV 090717.txt                                        BLACKSMITH         3733      $83,352       None    $76,608 to $95,191  A blacksmith forges, shapes, forms, bends, cut...  1. Completion of an apprenticeship as a blacks...  THURSDAYSEPTEMBER 14, 2017  08-25-17  apprentice             NaN                                         blacksmith
93   CABLE TELEVISION PRODUCTION MANAGER 1801 12141...               CABLE TELEVISION PRODUCTION MANAGER         1801      $78,279   $114,443                   NaN  A Cable Television Production Manager supervis...  1. Graduation from an accredited four-year col...   THURSDAYDECEMBER 27, 2018  12-14-18     college       four-year  Television/Film Production, Journalism, Commun...
94                           CARPENTER 3344 011218.txt                                         CARPENTER         3344      $86,312       None               $93,542  A Carpenter does skilled rough and finish carp...  1. Completion of an apprenticeship as a carpen...    THURSDAYJANUARY 25, 2018  01-12-18  apprentice             NaN                          carpenter or cabinetmaker
96                        CARPET LAYER 3418 061915.txt                                      CARPET LAYER         3418      $81,682       None                   NaN  A Carpet Layer installs, removes, and repairs ...  1. Completion of a recognized three year appre...        THURSDAYJULY 2, 2015  06-19-15  apprentice             NaN                                       carpet layer
97                     CEMENT FINISHER 3353 030918.txt                                   CEMENT FINISHER         3353      $79,244       None    $83,373 to $88,030  A Cement Finisher does skilled work in mixing,...  1. Four years of full-time paid experience wit...      THURSDAYMARCH 22, 2018  03-09-18  apprentice             NaN                                    cement finisher
118         CHIEF INTERNAL AUDITOR 1619 090916 (5).txt                            CHIEF INTERNAL AUDITOR         1619     $111,750   $159,022                   NaN  A Chief Internal Auditor plans, organizes and ...  1. Graduation from an accredited four-year col...  THURSDAYSEPTEMBER 22, 2016  09-09-16     college       four-year  accounting, business administration, informati...
120      CHIEF OF AIRPORT PLANNING 7945 032417 (3).txt                         CHIEF OF AIRPORT PLANNING         7945     $105,736   $150,398                   NaN  A Chief of Airport Planning, under the general...  1. Graduation from an accredited four-year col...       THURSDAYAPRIL 6, 2017       NaN     college       four-year  civil, structural, or traffic engineering, arc...
132            CITY PLANNING ASSOCIATE 7941 110317.txt                           CITY PLANNING ASSOCIATE         7941      $72,432   $105,903                   NaN  A City Planning Associate does professional ci...  1.  Graduation from an accredited four-year co...   THURSDAYNOVEMBER 16, 2017  11-03-17     college       four-year           long-range and/or current urban planning
145        COMMUNICATIONS ENGINEER 7610 072817 (2).txt                           COMMUNICATIONS ENGINEER         7610      $89,638   $127,556                   NaN  A Communications Engineer assigns, reviews, an...  1. Two years of full-time paid communications ...     THURSDAYAUGUST 10, 2017  07-28-17     college       four-year  engineering, or upon obtaining a valid Enginee...
168                 DATABASE ARCHITECT 1470 083118.txt                                DATABASE ARCHITECT         1470      $97,781   $142,944  $113,670 to $141,211  A Database Architect performs technical and ad...  1. A bachelor's degree from an accredited four...  THURSDAYSEPTEMBER 13, 2018  08-31-18     college       four-year  information systems, software engineering, com...
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266     $123,066   $179,943                   NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...    THURSDAYFEBRUARY 8, 2018  01-26-18     college       four-year  any of the following areas:  the management an...
190     ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                    ELECTRIC DISTRIBUTION MECHANIC         3879      $74,666    $96,006                   NaN  An entry-level Electric Distribution Mechanic ...  1 Completion of an apprenticeship program sanc...                         NaN  04-07-17  apprentice             NaN  conjunction with the National Electrical Contr...
194     ELECTRIC STATION OPERATOR  5224 070717 (3).txt                         ELECTRIC STATION OPERATOR         5224      $55,415    $68,841                   NaN                                                     1. Completion of at least eight months in the ...       THURSDAYJULY 20, 2017  07-07-17     college             NaN    physics, chemistry, electricity, or electronics
199               ELECTRICAL INSPECTOR 4221 030218.txt                              ELECTRICAL INSPECTOR         4221      $81,494    $98,553                   NaN  An Electrical Inspector inspects new, existing...  1. Four years of full-time paid experience as ...      THURSDAYMARCH 15, 2018  03-02-18  apprentice             NaN  residential and commercial OR residential and ...

In [53]:
data_df.SALARY_END = data_df.SALARY_END.apply(lambda x: x if x is not None else '(flat-rated)')

In [27]:
sch_typ = r'(college|university|high school)'
m = re.search(sch_typ, "A Bachelor's degree from a recognized college or university", re.I)

In [20]:
m.group(1)

"Bachelor's"

In [67]:
sch_typ = r'(college|university|high school|apprentice)'
data_df['SCHOOL_TYPE'] = data_df.REQUIREMENTS.apply(lambda x: re.search(sch_typ, x, re.I).group(1)\
                                                    if re.search(sch_typ, x, re.I) is not None else np.NaN)
edu_y = r'(\b\w+(-year))(?=\D+(college|university))'
data_df['EDUCATION_YEARS'] = data_df.REQUIREMENTS.apply(lambda x: re.search(edu_y, x, re.I).group(1)\
                                                       if re.search(edu_y, x, re.I) is not None else np.NaN)

edu_major = r'(college|university|apprentice)\D+(in|as a)\s(\D+);'
data_df['EDUCATION_MAJOR'] = data_df.REQUIREMENTS.apply(lambda x: re.search(edu_major, x).group(3)\
                                                       if re.search(edu_major, x) is not None else np.NaN)

In [ ]:
edu = r'((bachelor|graduat)[A-Z]*)\D+((one|two|three|four|five|six|seven|eight|nine)-(year|years))(\D+(college|university)\D+((degree)\sin\s(\w+)))*'
((bachelor's|bachelor|graduat)[A-Z]*)*\D+(((one|two|three|four|five|six|seven|eight|nine)-(year|years))|(\d\s(semester|quarter)))*\D+(college|university)(\D+((degree)\sin\s(\w+)))*
  ((High School|bachelor|graduat)['a-z]*)\D+(?<=from)\D+(\s\w+(?=-year))(?:\D+)(college|university|high school)