In [1]:
import pandas as pd
import nltk
import re

import glob
import io
import numpy as np

## Job Titles list

In [2]:
with open('CityofLA/Additional data/job_titles.csv', encoding = 'utf-8') as f:
    print(f.readlines())

['311 DIRECTOR\n', 'ACCOUNTANT\n', 'ACCOUNTING CLERK\n', 'ACCOUNTING RECORDS SUPERVISOR\n', 'ADMINISTRATIVE ANALYST\n', 'ADMINISTRATIVE CLERK\n', 'ADMINISTRATIVE HEARING EXAMINER\n', 'ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE\n', 'AIR CONDITIONING MECHANIC\n', 'AIR CONDITIONING MECHANIC SUPERVISOR\n', 'AIRPORT AIDE\n', 'AIRPORT CHIEF INFORMATION SECURITY OFFICER\n', 'AIRPORT ENGINEER\n', 'AIRPORT GUIDE\n', 'AIRPORT INFORMATION SPECIALIST\n', 'AIRPORT MANAGER\n', 'AIRPORT POLICE CAPTAIN\n', 'AIRPORT POLICE LIEUTENANT\n', 'AIRPORT POLICE OFFICER\n', 'AIRPORT POLICE SPECIALIST\n', 'AIRPORT SUPERINTENDENT OF OPERATIONS\n', 'AIRPORTS MAINTENANCE SUPERINTENDENT\n', 'AIRPORTS MAINTENANCE SUPERVISOR\n', 'AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR\n', 'ANIMAL CARE ASSISTANT\n', 'ANIMAL CARE TECHNICIAN\n', 'ANIMAL CARE TECHNICIAN SUPERVISOR\n', 'ANIMAL CONTROL OFFICER\n', 'ANIMAL KEEPER\n', 'APPARATUS OPERATOR\n', 'APPLICATIONS PROGRAMMER\n', 'APPRENTICE - METAL TRADES\n', 'APPRENTICE MACHINIST\n', 'AQUARIST\n', 'AQUARIUM EDUCATOR\n', 'AQUATIC DIRECTOR\n', 'AQUATIC FACILITY MANAGER\n', 'AQUEDUCT AND RESERVOIR KEEPER\n', 'AQUEDUCT AND RESERVOIR SUPERVISOR\n', 'ARCHITECT\n', 'ARCHITECTURAL ASSOCIATE\n', 'ARCHITECTURAL DRAFTING TECHNICIAN\n', 'ARCHIVIST\n', 'ART CENTER DIRECTOR\n', 'ART CURATOR\n', 'ART INSTRUCTOR\n', 'ARTS ASSOCIATE\n', 'ARTS MANAGER\n', 'ASBESTOS SUPERVISOR\n', 'ASBESTOS WORKER\n', 'ASPHALT PLANT OPERATOR\n', 'ASPHALT PLANT SUPERVISOR\n', 'ASSISTANT AIRPORT MANAGER\n', 'ASSISTANT COMMUNICATIONS CABLE WORKER\n', 'ASSISTANT COMMUNICATIONS ELECTRICIAN\n', 'ASSISTANT DEPUTY SUPERINTENDENT OF BUILDING\n', 'ASSISTANT DIRECTOR INFORMATION SYSTEMS\n', 'ASSISTANT GARDENER\n', 'ASSISTANT INSPECTOR\n', 'ASSISTANT RETIREMENT PLAN MANAGER\n', 'ASSISTANT SIGNAL SYSTEMS ELECTRICIAN\n', 'ASSISTANT STREET LIGHTING ELECTRICIAN\n', 'ASSISTANT TREE SURGEON\n', 'ASSISTANT UTILITY BUYER\n', 'ASSOCIATE ZONING ADMINISTRATOR\n', 'AUDIO VISUAL TECHNICIAN\n', 'AUDITOR\n', 'AUTO BODY BUILDER AND REPAIRER\n', 'AUTO BODY REPAIR SUPERVISOR\n', 'AUTO ELECTRICIAN\n', 'AUTO PAINTER\n', 'AUTOMOTIVE DISPATCHER\n', 'AUTOMOTIVE SUPERVISOR\n', 'AVIONICS SPECIALIST\n', 'BACKGROUND INVESTIGATION MANAGER\n', 'BACKGROUND INVESTIGATOR\n', 'BENEFITS SPECIALIST\n', 'BLACKSMITH\n', 'BOILERMAKER\n', 'BOILERMAKER SUPERVISOR\n', 'BUILDING CIVIL ENGINEER\n', 'BUILDING CONSTRUCTION AND MAINTENANCE SUPERINTENDENT\n', 'BUILDING ELECTRICAL ENGINEER\n', 'BUILDING INSPECTOR\n', 'BUILDING MAINTENANCE DISTRICT SUPERVISOR\n', 'BUILDING MECHANICAL ENGINEER\n', 'BUILDING MECHANICAL INSPECTOR\n', 'BUILDING OPERATING ENGINEER\n', 'BUILDING REPAIR SUPERVISOR\n', 'BUILDING REPAIRER\n', 'BUS OPERATOR\n', 'BUS OPERATOR SUPERVISOR\n', 'CABLE TELEVISION PRODUCTION MANAGER\n', 'CARPENTER\n', 'CARPENTER SUPERVISOR\n', 'CARPET LAYER\n', 'CEMENT FINISHER\n', 'CEMENT FINISHER SUPERVISOR\n', 'CEMENT FINISHER WORKER\n', 'CHEMIST\n', 'CHIEF ADMINISTRATIVE ANALYST\n', 'CHIEF AIRPORTS ENGINEER\n', 'CHIEF BENEFITS ANALYST\n', 'CHIEF BUILDING OPERATING ENGINEER\n', 'CHIEF CLERK\n', 'CHIEF CLERK PERSONNEL\n', 'CHIEF CLERK POLICE\n', 'CHIEF CLERK POLICE\n', 'CHIEF COMMUNICATIONS OPERATOR\n', 'CHIEF CONSTRUCTION INSPECTOR\n', 'CHIEF CUSTODIAN SUPERVISOR\n', 'CHIEF ELECTRIC PLANT OPERATOR\n', 'CHIEF ENVIRONMENTAL COMPLIANCE INSPECTOR\n', 'CHIEF FINANCIAL OFFICER\n', 'CHIEF FORENSIC CHEMIST\n', 'CHIEF HARBOR ENGINEER\n', 'CHIEF INSPECTOR\n', 'CHIEF INTERNAL AUDITOR\n', 'CHIEF MANAGEMENT ANALYST\n', 'CHIEF OF AIRPORT PLANNING\n', 'CHIEF OF DRAFTING OPERATIONS\n', 'CHIEF OF OPERATIONS\n', 'CHIEF OF PARKING ENFORCEMENT OPERATIONS\n', 'CHIEF PORT PILOT\n', 'CHIEF SAFETY ENGINEER PRESSURE VESSELS\n', 'CHIEF SECURITY OFFICER\n', 'CHIEF STREET SERVICES INVESTIGATOR\n', 'CHIEF TAX COMPLIANCE OFFICER\n', 'CHIEF TRANSPORTATION INVESTIGATOR\n', 'CITY PLANNER\n', 'CITY PLANNING ASSOCIATE\n', 'CIVIL ENGINEER\n', 'CIVIL ENGINEERING ASSOCIATE\n', 'CIVIL ENGINEERING DRAFTING TECHNICIAN\n', 'CLAIMS AGENT\n', 'COMMERCIAL FIELD REPRESENTATIVE\n', 'COMMERCIAL FIELD SUPERVISOR\n', 'COMMERCIAL SERVICE SUPERVISOR\n', 'COMMISSION EXECUTIVE ASSISTANT\n', 'COMMUNICATIONS CABLE SUPERVISOR\n', 'COMMUNICATIONS CABLE WORKER\n', 'COMMUNICATIONS ELECTRICIAN\n', 'COMMUNICATIONS ELECTRICIAN SUPERVISOR\n', 'COMMUNICATIONS ENGINEER\n', 'COMMUNICATIONS ENGINEERING ASSOCIATE\n', 'COMMUNICATIONS INFORMATION REPRESENTATIVE\n', 'COMMUNITY AFFAIRS ADVOCATE\n', 'COMMUNITY HOUSING PROGRAMS MANAGER\n', 'COMMUNITY PROGRAM ASSISTANT\n', 'COMPLIANCE PROGRAM MANAGER\n', 'CONSTRUCTION AND MAINTENANCE SUPERINTENDENT\n', 'CONSTRUCTION AND MAINTENANCE SUPERVISOR\n', 'CONSTRUCTION EQUIPMENT SERVICE WORKER\n', 'CONSTRUCTION ESTIMATOR\n', 'CONSTRUCTION INSPECTOR\n', 'CONTRACT ADMINISTRATOR\n', 'CONTROL SYSTEMS ENGINEERING ASSOCIATE\n', 'CORRECTIONAL NURSE\n', 'CRIME AND INTELLIGENCE ANALYST\n', 'CRIMINALIST\n', 'CUSTODIAL SERVICES ASSISTANT\n', 'CUSTODIAN\n', 'CUSTODIAN SUPERVISOR\n', 'CUSTOMER SERVICE REPRESENTATIVE\n', 'CUSTOMER SERVICE SPECIALIST\n', 'DATA PROCESSING TECHNICIAN\n', 'DATABASE ARCHITECT\n', 'DECK HAND\n', 'DELIVERY DRIVER\n', 'DEPARTMENTAL CHIEF ACCOUNTANT\n', 'DETENTION OFFICER\n', 'DIRECTOR OF AIRPORT MARKETING\n', 'DIRECTOR OF AIRPORT OPERATIONS\n', 'DIRECTOR OF AIRPORTS ADMINISTRATION\n', 'DIRECTOR OF COMMUNICATIONS SERVICES\n', 'DIRECTOR OF ENFORCEMENT OPERATIONS\n', 'DIRECTOR OF FIELD OPERATIONS\n', 'DIRECTOR OF HOUSING\n', 'DIRECTOR OF MAINTENANCE AIRPORTS\n', 'DIRECTOR OF POLICE TRANSPORTATION\n', 'DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE\n', 'DIRECTOR OF PRINTING SERVICES\n', 'DIRECTOR OF SECURITY SERVICES\n', 'DIRECTOR OF SYSTEMS\n', 'DISTRICT SUPERVISOR ANIMAL SERVICES\n', 'DIVISION LIBRARIAN\n', 'DRILL RIG OPERATOR\n', 'DUPLICATING MACHINE OPERATOR\n', 'ELECTRIC DISTRIBUTION MECHANIC\n', 'ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR\n', 'ELECTRIC METER SETTER\n', 'ELECTRIC SERVICE REPRESENTATIVE\n', 'ELECTRIC STATION OPERATOR\n', 'ELECTRIC TROUBLE DISPATCHER\n', 'ELECTRICAL CRAFT HELPER\n', 'ELECTRICAL ENGINEERING ASSOCIATE\n', 'ELECTRICAL ENGINEERING DRAFTING TECHNICIAN\n', 'ELECTRICAL INSPECTOR\n', 'ELECTRICAL MECHANIC\n', 'ELECTRICAL MECHANIC SUPERVISOR\n', 'ELECTRICAL REPAIR SUPERVISOR\n', 'ELECTRICAL REPAIRER\n', 'ELECTRICAL SERVICE WORKER\n', 'ELECTRICAL SERVICES MANAGER\n', 'ELECTRICAL TESTER\n', 'ELECTRICIAN\n', 'ELECTRICIAN SUPERVISOR\n', 'ELEVATOR MECHANIC\n', 'ELEVATOR MECHANIC HELPER\n', 'ELEVATOR REPAIR SUPERVISOR\n', 'EMERGENCY MANAGEMENT COORDINATOR\n', 'EMERGENCY MEDICAL SERVICES EDUCATOR\n', 'EMS ADVANCED PROVIDER\n', 'EMS NURSE PRACTITIONER SUPERVISOR\n', 'ENGINEER OF FIRE DEPARTMENT\n', 'ENGINEER OF SURVEYS\n', 'ENGINEERING DESIGNER\n', 'ENGINEERING GEOLOGIST\n', 'ENGINEERING GEOLOGIST ASSOCIATE\n', 'ENVIRONMENTAL AFFAIRS OFFICER\n', 'ENVIRONMENTAL COMPLIANCE INSPECTOR\n', 'ENVIRONMENTAL ENGINEERING ASSOCIATE\n', 'ENVIRONMENTAL SPECIALIST\n', 'ENVIRONMENTAL SUPERVISOR\n', 'EQUIPMENT MECHANIC\n', 'EQUIPMENT OPERATOR\n', 'EQUIPMENT REPAIR SUPERVISOR\n', 'EQUIPMENT SPECIALIST\n', 'EQUIPMENT SUPERINTENDENT\n', 'EQUIPMENT SUPERVISOR\n', 'EXAMINER OF QUESTIONED DOCUMENTS\n', 'EXECUTIVE ADMINISTRATIVE ASSISTANT\n', 'EXECUTIVE ASSISTANT AIRPORTS\n', 'EXHIBIT PREPARATOR\n', 'FIELD ENGINEERING AIDE\n', 'FINANCIAL ANALYST\n', 'FINANCIAL DEVELOPMENT OFFICER\n', 'FINANCIAL MANAGER\n', 'FINGERPRINT IDENTIFICATION EXPERT\n', 'FIRE ASSISTANT CHIEF\n', 'FIRE BATTALION CHIEF\n', 'FIRE CAPTAIN\n', 'FIRE HELICOPTER PILOT\n', 'FIRE INSPECTOR\n', 'FIRE PROTECTION ENGINEERING ASSOCIATE\n', 'FIRE SPECIAL INVESTIGATOR\n', 'FIRE SPRINKLER INSPECTOR\n', 'FIREARMS EXAMINER\n', 'FIREBOAT MATE\n', 'FIREBOAT PILOT\n', 'FIREFIGHTER\n', 'FISCAL SYSTEMS SPECIALIST\n', 'FLEET SERVICES MANAGER\n', 'FORENSIC  PRINT SPECIALIST\n', 'GALLERY ATTENDANT\n', 'GARAGE ASSISTANT\n', 'GARAGE ATTENDANT\n', 'GARDENER CARETAKER\n', 'GENERAL AUTOMOTIVE SUPERVISOR\n', 'GENERAL SERVICES MANAGER\n', 'GEOGRAPHIC INFORMATION SYSTEMS CHIEF\n', 'GEOGRAPHIC INFORMATION SYSTEMS SPECIALIST\n', 'GEOGRAPHIC INFORMATION SYSTEMS SUPERVISOR\n', 'GEOTECHNICAL ENGINEER\n', 'GOLF STARTER\n', 'GOLF STARTER SUPERVISOR\n', 'GRAPHICS DESIGNER\n', 'GRAPHICS SUPERVISOR\n', 'HARBOR ENGINEER\n', 'HARBOR PLANNING AND ECONOMIC ANALYST\n', 'HARBOR PLANNING AND RESEARCH DIRECTOR\n', 'HEAD CUSTODIAN SUPERVISOR\n', 'HEATING AND REFRIGERATION INSPECTOR\n', 'HEAVY DUTY EQUIPMENT MECHANIC\n', 'HEAVY DUTY TRUCK OPERATOR\n', 'HELICOPTER MECHANIC SUPERVISOR\n', 'HOUSING INSPECTOR\n', 'HOUSING INVESTIGATOR\n', 'HOUSING PLANNING AND ECONOMIC ANALYST\n', 'HUMAN RELATIONS ADVOCATE\n', 'HYDROGRAPHER\n', 'IMPROVEMENT ASSESSOR SUPERVISOR\n', 'INDUSTRIAL AND COMMERCIAL FINANCE OFFICER\n', 'INDUSTRIAL CHEMIST\n', 'INDUSTRIAL GRAPHICS SUPERVISOR\n', 'INDUSTRIAL HYGIENIST\n', 'INFORMATION SERVICES SPECIALIST\n', 'INFORMATION SYSTEMS MANAGER\n', 'INSTRUMENT MECHANIC\n', 'INSTRUMENT MECHANIC SUPERVISOR\n', 'INTERNAL AUDITOR\n', 'INVESTMENT OFFICER\n', 'IRRIGATION SPECIALIST\n', 'LABOR SUPERVISOR\n', 'LABORATORY TECHNICIAN\n', 'LAND SURVEYING ASSISTANT\n', 'LANDSCAPE ARCHITECT\n', 'LANDSCAPE ARCHITECTURAL ASSOCIATE\n', 'LEGISLATIVE ASSISTANT\n', 'LEGISLATIVE REPRESENTATIVE\n', 'LIBRARIAN\n', 'LIBRARY ASSISTANT\n', 'LICENSED VOCATIONAL NURSE\n', 'LINE MAINTENANCE ASSISTANT\n', 'LOCKSMITH\n', 'MACHINIST\n', 'MACHINIST SUPERVISOR\n', 'MAINTENANCE AND CONSTRUCTION HELPER\n', 'MAINTENANCE LABORER\n', 'MANAGEMENT AIDE\n', 'MANAGEMENT ANALYST\n', 'MANAGEMENT ASSISTANT\n', 'MANAGING WATER UTILITY ENGINEER\n', 'MARINE AQUARIUM CURATOR\n', 'MARINE AQUARIUM PROGRAM DIRECTOR\n', 'MARINE ENVIRONMENTAL MANAGER\n', 'MARINE ENVIRONMENTAL SUPERVISOR\n', 'MASONRY WORKER\n', 'MATERIALS TESTING ENGINEERING ASSOCIATE\n', 'MATERIALS TESTING TECHNICIAN\n', 'MECHANICAL ENGINEER\n', 'MECHANICAL ENGINEERING ASSOCIATE\n', 'MECHANICAL ENGINEERING DRAFTING TECHNICIAN\n', 'MECHANICAL HELPER\n', 'MECHANICAL REPAIR GENERAL SUPERVISOR\n', 'MECHANICAL REPAIR SUPERVISOR\n', 'MECHANICAL REPAIRER\n', 'MEDICAL ASSISTANT\n', 'METER READER\n', 'MOTION PICTURE AND TELEVISION MANAGER\n', 'MOTOR SWEEPER OPERATOR\n', 'OCCUPATIONAL HEALTH NURSE\n', 'OFFICE ENGINEERING TECHNICIAN\n', 'OFFICE SERVICES ASSISTANT\n', 'OFFICE TRAINEE\n', 'OPERATIONS AND STATISTICAL RESEARCH ANALYST\n', 'PAINTER\n', 'PAINTER SUPERVISOR\n', 'PARK MAINTENANCE SUPERVISOR\n', 'PARK RANGER\n', 'PARK SERVICES SUPERVISOR\n', 'PARKING ATTENDANT\n', 'PARKING ENFORCEMENT MANAGER\n', 'PARKING MANAGER\n', 'PARKING METER TECHNICIAN\n', 'PARKING METER TECHNICIAN SUPERVISOR\n', 'PAYROLL ANALYST\n', 'PAYROLL SUPERVISOR\n', 'PERFORMING ARTS DIRECTOR\n', 'PERSONNEL ANALYST\n', 'PERSONNEL DIRECTOR\n', 'PERSONNEL RECORDS SUPERVISOR\n', 'PERSONNEL RESEARCH ANALYST\n', 'PHOTOGRAPHER\n', 'PILE DRIVER WORKER\n', 'PIPEFITTER\n', 'PIPEFITTER SUPERVISOR\n', 'PLANNING ASSISTANT\n', 'PLUMBER\n', 'PLUMBER SUPERVISOR\n', 'PLUMBING INSPECTOR\n', 'POLICE ADMINISTRATOR\n', 'POLICE CAPTAIN\n', 'POLICE COMMANDER\n', 'POLICE DETECTIVE\n', 'POLICE LIEUTENANT\n', 'POLICE OFFICER\n', 'POLICE PERFORMANCE AUDITOR\n', 'POLICE SERGEANT\n', 'POLICE SERVICE REPRESENTATIVE\n', 'POLICE SPECIAL INVESTIGATOR\n', 'POLICE SPECIALIST\n', 'POLICE SURVEILLANCE SPECIALIST\n', 'POLYGRAPH EXAMINER\n', 'PORT ELECTRICAL MECHANIC\n', 'PORT ELECTRICAL MECHANIC SUPERVISOR\n', 'PORT MAINTENANCE SUPERVISOR\n', 'PORT PILOT\n', 'PORT POLICE CAPTAIN\n', 'PORT POLICE LIEUTENANT\n', 'PORT POLICE OFFICER\n', 'PORT POLICE SERGEANT\n', 'PORTFOLIO MANAGER\n', 'POWER ENGINEERING MANAGER\n', 'POWER SHOVEL OPERATOR\n', 'PRE-PRESS OPERATOR\n', 'PRINCIPAL ACCOUNTANT\n', 'PRINCIPAL ANIMAL KEEPER\n', 'PRINCIPAL CITY PLANNER\n', 'PRINCIPAL CIVIL ENGINEER\n', 'PRINCIPAL CIVIL ENGINEERING DRAFTING TECHNICIAN\n', 'PRINCIPAL CLERK\n', 'PRINCIPAL CLERK POLICE\n', 'PRINCIPAL CLERK UTILITY\n', 'PRINCIPAL COMMUNICATIONS OPERATOR\n', 'PRINCIPAL CONSTRUCTION INSPECTOR\n', 'PRINCIPAL DEPUTY CONTROLLER\n', 'PRINCIPAL DETENTION OFFICER\n', 'PRINCIPAL ELECTRIC TROUBLE DISPATCHER\n', 'PRINCIPAL ELECTRICAL ENGINEERING DRAFTING TECHNICIAN\n', 'PRINCIPAL ENVIRONMENTAL ENGINEER\n', 'PRINCIPAL GROUNDS MAINTENANCE SUPERVISOR\n', 'PRINCIPAL INSPECTOR\n', 'PRINCIPAL LIBRARIAN\n', 'PRINCIPAL MECHANICAL ENGINEERING DRAFTING TECHNICIAN\n', 'PRINCIPAL PHOTOGRAPHER\n', 'PRINCIPAL PROPERTY OFFICER\n', 'PRINCIPAL PUBLIC RELATIONS REPRESENTATIVE\n', 'PRINCIPAL RECREATION SUPERVISOR\n', 'PRINCIPAL SECURITY OFFICER\n', 'PRINCIPAL STOREKEEPER\n', 'PRINCIPAL TAX AUDITOR\n', 'PRINCIPAL TAX COMPLIANCE OFFICER\n', 'PRINCIPAL TRANSPORTATION ENGINEER\n', 'PRINCIPAL UTILITY ACCOUNTANT\n', 'PRINCIPAL WORKERS_ COMPENSATION ANALYST\n', 'PRINTING PRESS OPERATOR\n', 'PRINTING SERVICES SUPERINTENDENT\n', 'PROCUREMENT ANALYST\n', 'PROCUREMENT SUPERVISOR\n', 'PROGRAMMER ANALYST\n', 'PROPERTY MANAGER\n', 'PROPERTY OFFICER\n', 'PROTECTIVE COATING WORKER\n', 'PUBLIC INFORMATION DIRECTOR\n', 'PUBLIC RELATIONS SPECIALIST\n', 'PUBLIC SAFETY RISK MANAGER\n', 'RATES MANAGER\n', 'REAL ESTATE ASSOCIATE\n', 'REAL ESTATE OFFICER\n', 'REAL ESTATE TRAINEE\n', 'RECREATION COORDINATOR\n', 'RECREATION FACILITY DIRECTOR\n', 'RECREATION SUPERVISOR\n', 'REFUSE COLLECTION SUPERVISOR\n', 'REFUSE COLLECTION TRUCK OPERATOR\n', 'REFUSE CREW FIELD INSTRUCTOR\n', 'REHABILITATION CONSTRUCTION SPECIALIST\n', 'REHABILITATION PROJECT COORDINATOR\n', 'REINFORCING STEEL WORKER\n', 'REPROGRAPHICS OPERATOR\n', 'REPROGRAPHICS SUPERVISOR\n', 'RETIREMENT PLAN MANAGER\n', 'RIDESHARE PROGRAM ADMINISTRATOR\n', 'RISK AND INSURANCE ASSISTANT\n', 'RISK MANAGEMENT AND PREVENTION PROGRAM SPECIALIST\n', 'RISK MANAGER\n', 'ROOFER\n', 'ROOFER SUPERVISOR\n', 'SAFETY ADMINISTRATOR\n', 'SAFETY ENGINEER\n', 'SAFETY ENGINEER ELEVATORS\n', 'SAFETY ENGINEERING ASSOCIATE\n', 'SANITATION SOLID RESOURCES MANAGER\n', 'SANITATION WASTEWATER MANAGER\n', 'SECRETARY\n', 'SECRETARY LEGAL\n', 'SECURITY AIDE\n', 'SECURITY OFFICER\n', 'SENIOR ACCOUNTANT\n', 'SENIOR ADMINISTRATIVE ANALYST\n', 'SENIOR ADMINISTRATIVE CLERK\n', 'SENIOR ANIMAL CONTROL OFFICER\n', 'SENIOR ANIMAL KEEPER\n', 'SENIOR ARCHITECT\n', 'SENIOR ARCHITECTURAL DRAFTING TECHNICIAN\n', 'SENIOR AUDITOR\n', 'SENIOR AUTOMOTIVE SUPERVISOR\n', 'SENIOR BUILDING INSPECTOR\n', 'SENIOR BUILDING MECHANICAL INSPECTOR\n', 'SENIOR BUILDING OPERATING ENGINEER\n', 'SENIOR CARPENTER\n', 'SENIOR CHEMIST\n', 'SENIOR CITY PLANNER\n', 'SENIOR CIVIL ENGINEER\n', 'SENIOR CIVIL ENGINEERING DRAFTING TECHNICIAN\n', 'SENIOR CLAIMS REPRESENTATIVE\n', 'SENIOR COMMERCIAL FIELD REPRESENTATIVE\n', 'SENIOR COMMUNICATIONS CABLE WORKER\n', 'SENIOR COMMUNICATIONS ELECTRICIAN\n', 'SENIOR COMMUNICATIONS ELECTRICIAN SUPERVISOR\n', 'SENIOR COMMUNICATIONS ENGINEER\n', 'SENIOR COMMUNICATIONS OPERATOR\n', 'SENIOR COMPUTER OPERATOR\n', 'SENIOR CONSTRUCTION ENGINEER\n', 'SENIOR CONSTRUCTION ESTIMATOR\n', 'SENIOR CONSTRUCTION INSPECTOR\n', 'SENIOR CUSTODIAN\n', 'SENIOR DATA PROCESSING TECHNICIAN\n', 'SENIOR DETENTION OFFICER\n', 'SENIOR ELECTRIC SERVICE REPRESENTATIVE\n', 'SENIOR ELECTRIC TROUBLE DISPATCHER\n', 'SENIOR ELECTRICAL ENGINEERING DRAFTING TECHNICIAN\n', 'SENIOR ELECTRICAL INSPECTOR\n', 'SENIOR ELECTRICAL MECHANIC\n', 'SENIOR ELECTRICAL MECHANIC SUPERVISOR\n', 'SENIOR ELECTRICAL REPAIR SUPERVISOR\n', 'SENIOR ELECTRICAL TEST TECHNICIAN\n', 'SENIOR ELECTRICIAN\n', 'SENIOR ENVIRONMENTAL COMPLIANCE INSPECTOR\n', 'SENIOR ENVIRONMENTAL ENGINEER\n', 'SENIOR EQUIPMENT MECHANIC\n', 'SENIOR EXAMINER OF QUESTIONED DOCUMENTS\n', 'SENIOR FIRE PROTECTION ENGINEER\n', 'SENIOR FORENSIC PRINT SPECIALIST\n', 'SENIOR GARDENER\n', 'SENIOR HEATING AND REFRIGERATION INSPECTOR\n', 'SENIOR HEAVY DUTY EQUIPMENT MECHANIC\n', 'SENIOR HOUSING INSPECTOR\n', 'SENIOR HOUSING INVESTIGATOR\n', 'SENIOR HYDROGRAPHER\n', 'SENIOR INDUSTRIAL HYGIENIST\n', 'SENIOR LABOR RELATIONS SPECIALIST\n', 'SENIOR LEGISLATIVE ASSISTANT\n', 'SENIOR LIBRARIAN\n', 'SENIOR LOAD DISPATCHER\n', 'SENIOR MACHINIST SUPERVISOR\n', 'SENIOR MANAGEMENT ANALYST\n', 'SENIOR MECHANICAL ENGINEERING DRAFTING TECHNICIAN\n', 'SENIOR MECHANICAL REPAIRER\n', 'SENIOR PAINTER\n', 'SENIOR PARK MAINTENANCE SUPERVISOR\n', 'SENIOR PARK RANGER\n', 'SENIOR PARK SERVICES ATTENDANT\n', 'SENIOR PARKING ATTENDANT\n', 'SENIOR PERSONNEL ANALYST\n', 'SENIOR PHOTOGRAPHER\n', 'SENIOR PLUMBER\n', 'SENIOR PLUMBING INSPECTOR\n', 'SENIOR POLICE SERVICE REPRESENTATIVE\n', 'SENIOR PORT ELECTRICAL MECHANIC\n', 'SENIOR PROPERTY OFFICER\n', 'SENIOR REAL ESTATE OFFICER\n', 'SENIOR RECREATION DIRECTOR\n', 'SENIOR SAFETY ENGINEER ELEVATORS\n', 'SENIOR SAFETY ENGINEER PRESSURE VESSELS\n', 'SENIOR SECURITY OFFICER\n', 'SENIOR STOREKEEPER\n', 'SENIOR STREET LIGHTING ENGINEER\n', 'SENIOR STRUCTURAL ENGINEER\n', 'SENIOR SURVEY SUPERVISOR\n', 'SENIOR SYSTEMS ANALYST\n', 'SENIOR TAX AUDITOR\n', 'SENIOR TITLE EXAMINER\n', 'SENIOR TRAFFIC SUPERVISOR\n', 'SENIOR TRANSPORTATION ENGINEER\n', 'SENIOR TRANSPORTATION INVESTIGATOR\n', 'SENIOR UNDERGROUND DISTRIBUTION CONSTRUCTION SUPERVISOR\n', 'SENIOR UTILITY ACCOUNTANT\n', 'SENIOR UTILITY BUYER\n', 'SENIOR UTILITY SERVICES SPECIALIST\n', 'SENIOR UTILITY SERVICES SPECIALIST\n', 'SENIOR WASTEWATER TREATMENT OPERATOR\n', 'SENIOR WINDOW CLEANER\n', "SENIOR WORKERS' COMPENSATION ANALYST\n", 'SHEET METAL SUPERVISOR\n', 'SHEET METAL WORKER\n', 'SHIFT SUPERINTENDENT WASTEWATER TREATMENT\n', 'SHOPS SUPERINTENDENT\n', 'SIGN PAINTER\n', 'SIGN SHOP SUPERVISOR\n', 'SIGNAL SYSTEMS ELECTRICIAN\n', 'SIGNAL SYSTEMS SUPERINTENDENT\n', 'SIGNAL SYSTEMS SUPERVISOR\n', 'SOCIAL WORKER\n', 'SOLID RESOURCES SUPERINTENDENT\n', 'SOLID WASTE DISPOSAL SUPERINTENDENT\n', 'SPECIAL INVESTIGATOR\n', 'SR CRIME & INTELLIGENCE ANALYST\n', 'STAFF ASSISTANT TO GENERAL MANAGER WATER AND POWER\n', 'STEAM PLANT ASSISTANT\n', 'STEAM PLANT MAINTENANCE MECHANIC\n', 'STEAM PLANT MAINTENANCE SUPERVISOR\n', 'STEAM PLANT OPERATOR\n', 'STOREKEEPER\n', 'STORES SUPERVISOR\n', 'STREET LIGHTING CONSTRUCTION AND MAINTENANCE SUPERINTENDENT\n', 'STREET LIGHTING ELECTRICIAN\n', 'STREET LIGHTING ELECTRICIAN SUPERVISOR\n', 'STREET LIGHTING ENGINEER\n', 'STREET LIGHTING ENGINEERING ASSOCIATE\n', 'STREET SERVICES GENERAL SUPERINTENDENT\n', 'STREET SERVICES INVESTIGATOR\n', 'STREET SERVICES SUPERINTENDENT\n', 'STREET SERVICES SUPERVISOR\n', 'STREET SERVICES WORKER\n', 'STREET TREE SUPERINTENDENT\n', 'STRUCTURAL ENGINEER\n', 'STRUCTURAL ENGINEERING ASSOCIATE\n', 'STRUCTURAL STEEL FABRICATOR\n', 'STRUCTURAL STEEL FABRICATOR SUPERVISOR\n', 'SUPERINTENDENT OF RECREATION AND PARKS OPERATIONS\n', 'SUPERVISING CRIMINALIST\n', 'SUPERVISING OCCUPATIONAL HEALTH\n', 'SUPERVISING TRANSPORTATION PLANNER\n', 'SUPERVISING WATER SERVICE REPRESENTATIVE\n', 'SUPPLY SERVICES MANAGER\n', 'SUPPLY SERVICES PAYMENT CLERK\n', 'SURVEY PARTY CHIEF\n', 'SURVEY SUPERVISOR\n', 'SYSTEMS AIDE\n', 'SYSTEMS ANALYST\n', 'SYSTEMS PROGRAMMER\n', 'TAX AUDITOR\n', 'TAX COMPLIANCE AIDE\n', 'TAX COMPLIANCE OFFICER\n', 'TELECOMMUNICATIONS PLANNING AND UTILIZATION OFFICER\n', 'TILE SETTER\n', 'TIRE REPAIRER\n', 'TITLE EXAMINER\n', 'TRAFFIC OFFICER\n', 'TRAFFIC PAINTER AND SIGN POSTER\n', 'TRANSMISSION AND DISTRIBUTION DISTRICT SUPERVISOR\n', 'TRANSPORTATION ENGINEER\n', 'TRANSPORTATION ENGINEERING AIDE\n', 'TRANSPORTATION ENGINEERING ASSOCIATE\n', 'TRANSPORTATION INVESTIGATOR\n', 'TRANSPORTATION PLANNING ASSOCIATE\n', 'TREASURY ACCOUNTANT\n', 'TREE SURGEON\n', 'TREE SURGEON ASSISTANT\n', 'TREE SURGEON SUPERVISOR\n', 'TRUCK AND EQUIPMENT DISPATCHER\n', 'TRUCK OPERATOR\n', 'UNDERGROUND DISTRIBUTION CONSTRUCTION MECHANIC\n', 'UNDERGROUND DISTRIBUTION CONSTRUCTION SUPERVISOR\n', 'UTILITIES SERVICE INVESTIGATOR\n', 'UTILITY ACCOUNTANT\n', 'UTILITY ADMINISTRATOR\n', 'UTILITY BUYER\n', 'UTILITY EXECUTIVE SECRETARY\n', 'UTILITY SERVICES MANAGER\n', 'UTILITY SERVICES SPECIALIST\n', 'VIDEO PRODUCTION COORDINATOR\n', 'VIDEO TECHNICIAN\n', 'Vocational Worker  DEPARTMENT OF PUBLIC\n', 'VOLUNTEER COORDINATOR\n', 'WAREHOUSE AND TOOLROOM WORKER\n', 'WASTEWATER COLLECTION SUPERVISOR\n', 'WASTEWATER TREATMENT ELECTRICIAN SUPERVISOR\n', 'WASTEWATER TREATMENT LABORATORY MANAGER\n', 'WASTEWATER TREATMENT ME

In [3]:
with open('CityofLA/Additional data/kaggle_data_dictionary.csv', encoding = 'utf-8') as f:
    print(f.readlines())

['Field Name,Annotation Letter,Description,Data Type,Allowable Values,Accepts Null Values?,Additional Notes\n', 'FILE_NAME,,The file name of the job bulletin from which each record came,String,,No,\n', 'JOB_CLASS_TITLE,A,"The title of the particular class (e.g., Systems Analyst, Carpenter)",String,Any job title matching in in supplied job bulletins,No,\n', 'JOB_CLASS_NO,B,The 4-digit code that corresponds to the job class.,String,Any four character numeric string matching one in supplied job bulletins,No,"Some classes have three non-zero digits — e.g., 0162. These will take the form 0###"\n', 'REQUIREMENT_SET_ID,D1,"A main requirement that has to be filled. These are identified with numbers in the job bulletin. Relationships between requirement sets are specified by an ""AND|OR"" conjunction (data element E1 on the data annotation chart)",Integer,Any positive integer,No,\n', 'REQUIREMENT_SUBSET_ID,D2,"A secondary requirement that has to be filled, nested under a REQUIREMENT_SET_ID. These are identified with letters in the job bulletin. Relationships between requirement sub-sets are specified by an ""AND|OR"" conjunction (Data element E2 on the data annotation chart)",String,Any letter or combination of letters.,No,"A-Z represents 1-26. In the case of 27th, 28th, ... sub-requirement, use AA, BB, ..."\n', 'JOB_DUTIES,C,"A summary of what someone does in the particular job\n', '",String,,No,\n', 'EDUCATION_YEARS,F,Years required in a particular education program,Float,Any positive float representing years or a fraction of years,Yes,"Any job description that mentions months should be converted to years. For instance, 6 months should appear as .5 years"\n', 'SCHOOL_TYPE,G,"School Type: School type required (e.g. college or university, high school)",String,"COLLEGE OR UNIVERSITY, HIGH SCHOOL, APPRENTICESHIP",Yes,"Allowable value list is most likely incomplete and should be updated once you analyze the bulletins. For these purposes ""apprenticeship"" or certificates should be considered school type."\n', 'EDUCATION_MAJOR,H,Major or concentration required,String,,Yes,"A list of many sufficient majors should appear as a single string separated by a ""|""  For instance, ""ECONOMICS|STATISTICS"" would represent ""Economics"" or ""Statistics"". If the school type is an apprenticeship, this should include whatever the apprenticeship must be in (e.g. carpenter, cabinetmaker)"\n', 'EXPERIENCE_LENGTH,I,Years required in a particular job class or external role.,Float,,Yes,Some classes may specify months rather than years. These should be transformed to years (e.g. 6 months should be entered as .5)\n', 'FULL_TIME_PART_TIME,J,"Whether the required experience is full-time, part",String,"FULL_TIME, PART_TIME",Yes,Allowable value list is most likely incomplete and should be updated once you analyze the bulletins\n', 'EXP_JOB_CLASS_TITLE,K1,Job class title of Internal City job that one must hold to satisfy a requirement (e.g. Management Assistant),String,"Any City recognized job class, as determined by supplied job bulletins",Yes,\n', 'EXP_JOB_CLASS_ALT_RESP,K1b,"For job bulletins that allow an alternate class to K1, the duties/responsibilities of the alternate class",String,,Yes,"In some cases, a job bulletin will ask for a specific class but also allow you to be a different City class that performs a similar function. This field will capture that function."\n', 'EXP_JOB_CLASS_FUNCTION,K2,"Job experience of City or non-City specific jobs (e.g. the development, analysis, implementation or major modification of new or existing computer-based information systems or relational databases)",String,,Yes,\n', 'COURSE_COUNT,L,The number of courses in a specified field required,Integer,,Yes,\n', 'COURSE_LENGTH,M,The semester or quarter unit count needed. ,String,#Q|#S,Yes,"This will take the form of two elements: a number indicating the count of units and a letter indicating whether the count is Q (quarter) or S (semester units). As job classes will specify number for each, this field will contain both Quarter and Semester counts, separated by a ""I"""\n', 'COURSE_SUBJECT,N,The necessary subject(s) of required courses,String,,Yes,"A list of many sufficient majors should appear as a single string separated by a ""|""  For instance, ""ECONOMICS|STATISTICS"" would represent ""Economics"" or ""Statistics"""\n', 'MISC_COURSE_DETAILS,O,An unstructured string of miscellaneous course-specific requirements not captured in elements O–Q.,String,,Yes,"As an example, the class of Systems Analyst includes the following sub-requirement that must be satisfied to meeting the third requirement set:\n', '\n', '""At least three of the courses must be from the core courses required in the program, and one course may be from either the required core courses or the prescribed elective courses of the program.  A course in systems analysis and design is especially desired, but not required.""\n', '\n', 'You need not further structure sub-requirements that do not neatly align to other defined features in this data dictionary. They should appear in this feature as an unstructured string.\n', '\n', '"\n', 'DRIVERS_LICENSE_REQ,P1,"Whether a driver’s license is required, possibly required, or not required (note: the job class will most likely not explicitly say if a license is not required)",String,"P, R",Yes,"P (or possible) refers to any class that says ""Some positions may require a valid California driver\'s license"" or anything to that extent. R (or required) explicitly says a driver\'s license is required"\n', 'DRIV_LIC_TYPE,P2,The specific driver’s license type required,String,"B, C",Yes,Allowable value list is most likely incomplete and should be updated once you analyze the bulletins\n', "ADDTL_LIC,Q,Additional licenses specified in the job bulletin other than Driver's License (covered in Elementa P1 and P2),String,,Yes,\n", 'EXAM_TYPE,R,Classifications have different rules around whether one has to already have Civil Service status to apply or whether experience has to be in a particular department. ,String,"OPEN, INT_DEPT_PROM, DEPT_PROM, OPEN_INT_PROM",No,"Code explanation:\n', '\n', 'OPEN: Exam open to anyone (pending other requirements)\n', 'INT_DEPT_PROM: Interdepartmental Promotional\n', 'DEPT_PROM: Departmental Promotional\n', 'OPEN_INT_PROM: Open or Competitive Interdepartmental Promotional"\n', 'ENTRY_SALARY_GEN,S1,"The base overall salary range (e.g. $49,000-$72,000). Some classifications may have multiple ranges as there are sometimes several sub-titles of a job class. This should only include the first listed salary range.",String,"$#####-$#####, $##### (flat-rated)",No,This field may take the form of a range of two salaries or only include one amount for flat-rated classes.\n', 'ENTRY_SALARY_DWP,S2,"For job classes that are available in the City at large AND the DWP agency specifically, a second DWP salary range will be provided. This field will capture the first DWP-specific salary range.",String,"$#####-$#####, $##### (flat-rated)",Yes,This field may take the form of a range of two salaries or only include one amount for flat-rated classes.\n', 'OPEN_DATE,T,The date the job bulletin opened,Date,,,']

In [4]:
job_titles = pd.read_csv('CityofLA/Additional data/job_titles.csv')

## Data Dictionary

In [5]:
kaggle_data_dictionary = pd.read_csv('CityofLA/Additional data/kaggle_data_dictionary.csv')

In [6]:
kaggle_data_dictionary

,Field Name,Annotation Letter,Description,Data Type,Allowable Values,Accepts Null Values?,Additional Notes
0,FILE_NAME,NaN,The file name of the job bulletin from which e...,String,NaN,No,NaN
1,JOB_CLASS_TITLE,A,"The title of the particular class (e.g., Syste...",String,Any job title matching in in supplied job bull...,No,NaN
2,JOB_CLASS_NO,B,The 4-digit code that corresponds to the job c...,String,Any four character numeric string matching one...,No,Some classes have three non-zero digits — e.g....
3,REQUIREMENT_SET_ID,D1,A main requirement that has to be filled. Thes...,Integer,Any positive integer,No,NaN
4,REQUIREMENT_SUBSET_ID,D2,"A secondary requirement that has to be filled,...",String,Any letter or combination of letters.,No,"A-Z represents 1-26. In the case of 27th, 28th..."
5,JOB_DUTIES,C,A summary of what someone does in the particul...,String,NaN,No,NaN
6,EDUCATION_YEARS,F,Years required in a particular education program,Float,Any positive float representing years or a fra...,Yes,Any job description that mentions months shoul...
7,SCHOOL_TYPE,G,School Type: School type required (e.g. colleg...,String,"COLLEGE OR UNIVERSITY, HIGH SCHOOL, APPRENTICE...",Yes,Allowable value list is most likely incomplete...
8,EDUCATION_MAJOR,H,Major or concentration required,String,NaN,Yes,A list of many sufficient majors should appear...
9,EXPERIENCE_LENGTH,I,Years required in a particular job class or ex...,Float,NaN,Yes,Some classes may specify months rather than ye...
10,FULL_TIME_PART_TIME,J,"Whether the required experience is full-time, ...",String,"FULL_TIME, PART_TIME",Yes,Allowable value list is most likely incomplete...
11,EXP_JOB_CLASS_TITLE,K1,Job class title of Internal City job that one ...,String,"Any City recognized job class, as determined b...",Yes,NaN
12,EXP_JOB_CLASS_ALT_RESP,K1b,For job bulletins that allow an alternate clas...,String,NaN,Yes,"In some cases, a job bulletin will ask for a s..."
13,EXP_JOB_CLASS_FUNCTION,K2,Job experience of City or non-City specific jo...,String,NaN,Yes,NaN
14,COURSE_COUNT,L,The number of courses in a specified field req...,Integer,NaN,Yes,NaN
15,COURSE_LENGTH,M,The semester or quarter unit count needed.,String,#Q|#S,Yes,This will take the form of two elements: a num...
16,COURSE_SUBJECT,N,The necessary subject(s) of required courses,String,NaN,Yes,A list of many sufficient majors should appear...
17,MISC_COURSE_DETAILS,O,An unstructured string of miscellaneous course...,String,NaN,Yes,"As an example, the class of Systems Analyst in..."
18,DRIVERS_LICENSE_REQ,P1,"Whether a driver’s license is required, possib...",String,"P, R",Yes,P (or possible) refers to any class that says ...
19,DRIV_LIC_TYPE,P2,The specific driver’s license type required,String,"B, C",Yes,Allowable value list is most likely incomplete...
20,ADDTL_LIC,Q,Additional licenses specified in the job bulle...,String,NaN,Yes,NaN
21,EXAM_TYPE,R,Classifications have different rules around wh...,String,"OPEN, INT_DEPT_PROM, DEPT_PROM, OPEN_INT_PROM",No,Code explanation:\n\nOPEN: Exam open to anyone...
22,ENTRY_SALARY_GEN,S1,"The base overall salary range (e.g. $49,000-$7...",String,"$#####-$#####, $##### (flat-rated)",No,This field may take the form of a range of two...
23,ENTRY_SALARY_DWP,S2,For job classes that are available in the City...,String,"$#####-$#####, $##### (flat-rated)",Yes,This field may take the form of a range of two...
24,OPEN_DATE,T,The date the job bulletin opened,Date,NaN,NaN,NaN

In [7]:
kaggle_data_dictionary.iloc[3]['Description']

'A main requirement that has to be filled. These are identified with numbers in the job bulletin. Relationships between requirement sets are specified by an "AND|OR" conjunction (data element E1 on the data annotation chart)'

## Sample

In [9]:
sample = pd.read_csv('CityofLA/Additional data/sample job class export template.csv')

In [10]:
sample.head()

,FILE_NAME,JOB_CLASS_TITLE,JOB_CLASS_NO,REQUIREMENT_SET_ID,REQUIREMENT_SUBSET_ID,JOB_DUTIES,EDUCATION_YEARS,SCHOOL_TYPE,EDUCATION_MAJOR,EXPERIENCE_LENGTH,...,COURSE_LENGTH,COURSE_SUBJECT,MISC_COURSE_DETAILS,DRIVERS_LICENSE_REQ,DRIV_LIC_TYPE,ADDTL_LIC,EXAM_TYPE,ENTRY_SALARY_GEN,ENTRY_SALARY_DWP,OPEN_DATE
0,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,1,A,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,COMPUTER SCIENCE|INFORMATION SYSTEMS|GEOGRAPHI...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
1,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,A,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
2,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,B,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
3,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,C,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
4,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,3,A,"A Systems Analyst analyzes procedures, methods...",NaN,NaN,NaN,2.0,...,"3M, 4Q",INFORMATION SYSTEMS|SYSTEMS ANALYSIS|closely r...,At least three of the courses must be from the...,M,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17

In [31]:
text = ''
with open('CityofLA/Job Bulletins/311 DIRECTOR  9206 041814.txt', encoding = 'utf-8') as f:
    text = f.read()

In [12]:
job_title = text.splitlines()[0].strip()

In [50]:
code = r'Class Code:\s*(\d*)'
open_d = r'Open Date:\s*(\d\d-\d\d-\d\d)'
sal = r'(\$(\d+,\d+))((\s(to|and)\s)(\$\d+,\d+))?' # Taken from kaggle kernel
dut = r'DUTIES\W+(.*\n)'
req = r'REQUIREMENT(S)?(/MINIMUM\sQUALIFICATION)?\W+(.*\n)'
end_d = r'(MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY|SUNDAY)\W+(JANUARY|FEBRUARY|MARCH|APRIL|MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER)(.*\d)'

In [9]:
def doextraction(glob_text):
    col = ['FILE_NAME', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO', 'SALARY_RANGE',
                   'DUTIES', 'REQUIREMENTS', 'APPLICATION_DEADLINE']
    df = pd.DataFrame(columns = col) 
    """Get all the files from the given glob and pass them to the extractor."""
    for thefile in glob.glob(glob_text)[:200]:
        with io.open(thefile, 'r', encoding='utf-8') as fyl:
            text = fyl.read()
            df = get_features(text, thefile, df)
            
    return df

In [ ]:
headings = []
for line in text.split('\n'):
    if line.isupper():
        headings.append(line.strip())

In [ ]:
headings

In [51]:
def get_features(text, filename, df):
    filename = filename.replace('CityofLA/Job Bulletins\\', '')
    headings = []
    for line in text.split('\n'):
        if line.isupper():
            headings.append(line.strip())
    job_title = text.strip().splitlines()[0].strip()
    class_code = re.findall(code, text)[0]
    try:
        open_date = re.findall(open_d, text)[0]
    except:
        open_date = np.NaN
    salary_range = re.search(sal, text)
    
    try:
        salary_start = salary_range.group(1)
    except:
        salary_start = np.NaN
        
    try:
        salary_end = salary_range.group(6)
    except:
        salary_end = np.NaN
 
    x = headings.index([elm for elm in headings if elm.startswith('REQUIREMENT')][0])
    m = re.search(headings[x], text).end()
    n = re.search(headings[x+1], text).start()
    requirement = text[m:n].strip()
    try:
        x = headings.index([elm for elm in headings if elm.startswith('DUT')][0])
        m = re.search(headings[x], text).end()
        n = re.search(headings[x+1], text).start()
        duties = text[m:n].strip()
    except:
        duties = np.NaN
    try:
        x = re.findall(end_d, text)[0]
        deadline = ''.join(x).strip()
    except:
        deadline = np.NaN
        
    df = df.append({'FILE_NAME': filename, 'JOB_CLASS_TITLE': job_title, 'JOB_CLASS_NO': class_code, 'SALARY_START': salary_start,
                    'SALARY_END': salary_end, 'DUTIES': duties, 'REQUIREMENTS': requirement, 'APPLICATION_DEADLINE': deadline}, ignore_index = True)
    
    return df

In [52]:
data_df = doextraction('CityofLA/Job Bulletins/*.txt')

In [53]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
data_df

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_RANGE                                             DUTIES                                       REQUIREMENTS                               APPLICATION_DEADLINE SALARY_END SALARY_START
0                        311 DIRECTOR  9206 041814.txt                                      311 DIRECTOR         9206          NaN  A 311 Director is responsible for the successf...  1. One year of full-time paid experience as a ...                                THURSDAYMAY 1, 2014   $155,514     $125,175
1                           ACCOUNTANT 1513 062218.txt                                        ACCOUNTANT         1513          NaN  An Accountant does professional accounting wor...  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018    $72,996      $49,903
2                     ACCOUNTING CLERK 1223 071318.txt                                  ACCOUNTING CLERK         1223          NaN  An Accounting Clerk performs difficult and res...  Two years of full-time paid office clerical ex...                                                NaN    $71,618      $49,005
3        ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt                     ACCOUNTING RECORDS SUPERVISOR         1119          NaN  An Accounting Records Supervisor assigns, revi...  Two years of full-time paid experience as an A...                             THURSDAYAUGUST 9, 2018    $80,930      $55,332
4               ADMINISTRATIVE ANALYST 1590 060118.txt                            ADMINISTRATIVE ANALYST         1590          NaN  An Administrative Analyst performs professiona...  1. One year of full-time paid professional exp...                              THURSDAYJUNE 14, 2018    $88,468      $60,489
5             ADMINISTRATIVE CLERK 1358 033018 (2).txt                              ADMINISTRATIVE CLERK         1358          NaN  An Administrative Clerk performs general offic...  Six months of full-time paid experience in cle...                             THURSDAYAPRIL 12, 2018    $54,935      $37,584
6      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt                   ADMINISTRATIVE HEARING EXAMINER         9135          NaN  An Administrative Hearing Examiner conducts qu...  1. Two years of full-time paid experience with...                           THURSDAYOCTOBER 22, 2015    $80,012      $54,726
7    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...       ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE         2325          NaN  An Advance Practice Provider Correctional Care...  1. Must be licensed as a: \na. Registered Nurs...                                                NaN    $97,530      $78,487
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774          NaN  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017       None      $90,118
9    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...              AIR CONDITIONING MECHANIC SUPERVISOR         3781          NaN  An Air Conditioning Mechanic Supervisor assign...  Four years of full-time paid experience as an ...                          THURSDAYNOVEMBER 29, 2018   $108,482     $103,841
10                        AIRPORT AIDE 1540 081018.txt                                      AIRPORT AIDE         1540          NaN  An Airport Aide provides services and transpor...  One year of full-time paid experience as an Ai...                            THURSDAYAUGUST 23, 2018    $63,203      $43,242
11   AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...        AIRPORT CHIEF INFORMATION SECURITY OFFICER         1404          NaN  Airport Chief Information Security Officer man...  1. A bachelor's degree from an accredited four...                          THURSDAYDECEMBER 17, 2015   $183,576     $125,551
12                    AIRPORT ENGINEER 7256 070618.txt                                  AIRPORT ENGINEER         7256          NaN  An Airport Engineer performs professional engi...  1. Two years of full-time paid professional ex...                              THURSDAYJULY 19, 2018   $153,509     $105,005
13                       AIRPORT GUIDE 0845 042018.txt                                     AIRPORT GUIDE         0845          NaN  An Airport Guide directs arriving passengers t...  1,040 hours of paid or volunteer experience in...                                THURSDAYMAY 3, 2018    $44,265      $31,946
14      AIRPORT INFORMATION SPECIALIST 1783 121115.txt                    AIRPORT INFORMATION SPECIALIST         1783          NaN  An Airport Information Specialist provides and...                                                                             THURSDAYDECEMBER 24, 2015    $62,869      $42,991
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210          NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...                          THURSDAYFEBRUARY 14, 2019   $137,327      $93,918
16                     AIRPORT MANAGER 7260 120216.txt                                   AIRPORT MANAGER         7260          NaN  An Airport Manager manages, through subordinat...  1. Two years of full-time paid experience with...                          THURSDAYDECEMBER 15, 2016   $141,378      $99,326
17              AIRPORT POLICE CAPTAIN 3228 021618.txt                            AIRPORT POLICE CAPTAIN         3228          NaN  An Airport Police Captain plans, supervises, d...  One year of full-time paid experience as an Ai...                              THURSDAYMARCH 1, 2018   $187,001     $142,568
18           AIRPORT POLICE LIEUTENANT 3227 091616.txt                         AIRPORT POLICE LIEUTENANT         3227          NaN  An Airport Police Lieutenant plans, supervises...  Two years of full-time paid experience as an A...                         THURSDAYSEPTEMBER 29, 2016   $134,028     $102,186
19   AIRPORT POLICE OFFICER 3225 110906 Rev 060115.txt                            AIRPORT POLICE OFFICER         3225          NaN  An Airport Police Officer is a sworn peace off...  1. 21 years of age at the time of hire.  Howev...                                                NaN    $83,019      $51,448
20       AIRPORT POLICE SPECIALIST 3236 063017 (2).txt                         AIRPORT POLICE SPECIALIST         3236          NaN  As a sworn member of the Los Angeles World Air...  1. Possess a current California Basic P.O.S.T....                                                NaN        NaN          NaN
21   AIRPORT SUPERINTENDENT OF OPERATIONS 7268 1218...              AIRPORT SUPERINTENDENT OF OPERATIONS         7268          NaN  An Airport Superintendent of Operations inspec...                                                                             THURSDAYDECEMBER 31, 2015    $78,467      $53,682
22   AIRPORTS MAINTENANCE SUPERINTENDENT 3331 02151...               AIRPORTS MAINTENANCE SUPERINTENDENT         3331          NaN  An Airports Maintenance Superintendent plans, ...  1. Two years of full-time paid experience as a...                              THURSDAYMARCH 1, 2018   $132,108      $90,369
23     AIRPORTS MAINTENANCE SUPERVISOR 3336 111618.txt                   AIRPORTS MAINTENANCE SUPERVISOR         3336          NaN  An Airports Maintenance Supervisor plans, orga...  1. Four years of full-time paid experience as ...                          THURSDAYNOVEMBER 29, 2018    $97,321      $66,523
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788          NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...                          THURSDAYDECEMBER 21, 2017   $123,463      $86,777
25               ANIMAL CARE ASSISTANT 4323 020119.txt                             ANIMAL CARE ASSISTANT         4323          NaN  Animal Care Assistants perform work in the rec...  1. Current employment with the City of Los Ang...                                                NaN    $57,545      $39,337
26   ANIMAL CARE TECHNICIAN 4310 040116 REV 041416.txt                            ANIMAL CARE TECHNICIAN         4310          NaN  An Animal Care Technician receives and cares f...                                                                                THURSDAYAPRIL 21, 2016    $56,396      $38,565
27   ANIMAL CARE TECHNICIAN SUPERVISOR 4313 122118.txt                          WATER TREATMENT OPERATOR         5885          NaN  A Water Treatment Operator does skilled work i...  A valid T2 (or higher) Water Treatment Operato...                           THURSDAYJANUARY 10, 2019    $81,536      $65,646
28             ANIMAL CONTROL OFFICER  4311 061518.txt                            ANIMAL CONTROL OFFICER         4311          NaN  An Animal Control Officer enforces State and C...  1. One year of full-time paid experience perfo...                                                NaN    $67,818      $46,374
29                       ANIMAL KEEPER 4304 083118.txt                                     ANIMAL KEEPER         4304          NaN  An Animal Keeper cares for exotic mammals, bir...  1. One year of full-time paid experience in th...                         THURSDAYSEPTEMBER 13, 2018    $66,983      $45,810
..                                                 ...                                               ...          ...          ...                                                ...                                                ...                                                ...        ...          ...
170                    DELIVERY DRIVER 1121 032318.txt                                   DELIVERY DRIVER         1121          NaN  A Delivery Driver operates a City automobile, ...  1. Current paid employment with the City of Lo...                              THURSDAYAPRIL 5, 2018    $53,390      $36,519
171  DEPARTMENTAL CHIEF ACCOUNTANT 1593 111717 revi...                     DEPARTMENTAL CHIEF ACCOUNTANT         1593          NaN  A Departmental Chief Accountant plans and dire...  Two years of full-time paid professional accou...                          THURSDAYNOVEMBER 30, 2017   $130,771      $91,913
172                  DETENTION OFFICER 3211 113018.txt                                 DETENTION OFFICER         3211          NaN  A Detention Officer is an unarmed civilian emp...  1. Graduation from a high school or the equiva...                                                NaN    $70,052      $46,625
173      DIRECTOR OF AIRPORT MARKETING 1768 042718.txt                     DIRECTOR OF AIRPORT MARKETING         1768          NaN  The Director of Airport Marketing directs prof...  1. A Bachelor's Degree from an accredited coll...                               THURSDAYMAY 10, 2018   $179,943     $123,066
174  DIRECTOR OF AIRPORT OPERATIONS 9304 062317 (3)...                    DIRECTOR OF AIRPORT OPERATIONS         9304          NaN  A Director of Airport Operations plans, coordi...  1. Current employment with the City of Los Ang...                               THURSDAYJULY 6, 2017   $201,867     $141,858
175  DIRECTOR OF AIRPORTS ADMINISTRATION 9302 01271...      DIRECTOR OF AIRPORTS ADMINISTRATION\tREVISED         9302          NaN  Plans, directs, and coordinates the administra...  1. Two years of full-time paid experience with...                           THURSDAYFEBRUARY 9, 2017   $201,868     $141,859
176  DIRECTOR OF COMMUNICATIONS SERVICES 7625 04271...               DIRECTOR OF COMMUNICATIONS SERVICES         7625          NaN  The Director of Communications Services direct...  1. Four years of full-time paid experience at ...                               THURSDAYMAY 10, 2018   $179,943     $123,066
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266          NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...                           THURSDAYFEBRUARY 8, 2018   $179,943     $123,066
178       DIRECTOR OF FIELD OPERATIONS 4321 040618.txt                      DIRECTOR OF FIELD OPERATIONS         4321          NaN  The Director of Field Operations plans, direct...  1. Three years of full-time paid experience wi...                             THURSDAYAPRIL 19, 2018   $148,853     $101,831
179                DIRECTOR OF HOUSING 1568 062317.txt                               DIRECTOR OF HOUSING         1568          NaN  A Director of Housing plans, directs and coord...  Two years of full-time paid professional exper...                               THURSDAYJULY 6, 2017   $171,654     $120,644
180   DIRECTOR OF MAINTENANCE AIRPORTS 7270 041516.txt                  DIRECTOR OF MAINTENANCE AIRPORTS         7270          NaN  A Director of Maintenance Airports directs, or...                                                                                THURSDAYAPRIL 28, 2016   $154,512     $108,576
181  DIRECTOR OF POLICE TRANSPORTATION 3722 061915.txt                 DIRECTOR OF POLICE TRANSPORTATION         3722          NaN  A Director of Police Transportation plans, org...                                                                                  THURSDAYJULY 2, 2015   $124,695     $100,370
182  DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE ...     DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE         3123          NaN  A Director of Port Construction and Maintenanc...                                                                                THURSDAYMARCH 17, 2016   $154,512     $108,576
183  DIRECTOR OF PRINTING SERVICES 1488 101218 REV ...                     DIRECTOR OF PRINTING SERVICES         1488          NaN  The Director of Printing Services manages the ...  1. Three years of full-time paid experience at...                           THURSDAYNOVEMBER 1, 2018   $171,946     $117,596
184      DIRECTOR OF SECURITY SERVICES 3208 040717.txt                     DIRECTOR OF SECURITY SERVICES         3208          NaN  A Director of Security Services plans, organiz...  1. Four years of full-time paid experience in ...                             THURSDAYAPRIL 20, 2017   $126,282     $101,643
185                DIRECTOR OF SYSTEMS 9375 042117.txt                               DIRECTOR OF SYSTEMS         9375          NaN  A Director of Systems reviews and coordinates ...  1. Two years of full-time paid experience in a...                                THURSDAYMAY 4, 2017   $171,654     $120,644
186  DISTRICT SUPERVISOR ANIMAL SERVICES 4320 02231...               DISTRICT SUPERVISOR ANIMAL SERVICES         4320          NaN  A District Supervisor Animal Services (Distric...  1. Two years of full-time paid experience with...                              THURSDAYMARCH 8, 2018   $111,332      $76,128
187      DIVISION LIBRARIAN 6157 012717 REV 022217.txt                                DIVISION LIBRARIAN         6157          NaN  A Division Librarian plans, organizes, and dir...  1. Two years of full-time paid professional ex...                              THURSDAYMARCH 9, 2017   $171,654     $120,645
188                 DRILL RIG OPERATOR 3521 033018.txt                                DRILL RIG OPERATOR         3521          NaN  A Drill Rig Operator operates hydraulic, mecha...  1. Two years of full-time paid experience in t...                             THURSDAYAPRIL 12, 2018    $89,993      $61,554
189       DUPLICATING MACHINE OPERATOR 1493 121418.txt                      DUPLICATING MACHINE OPERATOR         1493          NaN  A Duplicating Machine Operator operates offset...  1. Completion of one course in operating an of...                          THURSDAYDECEMBER 27, 2018    $54,705      $37,416
190     ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                    ELECTRIC DISTRIBUTION MECHANIC         3879          NaN  An entry-level Electric Distribution Mechanic ...  1 Completion of an apprenticeship program sanc...                                                NaN    $96,006      $74,666
191  ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR 3873...         ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR         3873          NaN  An Electric Distribution Mechanic Supervisor a...  Four years of full-time paid experience with t...                          THURSDAYNOVEMBER 10, 2016   $133,861     $126,783
192              ELECTRIC METER SETTER 3822 012017.txt                             ELECTRIC METER SETTER         3822          NaN  An entry-level Electric Meter Setter works as ...  1. One year of full-time paid experience as a ...                           THURSDAYFEBRUARY 2, 2017    $74,311      $70,386
193         ELECTRIC SERVICE REPRESENTATIVE 020317.txt                   ELECTRIC SERVICE REPRESENTATIVE         7520          NaN  An Electric Service Representative provides in...  Four years of full-time paid experience instal...                          THURSDAYFEBRUARY 16, 2017    $87,988      $70,804
194     ELECTRIC STATION OPERATOR  5224 070717 (3).txt                         ELECTRIC STATION OPERATOR         5224          NaN                                                     1. Completion of at least eight months in the ...                              THURSDAYJULY 20, 2017    $68,841      $55,415
195    ELECTRIC TROUBLE DISPATCHER 3828 063017 (1).txt                       ELECTRIC TROUBLE DISPATCHER         3828          NaN                                                     Four years of full-time paid experience in the...                              THURSDAYJULY 13, 2017    $79,949      $64,352
196            ELECTRICAL CRAFT HELPER 3799 092818.txt                           ELECTRICAL CRAFT HELPER         3799          NaN  An Electrical Craft Helper assists a skilled j...  1. Six months of full-time paid experience as ...                           SATURDAYDECEMBER 8, 2018       None      $63,686
197  ELECTRICAL ENGINEERING ASSOCIATE 7525 093016 R...                  ELECTRICAL ENGINEERING ASSOCIATE         7525          NaN  An Electrical Engineering Associate performs p...  1. A Bachelor's or Master's degree in engineer...  TUESDAYOCTOBER 11, 2016; WEDNESDAY, OCTOBER 12...    $94,252      $66,231
198  ELECTRICAL ENGINEERING DRAFTING TECHNICIAN 753...        ELECTRICAL ENGINEERING DRAFTING TECHNICIAN         7532          NaN  An Electrical Engineering Drafting Technician ...  1. Completion of 12 semester units or 18 quart...  TUESDAYJANUARY 22, 2019 and TUESDAY, JANUARY 2...    $75,898      $51,907
199               ELECTRICAL INSPECTOR 4221 030218.txt                              ELECTRICAL INSPECTOR         4221          NaN  An Electrical Inspector inspects new, existing...  1. Four years of full-time paid experience as ...                             THURSDAYMARCH 15, 2018    $98,553      $81,494

[200 rows x 9 columns]

In [67]:
m = data_df.loc[data_df.SALARY_START== '$63,686', 'SALARY_END']

In [15]:
requirement=data_df['REQUIREMENTS'][0]

In [59]:
pattern = r'((bachelor|graduat)[A-Z]*)'
edu = re.search(pattern, requirement, flags = re.I)

In [61]:
edu.group(2)

'Bachelor'

In [25]:
m = "ANNUAL SALARY\n\n$49,903 to $72,996 and $55,019 to $80,472\n\nNOTES:"
f = r'\$(\d+,\d+)((\s(to|and)\s)(\$\d+,\d+))?'
salary_range = re.search(f, m)

In [29]:
salary_range.group(1)

'49,903'

In [40]:
data_df.to_csv("test-df.csv")

In [41]:
from nltk.corpus import wordnet as wn

In [55]:
syncsets = wn.synsets("education")

In [58]:
syncsets[1].lemma_names()

['education']

In [35]:
try:
    m = 'jfajf'
    n = t[0]
except:
    m= 'No'
    n = 'Yes'

In [36]:
m,n

('No', 'Yes')

In [49]:
sum(data_df.SALARY_END == '$89,993')

1

In [85]:
exp_len = r'(one|two|three|four|five|six|seven|eight|nine)\s(?=(year|years|month|months)\sof\s(?=(full-time|part-time)))'
data_df['EXPERIENCE_LENGTH'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x, re.IGNORECASE).group(1)+ ' ' + re.search(exp_len,x, re.IGNORECASE).group(2) \
                                                          if re.search(exp_len,x, re.IGNORECASE) is not None else np.NaN)
data_df['Full-time/part-time'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x,re.I).group(3) if re.search(exp_len,x,re.I) is not None else np.NaN)

In [86]:
data_df

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_RANGE                                             DUTIES                                       REQUIREMENTS                               APPLICATION_DEADLINE SALARY_END SALARY_START EXPERIENCE_LENGTH Full-time/part-time
0                        311 DIRECTOR  9206 041814.txt                                      311 DIRECTOR         9206          NaN  A 311 Director is responsible for the successf...  1. One year of full-time paid experience as a ...                                THURSDAYMAY 1, 2014   $155,514     $125,175          One year           full-time
1                           ACCOUNTANT 1513 062218.txt                                        ACCOUNTANT         1513          NaN  An Accountant does professional accounting wor...  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018    $72,996      $49,903               NaN                 NaN
2                     ACCOUNTING CLERK 1223 071318.txt                                  ACCOUNTING CLERK         1223          NaN  An Accounting Clerk performs difficult and res...  Two years of full-time paid office clerical ex...                                                NaN    $71,618      $49,005         Two years           full-time
3        ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt                     ACCOUNTING RECORDS SUPERVISOR         1119          NaN  An Accounting Records Supervisor assigns, revi...  Two years of full-time paid experience as an A...                             THURSDAYAUGUST 9, 2018    $80,930      $55,332         Two years           full-time
4               ADMINISTRATIVE ANALYST 1590 060118.txt                            ADMINISTRATIVE ANALYST         1590          NaN  An Administrative Analyst performs professiona...  1. One year of full-time paid professional exp...                              THURSDAYJUNE 14, 2018    $88,468      $60,489          One year           full-time
5             ADMINISTRATIVE CLERK 1358 033018 (2).txt                              ADMINISTRATIVE CLERK         1358          NaN  An Administrative Clerk performs general offic...  Six months of full-time paid experience in cle...                             THURSDAYAPRIL 12, 2018    $54,935      $37,584        Six months           full-time
6      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt                   ADMINISTRATIVE HEARING EXAMINER         9135          NaN  An Administrative Hearing Examiner conducts qu...  1. Two years of full-time paid experience with...                           THURSDAYOCTOBER 22, 2015    $80,012      $54,726         Two years           full-time
7    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...       ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE         2325          NaN  An Advance Practice Provider Correctional Care...  1. Must be licensed as a: \na. Registered Nurs...                                                NaN    $97,530      $78,487               NaN                 NaN
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774          NaN  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017       None      $90,118         Six years           full-time
9    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...              AIR CONDITIONING MECHANIC SUPERVISOR         3781          NaN  An Air Conditioning Mechanic Supervisor assign...  Four years of full-time paid experience as an ...                          THURSDAYNOVEMBER 29, 2018   $108,482     $103,841        Four years           full-time
10                        AIRPORT AIDE 1540 081018.txt                                      AIRPORT AIDE         1540          NaN  An Airport Aide provides services and transpor...  One year of full-time paid experience as an Ai...                            THURSDAYAUGUST 23, 2018    $63,203      $43,242          One year           full-time
11   AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...        AIRPORT CHIEF INFORMATION SECURITY OFFICER         1404          NaN  Airport Chief Information Security Officer man...  1. A bachelor's degree from an accredited four...                          THURSDAYDECEMBER 17, 2015   $183,576     $125,551        Four years           full-time
12                    AIRPORT ENGINEER 7256 070618.txt                                  AIRPORT ENGINEER         7256          NaN  An Airport Engineer performs professional engi...  1. Two years of full-time paid professional ex...                              THURSDAYJULY 19, 2018   $153,509     $105,005         Two years           full-time
13                       AIRPORT GUIDE 0845 042018.txt                                     AIRPORT GUIDE         0845          NaN  An Airport Guide directs arriving passengers t...  1,040 hours of paid or volunteer experience in...                                THURSDAYMAY 3, 2018    $44,265      $31,946               NaN                 NaN
14      AIRPORT INFORMATION SPECIALIST 1783 121115.txt                    AIRPORT INFORMATION SPECIALIST         1783          NaN  An Airport Information Specialist provides and...                                                                             THURSDAYDECEMBER 24, 2015    $62,869      $42,991               NaN                 NaN
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210          NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...                          THURSDAYFEBRUARY 14, 2019   $137,327      $93,918         two years           full-time
16                     AIRPORT MANAGER 7260 120216.txt                                   AIRPORT MANAGER         7260          NaN  An Airport Manager manages, through subordinat...  1. Two years of full-time paid experience with...                          THURSDAYDECEMBER 15, 2016   $141,378      $99,326         Two years           full-time
17              AIRPORT POLICE CAPTAIN 3228 021618.txt                            AIRPORT POLICE CAPTAIN         3228          NaN  An Airport Police Captain plans, supervises, d...  One year of full-time paid experience as an Ai...                              THURSDAYMARCH 1, 2018   $187,001     $142,568          One year           full-time
18           AIRPORT POLICE LIEUTENANT 3227 091616.txt                         AIRPORT POLICE LIEUTENANT         3227          NaN  An Airport Police Lieutenant plans, supervises...  Two years of full-time paid experience as an A...                         THURSDAYSEPTEMBER 29, 2016   $134,028     $102,186         Two years           full-time
19   AIRPORT POLICE OFFICER 3225 110906 Rev 060115.txt                            AIRPORT POLICE OFFICER         3225          NaN  An Airport Police Officer is a sworn peace off...  1. 21 years of age at the time of hire.  Howev...                                                NaN    $83,019      $51,448               NaN                 NaN
20       AIRPORT POLICE SPECIALIST 3236 063017 (2).txt                         AIRPORT POLICE SPECIALIST         3236          NaN  As a sworn member of the Los Angeles World Air...  1. Possess a current California Basic P.O.S.T....                                                NaN        NaN          NaN               NaN                 NaN
21   AIRPORT SUPERINTENDENT OF OPERATIONS 7268 1218...              AIRPORT SUPERINTENDENT OF OPERATIONS         7268          NaN  An Airport Superintendent of Operations inspec...                                                                             THURSDAYDECEMBER 31, 2015    $78,467      $53,682               NaN                 NaN
22   AIRPORTS MAINTENANCE SUPERINTENDENT 3331 02151...               AIRPORTS MAINTENANCE SUPERINTENDENT         3331          NaN  An Airports Maintenance Superintendent plans, ...  1. Two years of full-time paid experience as a...                              THURSDAYMARCH 1, 2018   $132,108      $90,369         Two years           full-time
23     AIRPORTS MAINTENANCE SUPERVISOR 3336 111618.txt                   AIRPORTS MAINTENANCE SUPERVISOR         3336          NaN  An Airports Maintenance Supervisor plans, orga...  1. Four years of full-time paid experience as ...                          THURSDAYNOVEMBER 29, 2018    $97,321      $66,523        Four years           full-time
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788          NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...                          THURSDAYDECEMBER 21, 2017   $123,463      $86,777         Two years           full-time
25               ANIMAL CARE ASSISTANT 4323 020119.txt                             ANIMAL CARE ASSISTANT         4323          NaN  Animal Care Assistants perform work in the rec...  1. Current employment with the City of Los Ang...                                                NaN    $57,545      $39,337        six months           full-time
26   ANIMAL CARE TECHNICIAN 4310 040116 REV 041416.txt                            ANIMAL CARE TECHNICIAN         4310          NaN  An Animal Care Technician receives and cares f...                                                                                THURSDAYAPRIL 21, 2016    $56,396      $38,565               NaN                 NaN
27   ANIMAL CARE TECHNICIAN SUPERVISOR 4313 122118.txt                          WATER TREATMENT OPERATOR         5885          NaN  A Water Treatment Operator does skilled work i...  A valid T2 (or higher) Water Treatment Operato...                           THURSDAYJANUARY 10, 2019    $81,536      $65,646               NaN                 NaN
28             ANIMAL CONTROL OFFICER  4311 061518.txt                            ANIMAL CONTROL OFFICER         4311          NaN  An Animal Control Officer enforces State and C...  1. One year of full-time paid experience perfo...                                                NaN    $67,818      $46,374          One year           full-time
29                       ANIMAL KEEPER 4304 083118.txt                                     ANIMAL KEEPER         4304          NaN  An Animal Keeper cares for exotic mammals, bir...  1. One year of full-time paid experience in th...                         THURSDAYSEPTEMBER 13, 2018    $66,983      $45,810          One year           full-time
..                                                 ...                                               ...          ...          ...                                                ...                                                ...                                                ...        ...          ...               ...                 ...
170                    DELIVERY DRIVER 1121 032318.txt                                   DELIVERY DRIVER         1121          NaN  A Delivery Driver operates a City automobile, ...  1. Current paid employment with the City of Lo...                              THURSDAYAPRIL 5, 2018    $53,390      $36,519               NaN                 NaN
171  DEPARTMENTAL CHIEF ACCOUNTANT 1593 111717 revi...                     DEPARTMENTAL CHIEF ACCOUNTANT         1593          NaN  A Departmental Chief Accountant plans and dire...  Two years of full-time paid professional accou...                          THURSDAYNOVEMBER 30, 2017   $130,771      $91,913         Two years           full-time
172                  DETENTION OFFICER 3211 113018.txt                                 DETENTION OFFICER         3211          NaN  A Detention Officer is an unarmed civilian emp...  1. Graduation from a high school or the equiva...                                                NaN    $70,052      $46,625        Six months           full-time
173      DIRECTOR OF AIRPORT MARKETING 1768 042718.txt                     DIRECTOR OF AIRPORT MARKETING         1768          NaN  The Director of Airport Marketing directs prof...  1. A Bachelor's Degree from an accredited coll...                               THURSDAYMAY 10, 2018   $179,943     $123,066        Four years           full-time
174  DIRECTOR OF AIRPORT OPERATIONS 9304 062317 (3)...                    DIRECTOR OF AIRPORT OPERATIONS         9304          NaN  A Director of Airport Operations plans, coordi...  1. Current employment with the City of Los Ang...                               THURSDAYJULY 6, 2017   $201,867     $141,858        Four years           full-time
175  DIRECTOR OF AIRPORTS ADMINISTRATION 9302 01271...      DIRECTOR OF AIRPORTS ADMINISTRATION\tREVISED         9302          NaN  Plans, directs, and coordinates the administra...  1. Two years of full-time paid experience with...                           THURSDAYFEBRUARY 9, 2017   $201,868     $141,859         Two years           full-time
176  DIRECTOR OF COMMUNICATIONS SERVICES 7625 04271...               DIRECTOR OF COMMUNICATIONS SERVICES         7625          NaN  The Director of Communications Services direct...  1. Four years of full-time paid experience at ...                               THURSDAYMAY 10, 2018   $179,943     $123,066        Four years           full-time
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266          NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...                           THURSDAYFEBRUARY 8, 2018   $179,943     $123,066         two years           full-time
178       DIRECTOR OF FIELD OPERATIONS 4321 040618.txt                      DIRECTOR OF FIELD OPERATIONS         4321          NaN  The Director of Field Operations plans, direct...  1. Three years of full-time paid experience wi...                             THURSDAYAPRIL 19, 2018   $148,853     $101,831       Three years           full-time
179                DIRECTOR OF HOUSING 1568 062317.txt                               DIRECTOR OF HOUSING         1568          NaN  A Director of Housing plans, directs and coord...  Two years of full-time paid professional exper...                               THURSDAYJULY 6, 2017   $171,654     $120,644         Two years           full-time
180   DIRECTOR OF MAINTENANCE AIRPORTS 7270 041516.txt                  DIRECTOR OF MAINTENANCE AIRPORTS         7270          NaN  A Director of Maintenance Airports directs, or...                                                                                THURSDAYAPRIL 28, 2016   $154,512     $108,576               NaN                 NaN
181  DIRECTOR OF POLICE TRANSPORTATION 3722 061915.txt                 DIRECTOR OF POLICE TRANSPORTATION         3722          NaN  A Director of Police Transportation plans, org...                                                                                  THURSDAYJULY 2, 2015   $124,695     $100,370               NaN                 NaN
182  DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE ...     DIRECTOR OF PORT CONSTRUCTION AND MAINTENANCE         3123          NaN  A Director of Port Construction and Maintenanc...                                                                                THURSDAYMARCH 17, 2016   $154,512     $108,576               NaN                 NaN
183  DIRECTOR OF PRINTING SERVICES 1488 101218 REV ...                     DIRECTOR OF PRINTING SERVICES         1488          NaN  The Director of Printing Services manages the ...  1. Three years of full-time paid experience at...                           THURSDAYNOVEMBER 1, 2018   $171,946     $117,596       Three years           full-time
184      DIRECTOR OF SECURITY SERVICES 3208 040717.txt                     DIRECTOR OF SECURITY SERVICES         3208          NaN  A Director of Security Services plans, organiz...  1. Four years of full-time paid experience in ...                             THURSDAYAPRIL 20, 2017   $126,282     $101,643        Four years           full-time
185                DIRECTOR OF SYSTEMS 9375 042117.txt                               DIRECTOR OF SYSTEMS         9375          NaN  A Director of Systems reviews and coordinates ...  1. Two years of full-time paid experience in a...                                THURSDAYMAY 4, 2017   $171,654     $120,644         Two years           full-time
186  DISTRICT SUPERVISOR ANIMAL SERVICES 4320 02231...               DISTRICT SUPERVISOR ANIMAL SERVICES         4320          NaN  A District Supervisor Animal Services (Distric...  1. Two years of full-time paid experience with...                              THURSDAYMARCH 8, 2018   $111,332      $76,128         Two years           full-time
187      DIVISION LIBRARIAN 6157 012717 REV 022217.txt                                DIVISION LIBRARIAN         6157          NaN  A Division Librarian plans, organizes, and dir...  1. Two years of full-time paid professional ex...                              THURSDAYMARCH 9, 2017   $171,654     $120,645         Two years           full-time
188                 DRILL RIG OPERATOR 3521 033018.txt                                DRILL RIG OPERATOR         3521          NaN  A Drill Rig Operator operates hydraulic, mecha...  1. Two years of full-time paid experience in t...                             THURSDAYAPRIL 12, 2018    $89,993      $61,554         Two years           full-time
189       DUPLICATING MACHINE OPERATOR 1493 121418.txt                      DUPLICATING MACHINE OPERATOR         1493          NaN  A Duplicating Machine Operator operates offset...  1. Completion of one course in operating an of...                          THURSDAYDECEMBER 27, 2018    $54,705      $37,416        six months           full-time
190     ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                    ELECTRIC DISTRIBUTION MECHANIC         3879          NaN  An entry-level Electric Distribution Mechanic ...  1 Completion of an apprenticeship program sanc...                                                NaN    $96,006      $74,666        Six months           full-time
191  ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR 3873...         ELECTRIC DISTRIBUTION MECHANIC SUPERVISOR         3873          NaN  An Electric Distribution Mechanic Supervisor a...  Four years of full-time paid experience with t...                          THURSDAYNOVEMBER 10, 2016   $133,861     $126,783        Four years           full-time
192              ELECTRIC METER SETTER 3822 012017.txt                             ELECTRIC METER SETTER         3822          NaN  An entry-level Electric Meter Setter works as ...  1. One year of full-time paid experience as a ...                           THURSDAYFEBRUARY 2, 2017    $74,311      $70,386          One year           full-time
193         ELECTRIC SERVICE REPRESENTATIVE 020317.txt                   ELECTRIC SERVICE REPRESENTATIVE         7520          NaN  An Electric Service Representative provides in...  Four years of full-time paid experience instal...                          THURSDAYFEBRUARY 16, 2017    $87,988      $70,804        Four years           full-time
194     ELECTRIC STATION OPERATOR  5224 070717 (3).txt                         ELECTRIC STATION OPERATOR         5224          NaN                                                     1. Completion of at least eight months in the ...                              THURSDAYJULY 20, 2017    $68,841      $55,415               NaN                 NaN

In [77]:
f = 'One year of full-time paid experience as a Senior Management Analyst with the City of Los Angeles or in a class which is at least at the level which provides professional experience in supervisory or managerial work relating to a call center with at least 50 call agents or a call center that receives at least one million calls annually'
m = re.search(reg, f, re.I)

In [88]:
data_df.EXPERIENCE_LENGTH.isnull().sum()

54

In [ ]:
((bachelor|graduat)[A-Z]*)\D+((one|two|three|four|five|six|seven|eight|nine)-(year|years))\D+(college|university)\D+((degree)\sin\s(\w+))