In [1]:
import pandas as pd
import nltk
import re

import glob
import io
import numpy as np

## Job Titles list

In [39]:
with open('CityofLA/Job Bulletins/ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 2325 020808 REV 111214.txt', encoding = 'utf-8') as f:
    print(f.readlines())

['ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE\n', '                                           \n', '\tClass Code:       2325\n', 'Open Date:  02-08-08\n', 'REVISED:    11-12-14\n', '\n', 'ANNUAL SALARY\n', '\n', '$78,487 to $97,530 and $84,459 to $104,922\n', '\n', 'A 5.5% bonus may be paid upon proof of certification by a recognized national professional organization in a nurse practitioner specialty that is relevant and applicable to the duties performed.  Some positions require night work, for which a 5.5% bonus is paid.\n', '\n', 'NOTE:\n', '\n', 'The current salary range is subject to change. You may confirm the starting salary with the hiring department before accepting a job offer.\n', '\n', 'DUTIES\n', '\n', "An Advance Practice Provider Correctional Care is responsible for obtaining medical histories, performing physical examinations, ordering and interpreting diagnostic tests, assessing medical conditions, providing medical care and treatment, and performing related duties as required under standardized procedures and/or protocols established by the department in one of the City's correctional care facilities.\n", '\n', 'REQUIREMENTS\n', '\n', '1. Must be licensed as a: \n', 'a. Registered Nurse and certified as a Nurse Practitioner by the California Board of Registered Nursing with documentation of education and training as a Nurse Practitioner in family practice, adult, or emergency medicine, and possess a current license, Furnishing Number, and a Drug Enforcement Administration (DEA) registration number which provides the ability to provide drug/medication orders in the State of California; or\n', 'b. Physician Assistant with documentation of education and training as a Physician Assistant in family practice, adult, or emergency medicine, and possess a current license and a Drug Enforcement Administration (DEA) registration number which provides the ability to provide drug/medication orders in the State of California; and  \n', '2. Must have a current, valid American Heart Association Healthcare Provider CPR card (Applicants must list the expiration date of their CPR card in the free-flowing text box on the application).\n', '\t\n', 'NOTES:\n', '\n', '1. In addition to the regular City Application form, each applicant is required to complete the Advance Practice Provider Correctional Care Training and Experience Questionnaire at the time of filing.  The Advance Practice Provider Correctional Care Training and Experience Questionnaire is located within the Supplemental Questions section of the City application.  Applicants who fail to complete the Training and Experience Questionnaire will not be considered further in this examination, and their application will not be processed\n', '2. Applicants must list their Furnishing Number and/or Drug Enforcement Administration (DEA) registration number on the Training and Experience Questionnaire.\n', '3. At the time of appointment, candidates must submit verification of their current, valid American Heart Association Healthcare Provider CPR card. \n', '\n', 'WHERE TO APPLY\n', '\n', 'Applications will only be accepted online. When you are viewing the online job bulletin of your choice, simply scroll to the top of the page and select the "Apply" icon. Online job bulletins are also available at http://agency.governmentjobs.com/lacity/default.cfm for Open Competitive Examinations.\n', '\n', '\n', '\n', '\n', 'APPLICATION DEADLINE\n', '\n', 'This examination may close without prior notice at any time after a sufficient number of applications have been received. For administrative purposes, filing may close periodically and reopen the following day.\n', '\n', '\n', 'SELECTION PROCESS\n', '\n', 'Examination Weight:  Evaluation of Training and Experience Questionnaire  . . . . . . .  . . . . . . . . . . . 100%\n', '\n', 'The examination will consist of an evaluation of training and experience, wherein candidates will be evaluated on their knowledge, experience, professional background and personal qualifications and abilities.  Emphasis will be placed on their knowledge of: professional medical theories and practices; techniques for taking medical histories and conducting physical examinations; safety principles and practices; medical management for routine medical conditions; and the ability to: act independently and in accordance with established protocols and/or procedures; evaluate technical medical data and make diagnoses; conduct comprehensive and focused physical examinations; and other necessary skills, knowledge and abilities.\n', '\n', "Training and Experience Questionnaires and City employment applications of all candidates will be submitted to an expert review panel for evaluation.  The expert review panel will assign a numeric score to each candidate based on an assessment of each candidate's qualifications, as described on the candidate's City application and Training and Experience Questionnaire. \n", '\n', 'NOTES:\n', '\t\n', '1. Based on City policy, before being hired in one of these positions, you may be required to undergo a drug and alcohol screening test.\n', '2. Individuals in this class may be assigned to rotating 12-hour and 8-hour shifts and may work in any of the three jail clinics.\n', '3. Candidates may take this examination only once every 180 days during the administration of this examination.  Names may be removed from the open competitive eligible list after six months.\n', '4.\tAs a covered entity under the Fair Employment and Housing Act and Title II of the Americans with Disabilities Act, the City of Los Angeles does not discriminate on the basis of disability and upon request, will provide reasonable accommodations to ensure equal access to its programs, services, and activities.  To request a disability accommodation, please complete the Disability Accommodation Form within 14 calendar days of the submittal of the City application.  The Disability Accommodation Form can be obtained at http://per.lacity.org/exams/verify_disability.pdf.\n', '5.\tApplications are accepted subject to review to ensure that minimum qualifications are met.  Candidates may be disqualified at any time if it is determined that they do not possess the minimum qualifications stated on this bulletin.\n', '6.\tA final average score of 70% is required to be placed on the eligible list.\n', '\n', 'Notice:  \n', '\n', 'If you receive and accept an offer of employment to a regular position with the City of Los Angeles, your employee benefit coverage (including health and dental coverage as well as life insurance) will commence approximately six weeks after your original regular appointment. Not all positions in the City receive benefit coverage; you should inquire regarding the availability of employee benefits prior to accepting a position.\n', '\n', 'THIS EXAMINATION IS TO BE GIVEN ONLY\n', ' ON AN OPEN COMPETITIVE BASIS\n', '\n', 'The City of Los Angeles does not discriminate on the basis of race, religion, national origin, sex, age, marital status, sexual orientation, gender identity, gender expression, disability, creed, color, ancestry, medical condition (cancer), or Acquired Immune Deficiency Syndrome.\n', '\n', 'Class Code 2325CONT. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . (REVISED 04-06-12)  . . 02-08-08\n', '                                                                                                                                                                                        \n', '\n', 'AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER\n', '\n', 'Class Code 2325CONT. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . .  . . 02-08-08\n', '                                                                                                                                                                                        \n', '\n', 'AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER\n', '\n']

In [4]:
with open('CityofLA/Additional data/kaggle_data_dictionary.csv', encoding = 'utf-8') as f:
    print(f.readlines())

['Field Name,Annotation Letter,Description,Data Type,Allowable Values,Accepts Null Values?,Additional Notes\n', 'FILE_NAME,,The file name of the job bulletin from which each record came,String,,No,\n', 'JOB_CLASS_TITLE,A,"The title of the particular class (e.g., Systems Analyst, Carpenter)",String,Any job title matching in in supplied job bulletins,No,\n', 'JOB_CLASS_NO,B,The 4-digit code that corresponds to the job class.,String,Any four character numeric string matching one in supplied job bulletins,No,"Some classes have three non-zero digits â€” e.g., 0162. These will take the form 0###"\n', 'REQUIREMENT_SET_ID,D1,"A main requirement that has to be filled. These are identified with numbers in the job bulletin. Relationships between requirement sets are specified by an ""AND|OR"" conjunction (data element E1 on the data annotation chart)",Integer,Any positive integer,No,\n', 'REQUIREMENT_SUBSET_ID,D2,"A secondary requirement that has to be filled, nested under a REQUIREMENT_SET_ID. These are identified with letters in the job bulletin. Relationships between requirement sub-sets are specified by an ""AND|OR"" conjunction (Data element E2 on the data annotation chart)",String,Any letter or combination of letters.,No,"A-Z represents 1-26. In the case of 27th, 28th, ... sub-requirement, use AA, BB, ..."\n', 'JOB_DUTIES,C,"A summary of what someone does in the particular job\n', '",String,,No,\n', 'EDUCATION_YEARS,F,Years required in a particular education program,Float,Any positive float representing years or a fraction of years,Yes,"Any job description that mentions months should be converted to years. For instance, 6 months should appear as .5 years"\n', 'SCHOOL_TYPE,G,"School Type: School type required (e.g. college or university, high school)",String,"COLLEGE OR UNIVERSITY, HIGH SCHOOL, APPRENTICESHIP",Yes,"Allowable value list is most likely incomplete and should be updated once you analyze the bulletins. For these purposes ""apprenticeship"" or certificates should be considered school type."\n', 'EDUCATION_MAJOR,H,Major or concentration required,String,,Yes,"A list of many sufficient majors should appear as a single string separated by a ""|""  For instance, ""ECONOMICS|STATISTICS"" would represent ""Economics"" or ""Statistics"". If the school type is an apprenticeship, this should include whatever the apprenticeship must be in (e.g. carpenter, cabinetmaker)"\n', 'EXPERIENCE_LENGTH,I,Years required in a particular job class or external role.,Float,,Yes,Some classes may specify months rather than years. These should be transformed to years (e.g. 6 months should be entered as .5)\n', 'FULL_TIME_PART_TIME,J,"Whether the required experience is full-time, part",String,"FULL_TIME, PART_TIME",Yes,Allowable value list is most likely incomplete and should be updated once you analyze the bulletins\n', 'EXP_JOB_CLASS_TITLE,K1,Job class title of Internal City job that one must hold to satisfy a requirement (e.g. Management Assistant),String,"Any City recognized job class, as determined by supplied job bulletins",Yes,\n', 'EXP_JOB_CLASS_ALT_RESP,K1b,"For job bulletins that allow an alternate class to K1, the duties/responsibilities of the alternate class",String,,Yes,"In some cases, a job bulletin will ask for a specific class but also allow you to be a different City class that performs a similar function. This field will capture that function."\n', 'EXP_JOB_CLASS_FUNCTION,K2,"Job experience of City or non-City specific jobs (e.g. the development, analysis, implementation or major modification of new or existing computer-based information systems or relational databases)",String,,Yes,\n', 'COURSE_COUNT,L,The number of courses in a specified field required,Integer,,Yes,\n', 'COURSE_LENGTH,M,The semester or quarter unit count needed. ,String,#Q|#S,Yes,"This will take the form of two elements: a number indicating the count of units and a letter indicating whether the count is Q (quarter) or S (semester units). As job classes will specify number for each, this field will contain both Quarter and Semester counts, separated by a ""I"""\n', 'COURSE_SUBJECT,N,The necessary subject(s) of required courses,String,,Yes,"A list of many sufficient majors should appear as a single string separated by a ""|""  For instance, ""ECONOMICS|STATISTICS"" would represent ""Economics"" or ""Statistics"""\n', 'MISC_COURSE_DETAILS,O,An unstructured string of miscellaneous course-specific requirements not captured in elements Oâ€“Q.,String,,Yes,"As an example, the class of Systems Analyst includes the following sub-requirement that must be satisfied to meeting the third requirement set:\n', '\n', '""At least three of the courses must be from the core courses required in the program, and one course may be from either the required core courses or the prescribed elective courses of the program.  A course in systems analysis and design is especially desired, but not required.""\n', '\n', 'You need not further structure sub-requirements that do not neatly align to other defined features in this data dictionary. They should appear in this feature as an unstructured string.\n', '\n', '"\n', 'DRIVERS_LICENSE_REQ,P1,"Whether a driverâ€™s license is required, possibly required, or not required (note: the job class will most likely not explicitly say if a license is not required)",String,"P, R",Yes,"P (or possible) refers to any class that says ""Some positions may require a valid California driver\'s license"" or anything to that extent. R (or required) explicitly says a driver\'s license is required"\n', 'DRIV_LIC_TYPE,P2,The specific driverâ€™s license type required,String,"B, C",Yes,Allowable value list is most likely incomplete and should be updated once you analyze the bulletins\n', "ADDTL_LIC,Q,Additional licenses specified in the job bulletin other than Driver's License (covered in Elementa P1 and P2),String,,Yes,\n", 'EXAM_TYPE,R,Classifications have different rules around whether one has to already have Civil Service status to apply or whether experience has to be in a particular department. ,String,"OPEN, INT_DEPT_PROM, DEPT_PROM, OPEN_INT_PROM",No,"Code explanation:\n', '\n', 'OPEN: Exam open to anyone (pending other requirements)\n', 'INT_DEPT_PROM: Interdepartmental Promotional\n', 'DEPT_PROM: Departmental Promotional\n', 'OPEN_INT_PROM: Open or Competitive Interdepartmental Promotional"\n', 'ENTRY_SALARY_GEN,S1,"The base overall salary range (e.g. $49,000-$72,000). Some classifications may have multiple ranges as there are sometimes several sub-titles of a job class. This should only include the first listed salary range.",String,"$#####-$#####, $##### (flat-rated)",No,This field may take the form of a range of two salaries or only include one amount for flat-rated classes.\n', 'ENTRY_SALARY_DWP,S2,"For job classes that are available in the City at large AND the DWP agency specifically, a second DWP salary range will be provided. This field will capture the first DWP-specific salary range.",String,"$#####-$#####, $##### (flat-rated)",Yes,This field may take the form of a range of two salaries or only include one amount for flat-rated classes.\n', 'OPEN_DATE,T,The date the job bulletin opened,Date,,,']

In [31]:
job_titles = pd.read_csv('CityofLA/Additional data/job_titles.csv', header = None)

In [32]:
job_titles

                                                    0
0                                        311 DIRECTOR
1                                          ACCOUNTANT
2                                    ACCOUNTING CLERK
3                       ACCOUNTING RECORDS SUPERVISOR
4                              ADMINISTRATIVE ANALYST
5                                ADMINISTRATIVE CLERK
6                     ADMINISTRATIVE HEARING EXAMINER
7         ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE
8                           AIR CONDITIONING MECHANIC
9                AIR CONDITIONING MECHANIC SUPERVISOR
10                                       AIRPORT AIDE
11         AIRPORT CHIEF INFORMATION SECURITY OFFICER
12                                   AIRPORT ENGINEER
13                                      AIRPORT GUIDE
14                     AIRPORT INFORMATION SPECIALIST
15                                    AIRPORT MANAGER
16                             AIRPORT POLICE CAPTAIN
17                          AIRPORT POLICE LIEUTENANT
18                             AIRPORT POLICE OFFICER
19                          AIRPORT POLICE SPECIALIST
20               AIRPORT SUPERINTENDENT OF OPERATIONS
21                AIRPORTS MAINTENANCE SUPERINTENDENT
22                    AIRPORTS MAINTENANCE SUPERVISOR
23   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR
24                              ANIMAL CARE ASSISTANT
25                             ANIMAL CARE TECHNICIAN
26                  ANIMAL CARE TECHNICIAN SUPERVISOR
27                             ANIMAL CONTROL OFFICER
28                                      ANIMAL KEEPER
29                                 APPARATUS OPERATOR
..                                                ...
638                  WASTEWATER COLLECTION SUPERVISOR
639       WASTEWATER TREATMENT ELECTRICIAN SUPERVISOR
640           WASTEWATER TREATMENT LABORATORY MANAGER
641          WASTEWATER TREATMENT MECHANIC SUPERVISOR
642                     WASTEWATER TREATMENT OPERATOR
643                                   WATER BIOLOGIST
644                              WATER MICROBIOLOGIST
645                      WATER SERVICE REPRESENTATIVE
646                          WATER SERVICE SUPERVISOR
647                              WATER SERVICE WORKER
648                            WATER SERVICES MANAGER
649                          WATER TREATMENT OPERATOR
650                        WATER TREATMENT SUPERVISOR
651                            WATER UTILITY OPERATOR
652                 WATER UTILITY OPERATOR SUPERVISOR
653                      WATER UTILITY SUPERINTENDENT
654                          WATER UTILITY SUPERVISOR
655                              WATER UTILITY WORKER
656                    WATERSHED RESOURCES SPECIALIST
657                               WATERWORKS ENGINEER
658                    WATERWORKS MECHANIC SUPERVISOR
659                                            WELDER
660                                 WELDER SUPERVISOR
661                                        WHARFINGER
662                                    WINDOW CLEANER
663                     WORKERS' COMPENSATION ANALYST
664            WORKERS' COMPENSATION CLAIMS ASSISTANT
665                   X-RAY AND LABORATORY TECHNICIAN
666                          ZOO CURATOR OF EDUCATION
667                                     ZOO REGISTRAR

[668 rows x 1 columns]

In [35]:
sample_job_export = pd.read_csv('CityofLA/Additional data/sample job class export template.csv')

In [36]:
sample_job_export

                         FILE_NAME  JOB_CLASS_TITLE  JOB_CLASS_NO  REQUIREMENT_SET_ID REQUIREMENT_SUBSET_ID                                         JOB_DUTIES  EDUCATION_YEARS            SCHOOL_TYPE                                    EDUCATION_MAJOR  EXPERIENCE_LENGTH FULL_TIME_PART_TIME   EXP_JOB_CLASS_TITLE  EXP_JOB_CLASS_ALT_RESP                             EXP_JOB_CLASS_FUNCTION  COURSE_COUNT COURSE_LENGTH                                     COURSE_SUBJECT                                MISC_COURSE_DETAILS DRIVERS_LICENSE_REQ  DRIV_LIC_TYPE  ADDTL_LIC      EXAM_TYPE ENTRY_SALARY_GEN ENTRY_SALARY_DWP OPEN_DATE
0  SYSTEMS ANALYST 1596 102717.txt  Systems Analyst          1596                   1                     A  A Systems Analyst analyzes procedures, methods...              4.0  COLLEGE OR UNIVERSITY  COMPUTER SCIENCE|INFORMATION SYSTEMS|GEOGRAPHI...                NaN                 NaN                   NaN                     NaN                                                NaN           NaN           NaN                                                NaN                                                NaN                 NaN            NaN        NaN  OPEN_INT_PROM     68611-100307      70908-88092  10/27/17
1  SYSTEMS ANALYST 1596 102717.txt  Systems Analyst          1596                   2                     A  A Systems Analyst analyzes procedures, methods...              4.0  COLLEGE OR UNIVERSITY                                                NaN                2.0           FULL-TIME  MANAGEMENT ASSISTANT                     NaN  the development, analysis, implementation or m...           NaN           NaN                                                NaN                                                NaN                 NaN            NaN        NaN  OPEN_INT_PROM     68611-100307      70908-88092  10/27/17
2  SYSTEMS ANALYST 1596 102717.txt  Systems Analyst          1596                   2                     B  A Systems Analyst analyzes procedures, methods...              4.0  COLLEGE OR UNIVERSITY                                                NaN                2.0           FULL-TIME  MANAGEMENT ASSISTANT                     NaN  performing cost benefit, feasibility and requi...           NaN           NaN                                                NaN                                                NaN                 NaN            NaN        NaN  OPEN_INT_PROM     68611-100307      70908-88092  10/27/17
3  SYSTEMS ANALYST 1596 102717.txt  Systems Analyst          1596                   2                     C  A Systems Analyst analyzes procedures, methods...              4.0  COLLEGE OR UNIVERSITY                                                NaN                2.0           FULL-TIME  MANAGEMENT ASSISTANT                     NaN  performing system implementation and support a...           NaN           NaN                                                NaN                                                NaN                 NaN            NaN        NaN  OPEN_INT_PROM     68611-100307      70908-88092  10/27/17
4  SYSTEMS ANALYST 1596 102717.txt  Systems Analyst          1596                   3                     A  A Systems Analyst analyzes procedures, methods...              NaN                    NaN                                                NaN                2.0           FULL-TIME          SYSTEMS AIDE                     NaN                                                NaN           4.0        3M, 4Q  INFORMATION SYSTEMS|SYSTEMS ANALYSIS|closely r...  At least three of the courses must be from the...                   M            NaN        NaN  OPEN_INT_PROM     68611-100307      70908-88092  10/27/17

## Data Dictionary

In [23]:
kaggle_data_dictionary = pd.read_csv('CityofLA/Additional data/kaggle_data_dictionary.csv')

In [74]:
kaggle_data_dictionary['Additional Notes'][21]

'Code explanation:\n\nOPEN: Exam open to anyone (pending other requirements)\nINT_DEPT_PROM: Interdepartmental Promotional\nDEPT_PROM: Departmental Promotional\nOPEN_INT_PROM: Open or Competitive Interdepartmental Promotional'

In [6]:
kaggle_data_dictionary

,Field Name,Annotation Letter,Description,Data Type,Allowable Values,Accepts Null Values?,Additional Notes
0,FILE_NAME,NaN,The file name of the job bulletin from which e...,String,NaN,No,NaN
1,JOB_CLASS_TITLE,A,"The title of the particular class (e.g., Syste...",String,Any job title matching in in supplied job bull...,No,NaN
2,JOB_CLASS_NO,B,The 4-digit code that corresponds to the job c...,String,Any four character numeric string matching one...,No,Some classes have three non-zero digits â€” e.g....
3,REQUIREMENT_SET_ID,D1,A main requirement that has to be filled. Thes...,Integer,Any positive integer,No,NaN
4,REQUIREMENT_SUBSET_ID,D2,"A secondary requirement that has to be filled,...",String,Any letter or combination of letters.,No,"A-Z represents 1-26. In the case of 27th, 28th..."
5,JOB_DUTIES,C,A summary of what someone does in the particul...,String,NaN,No,NaN
6,EDUCATION_YEARS,F,Years required in a particular education program,Float,Any positive float representing years or a fra...,Yes,Any job description that mentions months shoul...
7,SCHOOL_TYPE,G,School Type: School type required (e.g. colleg...,String,"COLLEGE OR UNIVERSITY, HIGH SCHOOL, APPRENTICE...",Yes,Allowable value list is most likely incomplete...
8,EDUCATION_MAJOR,H,Major or concentration required,String,NaN,Yes,A list of many sufficient majors should appear...
9,EXPERIENCE_LENGTH,I,Years required in a particular job class or ex...,Float,NaN,Yes,Some classes may specify months rather than ye...
10,FULL_TIME_PART_TIME,J,"Whether the required experience is full-time, ...",String,"FULL_TIME, PART_TIME",Yes,Allowable value list is most likely incomplete...
11,EXP_JOB_CLASS_TITLE,K1,Job class title of Internal City job that one ...,String,"Any City recognized job class, as determined b...",Yes,NaN
12,EXP_JOB_CLASS_ALT_RESP,K1b,For job bulletins that allow an alternate clas...,String,NaN,Yes,"In some cases, a job bulletin will ask for a s..."
13,EXP_JOB_CLASS_FUNCTION,K2,Job experience of City or non-City specific jo...,String,NaN,Yes,NaN
14,COURSE_COUNT,L,The number of courses in a specified field req...,Integer,NaN,Yes,NaN
15,COURSE_LENGTH,M,The semester or quarter unit count needed.,String,#Q|#S,Yes,This will take the form of two elements: a num...
16,COURSE_SUBJECT,N,The necessary subject(s) of required courses,String,NaN,Yes,A list of many sufficient majors should appear...
17,MISC_COURSE_DETAILS,O,An unstructured string of miscellaneous course...,String,NaN,Yes,"As an example, the class of Systems Analyst in..."
18,DRIVERS_LICENSE_REQ,P1,"Whether a driverâ€™s license is required, possib...",String,"P, R",Yes,P (or possible) refers to any class that says ...
19,DRIV_LIC_TYPE,P2,The specific driverâ€™s license type required,String,"B, C",Yes,Allowable value list is most likely incomplete...
20,ADDTL_LIC,Q,Additional licenses specified in the job bulle...,String,NaN,Yes,NaN
21,EXAM_TYPE,R,Classifications have different rules around wh...,String,"OPEN, INT_DEPT_PROM, DEPT_PROM, OPEN_INT_PROM",No,Code explanation:\n\nOPEN: Exam open to anyone...
22,ENTRY_SALARY_GEN,S1,"The base overall salary range (e.g. $49,000-$7...",String,"$#####-$#####, $##### (flat-rated)",No,This field may take the form of a range of two...
23,ENTRY_SALARY_DWP,S2,For job classes that are available in the City...,String,"$#####-$#####, $##### (flat-rated)",Yes,This field may take the form of a range of two...
24,OPEN_DATE,T,The date the job bulletin opened,Date,NaN,NaN,NaN

In [7]:
kaggle_data_dictionary.iloc[3]['Description']

'A main requirement that has to be filled. These are identified with numbers in the job bulletin. Relationships between requirement sets are specified by an "AND|OR" conjunction (data element E1 on the data annotation chart)'

## Sample

In [9]:
sample = pd.read_csv('CityofLA/Additional data/sample job class export template.csv')

In [10]:
sample.head()

,FILE_NAME,JOB_CLASS_TITLE,JOB_CLASS_NO,REQUIREMENT_SET_ID,REQUIREMENT_SUBSET_ID,JOB_DUTIES,EDUCATION_YEARS,SCHOOL_TYPE,EDUCATION_MAJOR,EXPERIENCE_LENGTH,...,COURSE_LENGTH,COURSE_SUBJECT,MISC_COURSE_DETAILS,DRIVERS_LICENSE_REQ,DRIV_LIC_TYPE,ADDTL_LIC,EXAM_TYPE,ENTRY_SALARY_GEN,ENTRY_SALARY_DWP,OPEN_DATE
0,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,1,A,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,COMPUTER SCIENCE|INFORMATION SYSTEMS|GEOGRAPHI...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
1,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,A,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
2,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,B,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
3,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,2,C,"A Systems Analyst analyzes procedures, methods...",4.0,COLLEGE OR UNIVERSITY,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17
4,SYSTEMS ANALYST 1596 102717.txt,Systems Analyst,1596,3,A,"A Systems Analyst analyzes procedures, methods...",NaN,NaN,NaN,2.0,...,"3M, 4Q",INFORMATION SYSTEMS|SYSTEMS ANALYSIS|closely r...,At least three of the courses must be from the...,M,NaN,NaN,OPEN_INT_PROM,68611-100307,70908-88092,10/27/17

In [31]:
text = ''
with open('CityofLA/Job Bulletins/311 DIRECTOR  9206 041814.txt', encoding = 'utf-8') as f:
    text = f.read()

In [12]:
job_title = text.splitlines()[0].strip()

In [2]:
code = r'Class Code:\s*(\d*)'
open_d = r'Open Date:\s*(\d\d-\d\d-\d\d)'
sal = r'(\$(\d+,\d+))((\s(to|and|-)\s)(\$\d+,\d+))?' # Taken from kaggle kernel
sal_dwp = r'Power\sis\s((\$(\d+,\d+))((\s(to|and|-)\s)(\$\d+,\d+))?)'
dut = r'DUTIES\W+(.*\n)'
req = r'REQUIREMENT(S)?(/MINIMUM\sQUALIFICATION)?\W+(.*\n)'
end_d = r'(MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY|SUNDAY)\W+(JANUARY|FEBRUARY|MARCH|APRIL|MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER)(.*\d)'
exp_len = r'(one|two|three|four|five|six|seven|eight|nine)\s(?=(year|years|month|months)\sof\s(?=(full-time|part-time)))'
sch_typ = r'(college|university|high school|apprentice)'
edu_y = r'(\b\w+(-year))(?=\D+(college|university))'
edu_major = r'(college|university|apprentice)\D+(in|as a)\s(\D+);'
#open_d = r'Open Date: (.*)\n'

In [29]:
def doextraction(glob_text):
    col = ['FILE_NAME', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO', 'REQUIREMENT_SET_ID', 'REQUIREMENT_SUBSET_ID', 'JOB_DUTIES',\
           'EDUCATION_YEARS', 'SCHOOL_TYPE', 'EDUCATION_MAJOR', 'EXPERIENCE_LENGTH', 'FULL_TIME_PART_TIME', \
           'EXP_JOB_CLASS_TITLE', 'EXP_JOB_CLASS_ALT_RESP', 'EXP_JOB_CLASS_FUNCTION', 'COURSE_COUNT', 'COURSE_LENGTH',\
           'COURSE_SUBJECT', 'MISC_COURSE_DETAILS', 'DRIVERS_LICENSE_REQ', 'DRIV_LIC_TYPE', 'ADDTL_LIC', 'EXAM_TYPE', \
           'SALARY_START', 'SALARY_END', 'ENTRY_SALARY_DWP', 'REQUIREMENTS', 'APPLICATION_DEADLINE', 'OPEN_DATE']
    df = pd.DataFrame(columns = col) 
    """Get all the files from the given glob and pass them to the extractor."""
    for thefile in glob.glob(glob_text)[:200]:
        with io.open(thefile, 'r', encoding='utf-8') as fyl:
            text = fyl.read()
            df = get_features(text, thefile, df)
            
    return df

In [4]:
def get_headings(text):
    headings_list = []
    for line in text.split('\n'):
        if line.isupper():
            headings_list.append(line.strip())
    
    return headings_list

In [5]:
def get_job_class(text):
    job_title = text.strip().splitlines()[0].strip()
    class_code = re.findall(code, text)[0]
    
    return job_title, class_code

In [6]:
def get_open_date(text):
    try:
        open_date = re.findall(open_d, text)[0]
    except:
        open_date = np.NaN
        
    return open_date

In [7]:
def get_salary(text):
    salary_range = re.search(sal, text)
    
    try:
        salary_start = salary_range.group(1)
    except:
        salary_start = np.NaN
        
    try:
        salary_end = salary_range.group(6)
    except:
        salary_end = np.NaN
        
    salary_dwp = re.search(sal_dwp, text).group(1) if re.search(sal_dwp, text) is not None else np.NaN
    
    return salary_start, salary_end, salary_dwp

In [8]:
def get_requirement(headings, text):
    x = headings.index([elm for elm in headings if elm.startswith('REQUIREMENT')][0])
    m = re.search(headings[x], text).end()
    n = re.search(headings[x+1], text).start()
    requirement = text[m:n].strip()
    
    return requirement

In [9]:
def get_duties(headings, text):
    try:
        x = headings.index([elm for elm in headings if elm.startswith('DUT')][0])
        m = re.search(headings[x], text).end()
        n = re.search(headings[x+1], text).start()
        duties = text[m:n].strip()
    except:
        duties = np.NaN
        
    return duties

In [10]:
def get_req_id(requirement):
    req_id = re.search('(\d)\.', requirement.strip()[:2]).group(1) if re.search('(\d\.)', requirement.strip()[:2]) is \
            not None else np.NaN
    req_sub_id = re.search('\n(a)\.', requirement).group(1) if re.search('\n(a)\.', requirement) is not None \
            else np.NaN
    
    return req_id, req_sub_id

In [11]:
def get_exp_job(requirement):
    exp_id = re.findall(r'(?<=Los Angeles as a )(\w+\s\w+)', requirement)
    if len(exp_id) == 1:
        k1 = exp_id[0]
        k1b = np.NaN
    elif len(exp_id) > 1:
        k1 = exp_id[0]
        k1b = exp_id[1]
    else:
        k1 = k1b = np.NaN
    
    k2 = re.search('(?<=experience)(.+)(;|\.|or)', requirement).group(1).strip() if re.search('(?<=experience)(.+)(;|\.|or)', requirement)\
            is not None else np.NaN
    
    return k1, k1b, k2

In [62]:
def get_features(text, filename, df):
    filename = filename.replace('CityofLA/Job Bulletins\\', '')
    headings = get_headings(text)
    
    job_title, class_code = get_job_class(text)
    
    open_date = get_open_date(text)
    
    salary_start, salary_end, salary_dwp = get_salary(text)
    
    requirement = get_requirement(headings, text)
    
    req_id, req_sub_id = get_req_id(requirement)
    
    duties = get_duties(headings, text)
    
    e1 = requirement.splitlines()[0][-3:].strip() if len(requirement.splitlines()) >1 else np.NaN
    if e1 != 'and' and e1 != 'or':
        e1 = np.NaN
        
    k1, k1b, k2 =  get_exp_job(requirement)   
    
    if re.search('(positions may require a valid California driver\'s license)', text, re.I) is not None:
        p1 = 'P'
        
    elif re.search('(driver\'s license is required)', text, re.I) is not None:
        p1 = 'R'
        
    else:
        p1 = np.NaN
    
    p2 = re.search("((?<=Class)\s\w\s)(?=\D+driver's)", text, re.I).group(0).strip() if \
            re.search("((?<=Class)\s\w\s)(?=\D+driver's)", text, re.I) is not None else np.NaN
    
    try:
        x = re.findall(end_d, text)[0]
        deadline = ''.join(x).strip()
    except:
        deadline = np.NaN
        
    df = df.append({'FILE_NAME': filename, 'JOB_CLASS_TITLE': job_title, 'JOB_CLASS_NO': class_code,\
                   'REQUIREMENT_SET_ID': req_id, 'REQUIREMENT_SUBSET_ID': req_sub_id, 'JOB_DUTIES': duties,\
                   'EXP_JOB_CLASS_TITLE': k1, 'EXP_JOB_CLASS_ALT_RESP': k1b, 'EXP_JOB_CLASS_FUNCTION': k2, \
                    'DRIVERS_LICENSE_REQ': p1, 'DRIV_LIC_TYPE': p2, 'SALARY_START': salary_start, 'SALARY_END': salary_end, \
                    'ENTRY_SALARY_DWP': salary_dwp, 'REQUIREMENTS': requirement, 'APPLICATION_DEADLINE': deadline, \
                    'OPEN_DATE': open_date}, ignore_index = True)
    
    return df

In [63]:
data_df = doextraction('CityofLA/Job Bulletins/*.txt')

In [64]:
def get_extra_features(data_df):
    data_df['EXPERIENCE_LENGTH'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x, re.IGNORECASE).group(1)+ ' ' + re.search(exp_len,x, re.IGNORECASE).group(2) \
                                                              if re.search(exp_len,x, re.IGNORECASE) is not None else np.NaN)
    data_df['Full-time/part-time'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x,re.I).group(3) if re.search(exp_len,x,re.I) is not None else np.NaN)
    data_df['SCHOOL_TYPE'] = data_df.REQUIREMENTS.apply(lambda x: re.search(sch_typ, x, re.I).group(1)\
                                                        if re.search(sch_typ, x, re.I) is not None else np.NaN)

    data_df['EDUCATION_YEARS'] = data_df.REQUIREMENTS.apply(lambda x: re.search(edu_y, x, re.I).group(1)\
                                                           if re.search(edu_y, x, re.I) is not None else np.NaN)


    data_df['EDUCATION_MAJOR'] = data_df.REQUIREMENTS.apply(lambda x: re.search(edu_major, x).group(3)\
                                                           if re.search(edu_major, x) is not None else np.NaN)
    
    return data_df

In [65]:
data_df = get_extra_features(data_df)

In [66]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
data_df

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO REQUIREMENT_SET_ID REQUIREMENT_SUBSET_ID                                         JOB_DUTIES EDUCATION_YEARS  SCHOOL_TYPE                                    EDUCATION_MAJOR EXPERIENCE_LENGTH FULL_TIME_PART_TIME   EXP_JOB_CLASS_TITLE EXP_JOB_CLASS_ALT_RESP                             EXP_JOB_CLASS_FUNCTION COURSE_COUNT COURSE_LENGTH COURSE_SUBJECT MISC_COURSE_DETAILS DRIVERS_LICENSE_REQ DRIV_LIC_TYPE ADDTL_LIC EXAM_TYPE SALARY_START SALARY_END      ENTRY_SALARY_DWP                                       REQUIREMENTS                               APPLICATION_DEADLINE OPEN_DATE Full-time/part-time
0                        311 DIRECTOR  9206 041814.txt                                      311 DIRECTOR         9206                  1                   NaN  A 311 Director is responsible for the successf...             NaN      college                                                NaN          One year                 NaN                   NaN                    NaN  as a Senior Management Analyst with the City o...          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN     $125,175   $155,514                   NaN  1. One year of full-time paid experience as a ...                                THURSDAYMAY 1, 2014  04-18-14           full-time
1                           ACCOUNTANT 1513 062218.txt                                        ACCOUNTANT         1513                NaN                   NaN  An Accountant does professional accounting wor...       four-year      college                                                NaN               NaN                 NaN                   NaN                    NaN                                                NaN          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $49,903    $72,996                   NaN  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018  06-22-18                 NaN
2                     ACCOUNTING CLERK 1223 071318.txt                                  ACCOUNTING CLERK         1223                NaN                   NaN  An Accounting Clerk performs difficult and res...             NaN      college                                                NaN         Two years                 NaN                   NaN                    NaN  , including one year of full-time paid clerica...          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN      $49,005    $71,618                   NaN  Two years of full-time paid office clerical ex...                                                NaN  07-13-18           full-time
3        ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt                     ACCOUNTING RECORDS SUPERVISOR         1119                NaN                   NaN  An Accounting Records Supervisor assigns, revi...             NaN          NaN                                                NaN         Two years                 NaN                   NaN                    NaN  as an Accounting Clerk, or in a class at the l...          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN      $55,332    $80,930                   NaN  Two years of full-time paid experience as an A...                             THURSDAYAUGUST 9, 2018  07-27-18           full-time
4               ADMINISTRATIVE ANALYST 1590 060118.txt                            ADMINISTRATIVE ANALYST         1590                  1                   NaN  An Administrative Analyst performs professiona...       four-year      college                                                NaN          One year                 NaN           Chief Clerk                    NaN  as a Management Assistant with the City of Los...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $60,489    $88,468                   NaN  1. One year of full-time paid professional exp...                              THURSDAYJUNE 14, 2018  06-01-18           full-time
5             ADMINISTRATIVE CLERK 1358 033018 (2).txt                              ADMINISTRATIVE CLERK         1358                NaN                   NaN  An Administrative Clerk performs general offic...             NaN          NaN                                                NaN        Six months                 NaN                   NaN                    NaN                   in clerical work or retail sales          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $37,584    $54,935               $43,785  Six months of full-time paid experience in cle...                             THURSDAYAPRIL 12, 2018  03-30-18           full-time
6      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt                   ADMINISTRATIVE HEARING EXAMINER         9135                  1                   NaN  An Administrative Hearing Examiner conducts qu...             NaN          NaN                                                NaN         Two years                 NaN  Management Assistant         Senior Traffic  with the City of Los Angeles as a Management A...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $54,726    $80,012                   NaN  1. Two years of full-time paid experience with...                           THURSDAYOCTOBER 22, 2015  10-09-15           full-time
7    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...       ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE         2325                  1                     a  An Advance Practice Provider Correctional Care...             NaN          NaN                                                NaN               NaN                 NaN                   NaN                    NaN                                                NaN          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN      $78,487    $97,530                   NaN  1. Must be licensed as a: \na. Registered Nurs...                                                NaN  02-08-08                 NaN
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774                  1                   NaN  An Air Conditioning Mechanic installs, modifie...             NaN   apprentice          refrigeration and air conditioning fitter         Six years                 NaN                   NaN                    NaN  installing, modifying, maintaining, and repair...          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN      $90,118       None               $99,054  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017  04-14-17           full-time
9    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...              AIR CONDITIONING MECHANIC SUPERVISOR         3781                NaN                     a  An Air Conditioning Mechanic Supervisor assign...             NaN          NaN                                                NaN        Four years                 NaN                   NaN                    NaN  as an air conditioning mechanic or in a craft ...          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN     $103,841   $108,482  $127,388 to $134,488  Four years of full-time paid experience as an ...                          THURSDAYNOVEMBER 29, 2018  11-16-18           full-time
10                        AIRPORT AIDE 1540 081018.txt                                      AIRPORT AIDE         1540                NaN                   NaN  An Airport Aide provides services and transpor...             NaN          NaN                                                NaN          One year                 NaN                   NaN                    NaN  as an Airport Guide with the Los Angeles World...          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN      $43,242    $63,203                   NaN  One year of full-time paid experience as an Ai...                            THURSDAYAUGUST 23, 2018  08-10-18           full-time
11   AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...        AIRPORT CHIEF INFORMATION SECURITY OFFICER         1404                  1                   NaN  Airport Chief Information Security Officer man...       four-year      college                                                NaN        Four years                 NaN                   NaN                    NaN  at least at the level of Systems Programmer II...          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN     $125,551   $183,576                   NaN  1. A bachelor's degree from an accredited four...                          THURSDAYDECEMBER 17, 2015  12-04-15           full-time
12                    AIRPORT ENGINEER 7256 070618.txt                                  AIRPORT ENGINEER         7256                  1                   NaN  An Airport Engineer performs professional engi...             NaN          NaN                                                NaN         Two years                 NaN                   NaN                    NaN  at the level of Engineering Associate III in t...          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN     $105,005   $153,509                   NaN  1. Two years of full-time paid professional ex...                              THURSDAYJULY 19, 2018  07-06-18           full-time
13                       AIRPORT GUIDE 0845 042018.txt                                     AIRPORT GUIDE         0845                NaN                   NaN  An Airport Guide directs arriving passengers t...             NaN  high school                                                NaN               NaN                 NaN                   NaN                    NaN  in a position providing customer service at an...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $31,946    $44,265                   NaN  1,040 hours of paid or volunteer experience in...                                THURSDAYMAY 3, 2018       NaN                 NaN
14      AIRPORT INFORMATION SPECIALIST 1783 121115.txt                    AIRPORT INFORMATION SPECIALIST         1783                NaN                   NaN  An Airport Information Specialist provides and...             NaN          NaN                                                NaN               NaN                 NaN                   NaN                    NaN                                                NaN          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN      $42,991    $62,869                   NaN                                                                             THURSDAYDECEMBER 24, 2015  12-11-15                 NaN
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210                  1                   NaN  The Airport Labor Relations Advocate advises s...             NaN      college  private and public sector negotiating and admi...         two years                 NaN                   NaN                    NaN  in private and public sector negotiating and a...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $93,918   $137,327                   NaN  1. Graduation from an accredited college or un...                          THURSDAYFEBRUARY 14, 2019  02-01-19           full-time
16                     AIRPORT MANAGER 7260 120216.txt                                   AIRPORT MANAGER         7260                  1                   NaN  An Airport Manager manages, through subordinat...             NaN          NaN                                                NaN         Two years                 NaN                   NaN                    NaN  with the City of Los Angeles in a class at the...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $99,326   $141,378                   NaN  1. Two years of full-time paid experience with...                          THURSDAYDECEMBER 15, 2016  12-02-16           full-time
17              AIRPORT POLICE CAPTAIN 3228 021618.txt                            AIRPORT POLICE CAPTAIN         3228                NaN                   NaN  An Airport Police Captain plans, supervises, d...             NaN          NaN                                                NaN          One year                 NaN                   NaN                    NaN  as an Airport Police Lieutenant with the Los A...          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN     $142,568   $187,001                   NaN  One year of full-time paid experience as an Ai...                              THURSDAYMARCH 1, 2018  02-16-18           full-time
18           AIRPORT POLICE LIEUTENANT 3227 091616.txt                         AIRPORT POLICE LIEUTENANT         3227                NaN                   NaN  An Airport Police Lieutenant plans, supervises...             NaN          NaN                                                NaN         Two years                 NaN                   NaN                    NaN  as an Airport Police Sergeant with the Los Ang...          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN     $102,186   $134,028                   NaN  Two years of full-time paid experience as an A...                         THURSDAYSEPTEMBER 29, 2016  09-16-16           full-time
19   AIRPORT POLICE OFFICER 3225 110906 Rev 060115.txt                            AIRPORT POLICE OFFICER         3225                  1                   NaN  An Airport Police Officer is a sworn peace off...             NaN  high school                                                NaN               NaN                 NaN                   NaN                    NaN                                                NaN          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN      $51,448    $83,019                   NaN  1. 21 years of age at the time of hire.  Howev...                                                NaN  11-09-06                 NaN
20       AIRPORT POLICE SPECIALIST 3236 063017 (2).txt                         AIRPORT POLICE SPECIALIST         3236                  1                   NaN  As a sworn member of the Los Angeles World Air...             NaN          NaN                                                NaN               NaN                 NaN                   NaN                    NaN                                                NaN          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN          NaN        NaN                   NaN  1. Possess a current California Basic P.O.S.T....                                                NaN  06-30-17                 NaN
21   AIRPORT SUPERINTENDENT OF OPERATIONS 7268 1218...              AIRPORT SUPERINTENDENT OF OPERATIONS         7268                NaN                   NaN  An Airport Superintendent of Operations inspec...             NaN          NaN                                                NaN               NaN                 NaN                   NaN                    NaN                                                NaN          NaN           NaN            NaN                 NaN                   R           NaN       NaN       NaN      $53,682    $78,467                   NaN                                                                             THURSDAYDECEMBER 31, 2015  12-18-15                 NaN
22   AIRPORTS MAINTENANCE SUPERINTENDENT 3331 02151...               AIRPORTS MAINTENANCE SUPERINTENDENT         3331                  1                   NaN  An Airports Maintenance Superintendent plans, ...             NaN          NaN                                                NaN         Two years                 NaN                   NaN                    NaN  as an Airports Maintenance Supervisor, or in a...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $90,369   $132,108                   NaN  1. Two years of full-time paid experience as a...                              THURSDAYMARCH 1, 2018  02-16-18           full-time
23     AIRPORTS MAINTENANCE SUPERVISOR 3336 111618.txt                   AIRPORTS MAINTENANCE SUPERVISOR         3336                  1                   NaN  An Airports Maintenance Supervisor plans, orga...             NaN          NaN                                                NaN        Four years                 NaN                   NaN                    NaN  as an equipment operator, building repairer, b...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $66,523    $97,321                   NaN  1. Four years of full-time paid experience as ...                          THURSDAYNOVEMBER 29, 2018  11-16-18           full-time
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788                  1                   NaN  An Airports Public and Community Relations Dir...       four-year      college  supervising a public relations staff responsib...         Two years                 NaN                   NaN                    NaN  as a Principal Public Relations Representative...          NaN           NaN            NaN                 NaN                   P           NaN       NaN       NaN      $86,777   $123,463                   NaN  1.\t\tTwo years of full-time paid professional...                          THURSDAYDECEMBER 21, 2017  12-08-17           full-time
25               ANIMAL CARE ASSISTANT 4323 020119.txt                             ANIMAL CARE ASSISTANT         4323                  1                   NaN  Animal Care Assistants perform work in the rec...             NaN          NaN                                                NaN        six months                 NaN                   NaN                    NaN  as a Vocational Worker with the City of Los An...          NaN           NaN            NaN                 NaN                 NaN           NaN       NaN       NaN      $39,337    $57,545                   NaN  1. Current employment with the City of Los Ang...                                                NaN  02-01-19           full-time

In [67]:
data_df.DRIV_LIC_TYPE.notnull().sum()

12

In [15]:
data_df['EXPERIENCE_LENGTH'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x, re.IGNORECASE).group(1)+ ' ' + re.search(exp_len,x, re.IGNORECASE).group(2) \
                                                          if re.search(exp_len,x, re.IGNORECASE) is not None else np.NaN)
data_df['Full-time/part-time'] = data_df.REQUIREMENTS.apply(lambda x: re.search(exp_len,x,re.I).group(3) if re.search(exp_len,x,re.I) is not None else np.NaN)

In [16]:

data_df['SCHOOL_TYPE'] = data_df.REQUIREMENTS.apply(lambda x: re.search(sch_typ, x, re.I).group(1)\
                                                    if re.search(sch_typ, x, re.I) is not None else np.NaN)

data_df['EDUCATION_YEARS'] = data_df.REQUIREMENTS.apply(lambda x: re.search(edu_y, x, re.I).group(1)\
                                                       if re.search(edu_y, x, re.I) is not None else np.NaN)


data_df['EDUCATION_MAJOR'] = data_df.REQUIREMENTS.apply(lambda x: re.search(edu_major, x).group(3)\
                                                       if re.search(edu_major, x) is not None else np.NaN)

In [20]:
course_l = r'(\d+\ssemester.+quarter(\sunits)?)'
data_df.COURSE_LENGTH = data_df.REQUIREMENTS.apply(lambda x: re.search(course_l, x, re.I).group(0) if re.search(course_l, x, re.I)\
                                                  is not None else np.NaN)

In [ ]:
data_df.

In [21]:
data_df[data_df.COURSE_LENGTH.notnull()]

                                             FILE_NAME                             JOB_CLASS_TITLE JOB_CLASS_NO REQUIREMENT_SET_ID REQUIREMENT_SUBSET_ID                                         JOB_DUTIES EDUCATION_YEARS  SCHOOL_TYPE                                    EDUCATION_MAJOR EXPERIENCE_LENGTH FULL_TIME_PART_TIME EXP_JOB_CLASS_TITLE EXP_JOB_CLASS_ALT_RESP                             EXP_JOB_CLASS_FUNCTION COURSE_COUNT                                      COURSE_LENGTH COURSE_SUBJECT MISC_COURSE_DETAILS DRIV_LIC_TYPE ADDTL_LIC EXAM_TYPE SALARY_START SALARY_END    ENTRY_SALARY_DWP                                       REQUIREMENTS                               APPLICATION_DEADLINE OPEN_DATE Full-time/part-time
1                           ACCOUNTANT 1513 062218.txt                                  ACCOUNTANT         1513                NaN                   NaN  An Accountant does professional accounting wor...       four-year      college                                                NaN               NaN                 NaN                 NaN                    NaN                                                NaN          NaN                    24 semester or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $49,903    $72,996                 NaN  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018  06-22-18                 NaN
2                     ACCOUNTING CLERK 1223 071318.txt                            ACCOUNTING CLERK         1223                NaN                   NaN  An Accounting Clerk performs difficult and res...             NaN      college                                                NaN         Two years                 NaN                 NaN                    NaN  , including one year of full-time paid clerica...          NaN                      6 semester or 9 quarter units            NaN                 NaN           NaN       NaN       NaN      $49,005    $71,618                 NaN  Two years of full-time paid office clerical ex...                                                NaN  07-13-18           full-time
8            AIR CONDITIONING MECHANIC 3774 041417.txt                   AIR CONDITIONING MECHANIC         3774                  1                   NaN  An Air Conditioning Mechanic installs, modifie...             NaN   apprentice          refrigeration and air conditioning fitter         Six years                 NaN                 NaN                    NaN  installing, modifying, maintaining, and repair...          NaN                    12 semester or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $90,118       None             $99,054  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017  04-14-17           full-time
28             ANIMAL CONTROL OFFICER  4311 061518.txt                      ANIMAL CONTROL OFFICER         4311                  1                   NaN  An Animal Control Officer enforces State and C...             NaN      college                                                NaN          One year                 NaN                 NaN                    NaN  performing animal care, maintenance or control...          NaN              12 semester units or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $46,374    $67,818                 NaN  1. One year of full-time paid experience perfo...                                                NaN  06-15-18           full-time
30              APPARATUS OPERATOR 2121 071417 (1).txt                          APPARATUS OPERATOR         2121                  1                   NaN                                                NaN             NaN      college                                                NaN       three years                 NaN                 NaN                    NaN  in the City of Los Angeles Fire Department by ...          NaN                    15 semester or 24 quarter units            NaN                 NaN           NaN       NaN       NaN      $93,792   $110,455                 NaN  1. Completion of three years of full-time paid...                              THURSDAYJULY 27, 2017  07-14-17           full-time
31             APPLICATIONS PROGRAMMER 1429 062918.txt                     APPLICATIONS PROGRAMMER         1429                  1                   NaN  An Applications Programmer prepares programs b...       four-year      college                                                NaN         two years                 NaN                 NaN                    NaN  performing systems or programming tasks in a p...          NaN                    24 semester or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $58,986    $86,255  $65,417 to $81,285  1. Graduation from an accredited four-year col...                                                NaN  06-29-18           full-time
42   ARCHITECTURAL DRAFTING TECHNICIAN 7922 080417 ...           ARCHITECTURAL DRAFTING TECHNICIAN         7922                  1                   NaN  An Architectural Drafting Technician performs ...             NaN      college                                                NaN         Two years                 NaN                 NaN                    NaN  , one year of which was in architectural compu...          NaN  6 semester or 9 quarter units in architectural...            NaN                 NaN           NaN       NaN       NaN      $50,759    $74,228                 NaN  1. Two years of full-time paid drafting experi...                            THURSDAYAUGUST 24, 2017  08-04-17           full-time
43                           ARCHIVIST 1191 020918.txt                                   ARCHIVIST         1191                  1                   NaN  An Archivist performs professional archival wo...       four-year      college                                                NaN         two years                 NaN                 NaN                    NaN  which include the responsibility for identifyi...          NaN                    30 semester or 45 quarter units            NaN                 NaN           NaN       NaN       NaN      $57,273    $83,728                 NaN  1. A bachelor's degree from an accredited four...                          THURSDAYFEBRUARY 22, 2018  02-09-18           full-time
47           ARTS ASSOCIATE 2454 072117 REV 072817.txt                              ARTS ASSOCIATE         2454                  1                   NaN  An Arts Associate performs a broad range of en...       four-year      college  Arts (design, literary, media/communication, p...         two years                 NaN                 NaN                    NaN  within the last ten years in assisting and coo...          NaN               9 semester units or 14 quarter units            NaN                 NaN           NaN       NaN       NaN      $48,797    $71,326                 NaN  1. A bachelor's degree from an accredited four...                             THURSDAYAUGUST 3, 2017  07-21-17           full-time
54   ASSISTANT COMMUNICATIONS CABLE WORKER 3808 080...       ASSISTANT COMMUNICATIONS CABLE WORKER         3808                  1                   NaN  An Assistant Communications Cable Worker assis...             NaN      college                                                NaN          One year                 NaN                 NaN                    NaN  as a helper in the installation, maintenance, ...          NaN              12 semester units or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $52,096    $74,103  $71,326 to $88,593  1. One year of full-time paid experience as a ...                            THURSDAYAUGUST 24, 2017  08-04-17           full-time
55   ASSISTANT COMMUNICATIONS ELECTRICIAN 3684 0909...        ASSISTANT COMMUNICATIONS ELECTRICIAN         3684                  1                   NaN                                                           two-year      college                                                NaN         Two years                 NaN                 NaN                    NaN  in the installation, construction, repair, ope...          NaN                    30 semester or 45 quarter units            NaN                 NaN           NaN       NaN       NaN      $70,094       None                 NaN  1. Two years of full-time paid experience in t...                         THURSDAYSEPTEMBER 22, 2016  09-09-16           full-time
61   ASSISTANT SIGNAL SYSTEMS ELECTRICIAN 3818 0731...        ASSISTANT SIGNAL SYSTEMS ELECTRICIAN         3818                  1                   NaN  An Assistant Signal Systems Electrician assist...             NaN      college                                                NaN          One year                 NaN                 NaN                    NaN  as a helper in electrical or electronic work a...          NaN                    18 semester or 24 quarter units            NaN                 NaN           NaN       NaN       NaN      $70,094       None                 NaN  1.\t\tOne year of full-time paid experience as...                          SATURDAYNOVEMBER 14, 2015  07-31-15           full-time
64             ASSISTANT UTILITY BUYER 1860 051818.txt                     ASSISTANT UTILITY BUYER         1860                  1                   NaN  An Assistant Utility Buyer assists in purchasi...       four-year      college                                                NaN          one year                 NaN                 NaN                    NaN  in commodity purchasing for use rather than fo...          NaN              24 semester units or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $70,845    $88,030                 NaN  1. Graduation from an accredited four-year col...                               THURSDAYMAY 31, 2018  05-18-18           full-time
132            CITY PLANNING ASSOCIATE 7941 110317.txt                     CITY PLANNING ASSOCIATE         7941                  1                   NaN  A City Planning Associate does professional ci...       four-year      college           long-range and/or current urban planning        four years                 NaN                 NaN                    NaN       in long-range and/or current urban planning;          NaN              24 semester units or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $72,432   $105,903                 NaN  1.  Graduation from an accredited four-year co...                          THURSDAYNOVEMBER 16, 2017  11-03-17           full-time
134        CIVIL ENGINEERING ASSOCIATE 7246 061617.txt                 CIVIL ENGINEERING ASSOCIATE         7246                  1                   NaN  A Civil Engineering Associate performs profess...             NaN      college                                                NaN               NaN                 NaN                 NaN                    NaN                                                NaN          NaN              24 semester units or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $66,231    $94,252  $78,905 to $98,031  1. A Bachelor's or Master's degree in engineer...  TUESDAYJUNE 27, 2017 to 11:59 p.m., THURSDAY, ...  06-16-17                 NaN
135  CIVIL ENGINEERING DRAFTING TECHNICIAN 7232 080...       CIVIL ENGINEERING DRAFTING TECHNICIAN         7232                  1                   NaN  A Civil Engineering Drafting Technician perfor...             NaN  high school                                                NaN         Two years                 NaN                 NaN                    NaN  which includes one year of engineering draftin...          NaN              12 semester units or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $50,759    $74,228  $66,607 to $82,747  1. Completion of 12 semester units or 18 quart...                            THURSDAYAUGUST 24, 2017  08-04-17           full-time
142         COMMUNICATIONS CABLE WORKER 3802 11816.txt                 COMMUNICATIONS CABLE WORKER         3802                NaN                   NaN  A Communications Cable Worker does skilled ele...             NaN      college                                                NaN         Two years                 NaN                 NaN                    NaN  as a helper to a journey-level electrical work...          NaN                    30 semester or 45 quarter units            NaN                 NaN           NaN       NaN       NaN      $58,401    $85,420                 NaN  Two years of full-time paid experience as a he...                          THURSDAYDECEMBER  1, 2016  11-18-16           full-time
145        COMMUNICATIONS ENGINEER 7610 072817 (2).txt                     COMMUNICATIONS ENGINEER         7610                  1                   NaN  A Communications Engineer assigns, reviews, an...       four-year      college  engineering, or upon obtaining a valid Enginee...         Two years                 NaN                 NaN                    NaN  gained post-graduation from an accredited four...          NaN                    12 semester or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $89,638   $127,556                 NaN  1. Two years of full-time paid communications ...                            THURSDAYAUGUST 10, 2017  07-28-17           full-time
146  COMMUNICATIONS ENGINEERING ASSOCIATE 7607 0810...        COMMUNICATIONS ENGINEERING ASSOCIATE         7607                  1                   NaN  A Communications Engineering Associate perform...       four-year      college                                                NaN               NaN                 NaN                 NaN                    NaN                                                NaN          NaN              24 semester units or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $66,231    $96,841                 NaN  1. Graduation from an accredited four-year col...                            THURSDAYAUGUST 23, 2018  08-10-18                 NaN
156             CONSTRUCTION INSPECTOR 7291 042117.txt                      CONSTRUCTION INSPECTOR         7291                  1                   NaN  A Construction Inspector inspects the construc...             NaN      college                                                NaN          One year                 NaN                 NaN                    NaN  as a City of Los Angeles Assistant Inspector I...          NaN  60 semester or 90 quarter units from an accred...            NaN                 NaN           NaN       NaN       NaN      $80,283    $97,092                 NaN  1. One year of full-time paid experience as a ...                                                NaN  04-21-17           full-time
158  CONTROL SYSTEMS ENGINEERING ASSOCIATE 7230 090...       CONTROL SYSTEMS ENGINEERING ASSOCIATE         7230                  1                   NaN  A Control Systems Engineering Associate develo...             NaN      college                                                NaN               NaN                 NaN                 NaN                    NaN                                                NaN          NaN  18 semester units or 27 quarter units of Elect...            NaN                 NaN           NaN       NaN       NaN      $64,456    $94,252                 NaN  1. A Bachelor's or Master's degree in engineer...                         THURSDAYSEPTEMBER 21, 2017  09-08-17                 NaN
161                        CRIMINALIST 2234 030918.txt                                 CRIMINALIST         2234                NaN                   NaN  A Criminalist searches for, collects and prese...       four-year      college                                                NaN               NaN                 NaN                 NaN                    NaN                                                NaN          NaN                     8 semester or 12 quarter units            NaN                 NaN           NaN       NaN       NaN      $65,584    $95,901                 NaN  Graduation from an accredited four-year colleg...                                                NaN  03-09-18                 NaN
172                  DETENTION OFFICER 3211 113018.txt                           DETENTION OFFICER         3211                  1                   NaN  A Detention Officer is an unarmed civilian emp...             NaN  high school                                                NaN        Six months                 NaN                 NaN                    NaN  as a law enforcement officer, correctional off...          NaN                    12 semester or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $46,625    $70,052                 NaN  1. Graduation from a high school or the equiva...                                                NaN  11-30-18           full-time
193         ELECTRIC SERVICE REPRESENTATIVE 020317.txt             ELECTRIC SERVICE REPRESENTATIVE         7520                NaN                   NaN  An Electric Service Representative provides in...             NaN      college                                                NaN        Four years                 NaN                 NaN                    NaN  installing, inspecting, testing, or repairing ...          NaN                    15 semester or 23 quarter units            NaN                 NaN           NaN       NaN       NaN      $70,804    $87,988                 NaN  Four years of full-time paid experience instal...                          THURSDAYFEBRUARY 16, 2017  02-03-17           full-time
197  ELECTRICAL ENGINEERING ASSOCIATE 7525 093016 R...            ELECTRICAL ENGINEERING ASSOCIATE         7525                  1                   NaN  An Electrical Engineering Associate performs p...             NaN      college                                                NaN               NaN                 NaN                 NaN                    NaN                                                NaN          NaN              24 semester units or 36 quarter units            NaN                 NaN           NaN       NaN       NaN      $66,231    $94,252  $77,360 to $96,110  1. A Bachelor's or Master's degree in engineer...  TUESDAYOCTOBER 11, 2016; WEDNESDAY, OCTOBER 12...  09-30-16                 NaN
198  ELECTRICAL ENGINEERING DRAFTING TECHNICIAN 753...  ELECTRICAL ENGINEERING DRAFTING TECHNICIAN         7532                  1                   NaN  An Electrical Engineering Drafting Technician ...             NaN  high school                                                NaN         Two years                 NaN                 NaN                    NaN  in the field of electrical engineering with on...          NaN              12 semester units or 18 quarter units            NaN                 NaN           NaN       NaN       NaN      $51,907    $75,898  $71,660 to $89,011  1. Completion of 12 semester units or 18 quart...  TUESDAYJANUARY 22, 2019 and TUESDAY, JANUARY 2...  11-30-18           full-time

In [17]:
data_df

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_START SALARY_END      ENTRY_SALARY_DWP                                             DUTIES                                       REQUIREMENTS                               APPLICATION_DEADLINE OPEN_DATE   E1 EXPERIENCE_LENGTH Full-time/part-time  SCHOOL_TYPE EDUCATION_YEARS                                    EDUCATION_MAJOR
0                        311 DIRECTOR  9206 041814.txt                                      311 DIRECTOR         9206     $125,175   $155,514                   NaN  A 311 Director is responsible for the successf...  1. One year of full-time paid experience as a ...                                THURSDAYMAY 1, 2014  04-18-14   or          One year           full-time      college             NaN                                                NaN
1                           ACCOUNTANT 1513 062218.txt                                        ACCOUNTANT         1513      $49,903    $72,996                   NaN  An Accountant does professional accounting wor...  Graduation from an accredited four-year colleg...                            SATURDAYAUGUST 25, 2018  06-22-18  NaN               NaN                 NaN      college       four-year                                                NaN
2                     ACCOUNTING CLERK 1223 071318.txt                                  ACCOUNTING CLERK         1223      $49,005    $71,618                   NaN  An Accounting Clerk performs difficult and res...  Two years of full-time paid office clerical ex...                                                NaN  07-13-18  NaN         Two years           full-time      college             NaN                                                NaN
3        ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt                     ACCOUNTING RECORDS SUPERVISOR         1119      $55,332    $80,930                   NaN  An Accounting Records Supervisor assigns, revi...  Two years of full-time paid experience as an A...                             THURSDAYAUGUST 9, 2018  07-27-18  NaN         Two years           full-time          NaN             NaN                                                NaN
4               ADMINISTRATIVE ANALYST 1590 060118.txt                            ADMINISTRATIVE ANALYST         1590      $60,489    $88,468                   NaN  An Administrative Analyst performs professiona...  1. One year of full-time paid professional exp...                              THURSDAYJUNE 14, 2018  06-01-18   or          One year           full-time      college       four-year                                                NaN
5             ADMINISTRATIVE CLERK 1358 033018 (2).txt                              ADMINISTRATIVE CLERK         1358      $37,584    $54,935               $43,785  An Administrative Clerk performs general offic...  Six months of full-time paid experience in cle...                             THURSDAYAPRIL 12, 2018  03-30-18  NaN        Six months           full-time          NaN             NaN                                                NaN
6      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt                   ADMINISTRATIVE HEARING EXAMINER         9135      $54,726    $80,012                   NaN  An Administrative Hearing Examiner conducts qu...  1. Two years of full-time paid experience with...                           THURSDAYOCTOBER 22, 2015  10-09-15   or         Two years           full-time          NaN             NaN                                                NaN
7    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...       ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE         2325      $78,487    $97,530                   NaN  An Advance Practice Provider Correctional Care...  1. Must be licensed as a: \na. Registered Nurs...                                                NaN  02-08-08  NaN               NaN                 NaN          NaN             NaN                                                NaN
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774      $90,118       None               $99,054  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...                             THURSDAYAPRIL 27, 2017  04-14-17   or         Six years           full-time   apprentice             NaN          refrigeration and air conditioning fitter
9    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...              AIR CONDITIONING MECHANIC SUPERVISOR         3781     $103,841   $108,482  $127,388 to $134,488  An Air Conditioning Mechanic Supervisor assign...  Four years of full-time paid experience as an ...                          THURSDAYNOVEMBER 29, 2018  11-16-18  NaN        Four years           full-time          NaN             NaN                                                NaN
10                        AIRPORT AIDE 1540 081018.txt                                      AIRPORT AIDE         1540      $43,242    $63,203                   NaN  An Airport Aide provides services and transpor...  One year of full-time paid experience as an Ai...                            THURSDAYAUGUST 23, 2018  08-10-18  NaN          One year           full-time          NaN             NaN                                                NaN
11   AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...        AIRPORT CHIEF INFORMATION SECURITY OFFICER         1404     $125,551   $183,576                   NaN  Airport Chief Information Security Officer man...  1. A bachelor's degree from an accredited four...                          THURSDAYDECEMBER 17, 2015  12-04-15  and        Four years           full-time      college       four-year                                                NaN
12                    AIRPORT ENGINEER 7256 070618.txt                                  AIRPORT ENGINEER         7256     $105,005   $153,509                   NaN  An Airport Engineer performs professional engi...  1. Two years of full-time paid professional ex...                              THURSDAYJULY 19, 2018  07-06-18   or         Two years           full-time          NaN             NaN                                                NaN
13                       AIRPORT GUIDE 0845 042018.txt                                     AIRPORT GUIDE         0845      $31,946    $44,265                   NaN  An Airport Guide directs arriving passengers t...  1,040 hours of paid or volunteer experience in...                                THURSDAYMAY 3, 2018       NaN  NaN               NaN                 NaN  high school             NaN                                                NaN
14      AIRPORT INFORMATION SPECIALIST 1783 121115.txt                    AIRPORT INFORMATION SPECIALIST         1783      $42,991    $62,869                   NaN  An Airport Information Specialist provides and...                                                                             THURSDAYDECEMBER 24, 2015  12-11-15  NaN               NaN                 NaN          NaN             NaN                                                NaN
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210      $93,918   $137,327                   NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...                          THURSDAYFEBRUARY 14, 2019  02-01-19   or         two years           full-time      college             NaN  private and public sector negotiating and admi...
16                     AIRPORT MANAGER 7260 120216.txt                                   AIRPORT MANAGER         7260      $99,326   $141,378                   NaN  An Airport Manager manages, through subordinat...  1. Two years of full-time paid experience with...                          THURSDAYDECEMBER 15, 2016  12-02-16   or         Two years           full-time          NaN             NaN                                                NaN
17              AIRPORT POLICE CAPTAIN 3228 021618.txt                            AIRPORT POLICE CAPTAIN         3228     $142,568   $187,001                   NaN  An Airport Police Captain plans, supervises, d...  One year of full-time paid experience as an Ai...                              THURSDAYMARCH 1, 2018  02-16-18  NaN          One year           full-time          NaN             NaN                                                NaN
18           AIRPORT POLICE LIEUTENANT 3227 091616.txt                         AIRPORT POLICE LIEUTENANT         3227     $102,186   $134,028                   NaN  An Airport Police Lieutenant plans, supervises...  Two years of full-time paid experience as an A...                         THURSDAYSEPTEMBER 29, 2016  09-16-16  NaN         Two years           full-time          NaN             NaN                                                NaN
19   AIRPORT POLICE OFFICER 3225 110906 Rev 060115.txt                            AIRPORT POLICE OFFICER         3225      $51,448    $83,019                   NaN  An Airport Police Officer is a sworn peace off...  1. 21 years of age at the time of hire.  Howev...                                                NaN  11-09-06  NaN               NaN                 NaN  high school             NaN                                                NaN
20       AIRPORT POLICE SPECIALIST 3236 063017 (2).txt                         AIRPORT POLICE SPECIALIST         3236          NaN        NaN                   NaN  As a sworn member of the Los Angeles World Air...  1. Possess a current California Basic P.O.S.T....                                                NaN  06-30-17  NaN               NaN                 NaN          NaN             NaN                                                NaN
21   AIRPORT SUPERINTENDENT OF OPERATIONS 7268 1218...              AIRPORT SUPERINTENDENT OF OPERATIONS         7268      $53,682    $78,467                   NaN  An Airport Superintendent of Operations inspec...                                                                             THURSDAYDECEMBER 31, 2015  12-18-15  NaN               NaN                 NaN          NaN             NaN                                                NaN
22   AIRPORTS MAINTENANCE SUPERINTENDENT 3331 02151...               AIRPORTS MAINTENANCE SUPERINTENDENT         3331      $90,369   $132,108                   NaN  An Airports Maintenance Superintendent plans, ...  1. Two years of full-time paid experience as a...                              THURSDAYMARCH 1, 2018  02-16-18   or         Two years           full-time          NaN             NaN                                                NaN
23     AIRPORTS MAINTENANCE SUPERVISOR 3336 111618.txt                   AIRPORTS MAINTENANCE SUPERVISOR         3336      $66,523    $97,321                   NaN  An Airports Maintenance Supervisor plans, orga...  1. Four years of full-time paid experience as ...                          THURSDAYNOVEMBER 29, 2018  11-16-18   or        Four years           full-time          NaN             NaN                                                NaN
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788      $86,777   $123,463                   NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...                          THURSDAYDECEMBER 21, 2017  12-08-17   or         Two years           full-time      college       four-year  supervising a public relations staff responsib...
25               ANIMAL CARE ASSISTANT 4323 020119.txt                             ANIMAL CARE ASSISTANT         4323      $39,337    $57,545                   NaN  Animal Care Assistants perform work in the rec...  1. Current employment with the City of Los Ang...                                                NaN  02-01-19  and        six months           full-time          NaN             NaN                                                NaN
26   ANIMAL CARE TECHNICIAN 4310 040116 REV 041416.txt                            ANIMAL CARE TECHNICIAN         4310      $38,565    $56,396                   NaN  An Animal Care Technician receives and cares f...                                                                                THURSDAYAPRIL 21, 2016  04-01-16  NaN               NaN                 NaN          NaN             NaN                                                NaN
27   ANIMAL CARE TECHNICIAN SUPERVISOR 4313 122118.txt                          WATER TREATMENT OPERATOR         5885      $65,646    $81,536                   NaN  A Water Treatment Operator does skilled work i...  A valid T2 (or higher) Water Treatment Operato...                           THURSDAYJANUARY 10, 2019  12-21-18  NaN               NaN                 NaN          NaN             NaN                                                NaN
28             ANIMAL CONTROL OFFICER  4311 061518.txt                            ANIMAL CONTROL OFFICER         4311      $46,374    $67,818                   NaN  An Animal Control Officer enforces State and C...  1. One year of full-time paid experience perfo...                                                NaN  06-15-18   or          One year           full-time      college             NaN                                                NaN
29                       ANIMAL KEEPER 4304 083118.txt                                     ANIMAL KEEPER         4304      $45,810    $66,983                   NaN  An Animal Keeper cares for exotic mammals, bir...  1. One year of full-time paid experience in th...                         THURSDAYSEPTEMBER 13, 2018  08-31-18   or          One year           full-time      college             NaN                                                NaN
..                                                 ...                                               ...          ...          ...        ...                   ...                                                ...                                                ...                                                ...       ...  ...               ...                 ...          ...             ...                                                ...
170                    DELIVERY DRIVER 1121 032318.txt                                   DELIVERY DRIVER         1121      $36,519    $53,390    $36,769 to $45,685  A Delivery Driver operates a City automobile, ...  1. Current paid employment with the City of Lo...                              THURSDAYAPRIL 5, 2018  03-23-18  and               NaN                 NaN          NaN             NaN                                                NaN
171  DEPARTMENTAL CHIEF ACCOUNTANT 1593 111717 revi...                     DEPARTMENTAL CHIEF ACCOUNTANT         1593      $91,913   $130,771                   NaN  A Departmental Chief Accountant plans and dire...  Two years of full-time paid professional accou...                          THURSDAYNOVEMBER 30, 2017  11-17-17  NaN         Two years           full-time          NaN             NaN                                                NaN
172                  DETENTION OFFICER 3211 113018.txt                                 DETENTION OFFICER         3211      $46,625    $70,052                   NaN  A Detention Officer is an unarmed civilian emp...  1. Graduation from a high school or the equiva...                                                NaN  11-30-18  and        Six months           full-time  high school             NaN                                                NaN
173      DIRECTOR OF AIRPORT MARKETING 1768 042718.txt                     DIRECTOR OF AIRPORT MARKETING         1768     $123,066   $179,943                   NaN  The Director of Airport Marketing directs prof...  1. A Bachelor's Degree from an accredited coll...                               THURSDAYMAY 10, 2018  04-27-18  NaN        Four years           full-time      college             NaN                                                NaN
174  DIRECTOR OF AIRPORT OPERATIONS 9304 062317 (3)...                    DIRECTOR OF AIRPORT OPERATIONS         9304     $141,858   $201,867                   NaN  A Director of Airport Operations plans, coordi...  1. Current employment with the City of Los Ang...                               THURSDAYJULY 6, 2017  06-23-17  and        Four years           full-time          NaN             NaN                                                NaN
175  DIRECTOR OF AIRPORTS ADMINISTRATION 9302 01271...      DIRECTOR OF AIRPORTS ADMINISTRATION\tREVISED         9302     $141,859   $201,868                   NaN  Plans, directs, and coordinates the administra...  1. Two years of full-time paid experience with...                           THURSDAYFEBRUARY 9, 2017  01-27-17   or         Two years           full-time          NaN             NaN                                                NaN
176  DIRECTOR OF COMMUNICATIONS SERVICES 7625 04271...               DIRECTOR OF COMMUNICATIONS SERVICES         7625     $123,066   $179,943                   NaN  The Director of Communications Services direct...  1. Four years of full-time paid experience at ...                               THURSDAYMAY 10, 2018  04-27-18   or        Four years           full-time          NaN             NaN                                                NaN
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266     $123,066   $179,943                   NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...                           THURSDAYFEBRUARY 8, 2018  01-26-18   or         two years           full-time      college       four-year  any of the following areas:  the management an...
178       DIRECTOR OF FIELD OPERATIONS 4321 040618.txt                      DIRECTOR OF FIELD OPERATIONS         4321     $101,831   $148,853                   NaN  The Director of Field Operations plans, direct...  1. Three years of full-time paid experience wi...                             THURSDAYAPRIL 19, 2018  04-06-18   or       Three years           full-time          NaN             NaN                                                NaN
179                DIRECTOR OF HOUSING 1568 062317.txt                               DIRECTOR OF HOUSING         1568     $120,644   $171,654                   NaN  A Director of Housing plans, directs and coord...  Two years of full-time paid professional exper...                               THURSDAYJULY 6, 2017  06-23-17  NaN         Two years           full-time          NaN             NaN                                                NaN
180   DIRECTOR OF MAINTENANCE AIRPORTS 7270 041516.txt                  DIRECTOR OF MAINTENANCE AIRPORTS         7270     $108,576   $154,512                   NaN  A Director of Maintenance Airports directs, or...                                                                                THURSDAYAPRIL 28, 2016  04-15-16  NaN               NaN                 NaN          NaN             NaN                                                NaN
181  DIRECTOR OF POLICE TRANSPORTATION 3722 061915.txt                 DIRECTOR OF POLICE TRANSPORTATION         3722     $100,370   $124,695                   NaN  A Director of Police Transportation plans, org...                                                                                  THURSDAYJULY 2, 2015  06-19-15  NaN               NaN                 NaN          NaN             NaN                                                NaN

In [44]:
data_df.EDUCATION_MAJOR.isnull().sum()

195

In [68]:
data_df[data_df.EDUCATION_MAJOR.notnull()]

                                             FILE_NAME                                   JOB_CLASS_TITLE JOB_CLASS_NO SALARY_START SALARY_END      ENTRY_SALARY_DWP                                             DUTIES                                       REQUIREMENTS        APPLICATION_DEADLINE OPEN_DATE SCHOOL_TYPE EDUCATION_YEARS                                    EDUCATION_MAJOR
8            AIR CONDITIONING MECHANIC 3774 041417.txt                         AIR CONDITIONING MECHANIC         3774      $90,118       None               $99,054  An Air Conditioning Mechanic installs, modifie...  1. Completion of a recognized apprenticeship a...      THURSDAYAPRIL 27, 2017  04-14-17  apprentice             NaN          refrigeration and air conditioning fitter
15    AIRPORT LABOR RELATIONS ADVOCATE 9210 020119.txt                  AIRPORT LABOR RELATIONS ADVOCATE         9210      $93,918   $137,327                   NaN  The Airport Labor Relations Advocate advises s...  1. Graduation from an accredited college or un...   THURSDAYFEBRUARY 14, 2019  02-01-19     college             NaN  private and public sector negotiating and admi...
24   AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECTOR         1788      $86,777   $123,463                   NaN  An Airports Public and Community Relations Dir...  1.\t\tTwo years of full-time paid professional...   THURSDAYDECEMBER 21, 2017  12-08-17     college       four-year  supervising a public relations staff responsib...
34                            AQUARIST 2400 050214.txt                                          AQUARIST         2400      $55,624    $69,133                   NaN  An Aquarist procures and maintains a variety o...  1. Graduation from a recognized four-year coll...        THURSDAYMAY 15, 2014  05-02-14     college       four-year                               a biological science
45              ART CURATOR 2448 071516 REV 072816.txt                                       ART CURATOR         2448      $50,342    $73,581                   NaN  An Art Curator performs professional curatoria...  1. A master's degree from an accredited four-y...      THURSDAYAUGUST 4, 2016  07-15-16     college       four-year  visual arts such as Art, Art History, Museum S...
47           ARTS ASSOCIATE 2454 072117 REV 072817.txt                                    ARTS ASSOCIATE         2454      $48,797    $71,326                   NaN  An Arts Associate performs a broad range of en...  1. A bachelor's degree from an accredited four...      THURSDAYAUGUST 3, 2017  07-21-17     college       four-year  Arts (design, literary, media/communication, p...
48                        ARTS MANAGER 2455 092818.txt                                      ARTS MANAGER         2455      $59,842    $87,508                   NaN  An Arts Manager assigns, reviews and evaluates...  1. Three years of full-time paid experience as...    THURSDAYOCTOBER 11, 2018  09-28-18     college       four-year  Art History, Art Administration, Architecture,...
78               BLACKSMITH 3733 082517 REV 090717.txt                                        BLACKSMITH         3733      $83,352       None    $76,608 to $95,191  A blacksmith forges, shapes, forms, bends, cut...  1. Completion of an apprenticeship as a blacks...  THURSDAYSEPTEMBER 14, 2017  08-25-17  apprentice             NaN                                         blacksmith
93   CABLE TELEVISION PRODUCTION MANAGER 1801 12141...               CABLE TELEVISION PRODUCTION MANAGER         1801      $78,279   $114,443                   NaN  A Cable Television Production Manager supervis...  1. Graduation from an accredited four-year col...   THURSDAYDECEMBER 27, 2018  12-14-18     college       four-year  Television/Film Production, Journalism, Commun...
94                           CARPENTER 3344 011218.txt                                         CARPENTER         3344      $86,312       None               $93,542  A Carpenter does skilled rough and finish carp...  1. Completion of an apprenticeship as a carpen...    THURSDAYJANUARY 25, 2018  01-12-18  apprentice             NaN                          carpenter or cabinetmaker
96                        CARPET LAYER 3418 061915.txt                                      CARPET LAYER         3418      $81,682       None                   NaN  A Carpet Layer installs, removes, and repairs ...  1. Completion of a recognized three year appre...        THURSDAYJULY 2, 2015  06-19-15  apprentice             NaN                                       carpet layer
97                     CEMENT FINISHER 3353 030918.txt                                   CEMENT FINISHER         3353      $79,244       None    $83,373 to $88,030  A Cement Finisher does skilled work in mixing,...  1. Four years of full-time paid experience wit...      THURSDAYMARCH 22, 2018  03-09-18  apprentice             NaN                                    cement finisher
118         CHIEF INTERNAL AUDITOR 1619 090916 (5).txt                            CHIEF INTERNAL AUDITOR         1619     $111,750   $159,022                   NaN  A Chief Internal Auditor plans, organizes and ...  1. Graduation from an accredited four-year col...  THURSDAYSEPTEMBER 22, 2016  09-09-16     college       four-year  accounting, business administration, informati...
120      CHIEF OF AIRPORT PLANNING 7945 032417 (3).txt                         CHIEF OF AIRPORT PLANNING         7945     $105,736   $150,398                   NaN  A Chief of Airport Planning, under the general...  1. Graduation from an accredited four-year col...       THURSDAYAPRIL 6, 2017       NaN     college       four-year  civil, structural, or traffic engineering, arc...
132            CITY PLANNING ASSOCIATE 7941 110317.txt                           CITY PLANNING ASSOCIATE         7941      $72,432   $105,903                   NaN  A City Planning Associate does professional ci...  1.  Graduation from an accredited four-year co...   THURSDAYNOVEMBER 16, 2017  11-03-17     college       four-year           long-range and/or current urban planning
145        COMMUNICATIONS ENGINEER 7610 072817 (2).txt                           COMMUNICATIONS ENGINEER         7610      $89,638   $127,556                   NaN  A Communications Engineer assigns, reviews, an...  1. Two years of full-time paid communications ...     THURSDAYAUGUST 10, 2017  07-28-17     college       four-year  engineering, or upon obtaining a valid Enginee...
168                 DATABASE ARCHITECT 1470 083118.txt                                DATABASE ARCHITECT         1470      $97,781   $142,944  $113,670 to $141,211  A Database Architect performs technical and ad...  1. A bachelor's degree from an accredited four...  THURSDAYSEPTEMBER 13, 2018  08-31-18     college       four-year  information systems, software engineering, com...
177  DIRECTOR OF ENFORCEMENT OPERATIONS 4266 012618...                DIRECTOR OF ENFORCEMENT OPERATIONS         4266     $123,066   $179,943                   NaN  A Director of Enforcement Operations plans, co...  1. Graduation from an accredited four-year col...    THURSDAYFEBRUARY 8, 2018  01-26-18     college       four-year  any of the following areas:  the management an...
190     ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                    ELECTRIC DISTRIBUTION MECHANIC         3879      $74,666    $96,006                   NaN  An entry-level Electric Distribution Mechanic ...  1 Completion of an apprenticeship program sanc...                         NaN  04-07-17  apprentice             NaN  conjunction with the National Electrical Contr...
194     ELECTRIC STATION OPERATOR  5224 070717 (3).txt                         ELECTRIC STATION OPERATOR         5224      $55,415    $68,841                   NaN                                                     1. Completion of at least eight months in the ...       THURSDAYJULY 20, 2017  07-07-17     college             NaN    physics, chemistry, electricity, or electronics
199               ELECTRICAL INSPECTOR 4221 030218.txt                              ELECTRICAL INSPECTOR         4221      $81,494    $98,553                   NaN  An Electrical Inspector inspects new, existing...  1. Four years of full-time paid experience as ...      THURSDAYMARCH 15, 2018  03-02-18  apprentice             NaN  residential and commercial OR residential and ...

In [53]:
data_df.SALARY_END = data_df.SALARY_END.apply(lambda x: x if x is not None else '(flat-rated)')

In [27]:
sch_typ = r'(college|university|high school)'
m = re.search(sch_typ, "A Bachelor's degree from a recognized college or university", re.I)

In [20]:
m.group(1)

"Bachelor's"

In [ ]:
edu = r'((bachelor|graduat)[A-Z]*)\D+((one|two|three|four|five|six|seven|eight|nine)-(year|years))(\D+(college|university)\D+((degree)\sin\s(\w+)))*'
((bachelor's|bachelor|graduat)[A-Z]*)*\D+(((one|two|three|four|five|six|seven|eight|nine)-(year|years))|(\d\s(semester|quarter)))*\D+(college|university)(\D+((degree)\sin\s(\w+)))*
  ((High School|bachelor|graduat)['a-z]*)\D+(?<=from)\D+(\s\w+(?=-year))(?:\D+)(college|university|high school)

In [39]:
with open('CityofLA/Job Bulletins/APPARATUS OPERATOR 2121 071417 (1).txt', encoding = 'utf-8') as f:
    p = f.read()
    headings = []
    for line in p.split('\n'):
        if line.isupper():
            headings.append(line.strip())
            
    x = headings.index([elm for elm in headings if elm.startswith('REQUIREMENT')][0])
    m = re.search(headings[x], p).end()
    n = re.search(headings[x+1], p).start()
    requirement = p[m:n].strip()
    print(requirement)
    salary_range = re.search(sal, p)
    q = re.search('(?<=experience)(.+)(;|\.|or)', requirement).group(1).strip()
    p2 = re.search("((?<=Class)\s[A-Z]\s)(?=\D+driver's)", p).group(0).strip()

1. Completion of three years of full-time paid fire suppression certified experience in the City of Los Angeles Fire Department by March 16, 2018.  Under the policy of rounding experience to the nearest full month, continuous service beginning on or before March 30, 2015 meets the requirement; and
2. A valid California Commercial Class B driver's license with either the Haz-Mat & Tank Endorsements (X) or the Firefighter Endorsement (RSTR 50); or
3. A valid out of state commercial driver's license (comparable to California Class B driver's license) with endorsements comparable to either the California Haz-Mat & Tank Endorsements (X) or the California Firefighter Endorsement (RSTR 50) and a LAFD approved letter (F-225).

Completion of 15 semester or 24 quarter units in Fire Science/Fire Protection Administration at an accredited college or university may be substituted for a maximum of six months of the required experience.

In [40]:
p2

'B'

26